.mm-navbar
  background-color: #fff

.mm-navbars_top
  border: none

.mm-menu_navbar_top-1 .mm-panels
  top: 120px

.mm-navbar
  height: auto
  border: none

#mm-1
  padding-top: 0 !important
  .mm-navbar
    display: none !important

.mm-panels
  .mm-navbar__title
    text-align: left
    font-size: 16px
    font-weight: 700
    line-height: 20px
    color: #333 !important

.mm-listitem:after
  display: none

.mm-menu
  background-color: #fff

.mm-navbars_bottom>.mm-navbar:not(.mm-navbar_has-btns), .mm-navbars_top>.mm-navbar:not(.mm-navbar_has-btns)
  display: block
  height: 120px

.mm-listitem .mm-btn_next:not(.mm-btn_fullwidth)
  width: 100%

.mobile-header #menu
  display: none

.mm-listitem__text
  padding: 0

.menu-navbar
  display: block

.mm-menu--theme-light
  --mm-color-background: #fff

.mm-navbars--top
  border: none

.mm-navbar__title
  justify-content: flex-start

.mm-btn--next
  position: absolute
  left: 0
  bottom: 0
  display: block
  width: 100%
  height: 100%
  border: none !important

#mm-1
  .mm-listview
    position: relative
    min-height: 100%
    padding-bottom: 230px

.mm-panel:after
  display: none

#my-button
  background: transparent
  border: none

#menu:not(.mm-menu)
  display: none
