.position-second {
  padding-left: 240px;
}

@media (max-width: 767px) {
  .position-second {
    padding-left: 0;
  }
}

p {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

.content-title {
  display: block;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0 0 20px 0;
  font-weight: 800;
}

.content-title span {
  color: var(--main-elements-color, #2363d1);
}

@media (max-width: 767px) {
  .content-title {
    font-size: 18px;
  }
}

.content-title-small {
  display: block;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin: -5px 0 30px 0;
  padding: 0 100px;
}

@media (max-width: 767px) {
  .content-title-small {
    font-size: 16px;
    padding: 0;
  }
}

.text-padding {
  padding: 0 100px;
}

@media (max-width: 767px) {
  .text-padding {
    padding: 0;
  }
}

.container {
  width: 100%;
  max-width: 1210px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--small {
  max-width: 1010px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .logo img {
    max-width: 150px;
  }
}

@media (max-width: 374px) {
  .logo img {
    max-width: 120px;
  }
}

.section {
  padding: 40px 0;
}

@media (max-width: 767px) {
  .section {
    padding: 20px 0;
  }
}

@media (max-width: 767px) {
  .section--lk-main {
    padding-bottom: 0;
  }
}

.section-dark {
  padding: 40px 0;
  background: #f5f5f5;
}
.section-dark.feedback-form {
  background-color: var(--feedback-form-section-bg-color, #f5f5f5);
}
.frontpage .section-first,
.frontpage .section-first-alter {
  background-color: var(--frontpage-first-screen-bg-color, #f5f5f5);
}

@media (max-width: 767px) {
  .section-dark {
    padding: 20px 0;
    background: #e5e5ea;
  }
}

@media (max-width: 767px) {
  .section-mobile-margin {
    margin-top: -19px;
  }
}

@media (max-width: 767px) {
  .section-first {
    padding-top: 2px;
    background: #fff;
  }
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.welcome__text {
  padding-top: 20px;
}

.welcome__side {
  width: 220px;
}

@media (max-width: 767px) {
  .welcome__side {
    width: calc(100% + 30px);
    margin: 0 -15px 0 -15px;
    /* background: #fff; */
    padding: 0 15px 15px 15px;
  }
}

.welcome__content {
  width: calc(100% - 240px);
}

@media (max-width: 767px) {
  .welcome__content {
    width: 100%;
  }
}

/* НОВЫЙ СТИЛ  */
@media only screen and (max-width: 576px) {
  .welcome__side {
    padding: 0;
  }
}

.privilege-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .privilege-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.privilege-item {
  width: calc(100% / 2 - 10px);
  padding: 31px 50px;
  background: #fff;
}

@media (max-width: 991px) {
  .privilege-item {
    width: calc(100% / 2 - 15px);
    padding: 25px 30px;
  }
}

@media (max-width: 767px) {
  .privilege-item {
    width: 100%;
    border: 1px solid #e5e5ea;
    margin-bottom: 12px;
  }
}

.privilege-item:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .privilege-item:last-child {
    margin-bottom: 0;
  }
}

.privilege-item__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  display: block;
  margin-bottom: 15px;
}

.privilege-item p {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 20px;
}

ul.marker-list {
  margin-bottom: 15px;
}

ul.marker-list li {
  position: relative;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
  padding-left: 23px;
}

ul.marker-list li:before {
  content: "";
  width: 12px;
  height: 2px;
  background-color: var(--main-elements-color, #2363d1);
  display: block;
  position: absolute;
  left: 0;
  top: 8px;
}

ol.number-list {
  margin-bottom: 40px;
  counter-reset: myCounter;
  list-style-type: none;
  padding-top: 10px;
}

ol.number-list li {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 23px;
  padding-left: 50px;
}

ol.number-list li:before {
  content: "";
  counter-increment: myCounter;
  content: counter(myCounter) !important;
  position: absolute;
  left: 0;
  top: -10px;
  line-height: 16px;
  width: 36px;
  height: 36px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color: var(--main-elements-color, #2363d1);
  line-height: 32px;
  text-align: center;
  background: #fff;
}

#sync1 {
  margin-bottom: 15px;
}

#sync1 .item {
  width: 320px;
  height: 320px;
}

@media (max-width: 767px) {
  #sync1 .item {
    margin: 0 auto;
    height: 280px;
    width: 100%;
  }
}

#sync1 .item img {
  overflow: hidden;
  object-fit: contain;
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
}

#sync2 {
  margin-left: 49px;
  width: 224px;
}

@media (max-width: 767px) {
  #sync2 {
    display: none;
  }
}

#sync2 .item {
  width: 64px;
  height: 48px;
  border: 1px solid #dadde0;
  cursor: pointer;
}

#sync2 .item img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

#sync2 .owl-next {
  display: none;
}

#sync2 .owl-prev {
  display: none;
}

#sync2 .current .item {
  border-color: var(--main-elements-color, #2363d1);
}

.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}

.owl-theme .owl-nav [class*="owl-"] {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.owl-theme .owl-nav [class*="owl-"].disabled:hover {
  background-color: #d6d6d6;
}

#sync1.owl-theme {
  position: relative;
}

#sync1.owl-theme .owl-next {
  width: 15px;
  height: 16px;
  position: absolute;
  bottom: -45px;
  right: 10px;
  font-size: 0;
  text-indent: -9999px;
  // background: url(../images/slideshow-arrow.svg) 50% 50% no-repeat;
  cursor: pointer;
}

@media (max-width: 767px) {
  #sync1.owl-theme .owl-next {
    bottom: -40px;
    right: 0;
    width: 48px;
    height: 48px;
    background-color: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    background-position: calc(50% - 3px) 50%;
  }
}

#sync1.owl-theme .owl-prev {
  width: 15px;
  height: 16px;
  position: absolute;
  bottom: -45px;
  left: 10px;
  font-size: 0;
  text-indent: -9999px;
   //background: url(../images/slideshow-arrow.svg) 50% 50% no-repeat;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  cursor: pointer;
}

@media (max-width: 767px) {
  #sync1.owl-theme .owl-prev {
    bottom: -40px;
    left: 0;
    width: 48px;
    height: 48px;
    background-color: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    background-position: calc(50% - 3px) 50%;
  }
}

#sync1.owl-theme .owl-dots {
  width: calc(100% - 120px);
  text-align: center;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 767px) {
  #sync1.owl-theme .owl-dots {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    top: 30px;
  }
}

#sync1.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 6px;
  background: #c4c4c4;
  display: inline-block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

@media (max-width: 767px) {
  #sync1.owl-theme .owl-dots .owl-dot span {
    background: #c4c4c4;
  }
}

#sync1.owl-theme .owl-dots .owl-dot.active span,
#sync1.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--main-elements-color, #2363d1) !important;
}

.char {
  margin-bottom: 40px;
}

.char li {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 767px) {
  .char li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.char .char-text {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  display: block;
}

@media (max-width: 767px) {
  .char .char-text {
    color: #a9b1b9;
    line-height: 24px;
  }
}

.char .char-text__mask {
  position: relative;
  background: #fff;
  padding: 0 10px 5px 0px;
  height: 16px;
}

.char .char-text:first-child {
  width: 300px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .char .char-text:first-child {
    width: auto;
    margin-right: 0;
  }
}

.char .char-text:first-child:before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 3px;
  // background: url(../images/dot.png) 0 0 repeat-x;
}

@media (max-width: 767px) {
  .char .char-text:first-child:before {
    display: none;
  }
}

.char .char-text:last-child {
  width: calc(100% - 315px);
}

@media (max-width: 767px) {
  .char .char-text:last-child {
    width: auto;
    font-size: 18px;
    color: #000;
  }
}

.hint {
  margin-left: 5px;
  z-index: 10;
}

@media (min-width: 768px) {
  .hint {
    position: relative;
  }
}

.hint__link {
  width: 20px;
  height: 20px;
  border: 1px solid #a9b1b9;
  border-radius: 50%;
  // background: #fff url(../images/hint.svg) 50% 50% no-repeat;
  cursor: pointer;
  display: inline-block;
  margin-bottom: -5px;
}

.hint__text {
  position: absolute;
  top: 35px;
  left: -50px;
  display: none;
  width: 380px;
  background: #fff;
  border-radius: 2px;
  padding: 25px 30px;
  -webkit-box-shadow: 0px 2px 25px rgba(118, 118, 118, 0.15);
  box-shadow: 0px 2px 25px rgba(118, 118, 118, 0.15);
  font-size: 14px;
  line-height: 20px;
  color: #7c8994;
  z-index: 99;
}

@media (max-width: 767px) {
  .hint__text {
    left: 0;
    top: 25px;
    width: 290px;
    padding: 10px 15px;
  }
}

.hint__text span {
  position: relative;
  z-index: 9;
}

.hint__text:before {
  content: "";
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: -8px;
  left: 50px;
  z-index: 0;
}

@media (max-width: 767px) {
  .hint__text:before {
    display: none;
  }
}

.hint:hover .hint__text {
  display: block;
}

.share-block {
  position: relative;
  display: inline-block;
  width: 100%;
}

.share-block a {
  cursor: pointer;
}

.share-block__show {
  position: absolute;
  top: 55px;
  left: -15px;
  display: none;
  width: 380px;
  background: #fff;
  border-radius: 2px;
  padding: 25px 30px;
  -webkit-box-shadow: 0px 2px 25px rgba(118, 118, 118, 0.15);
  box-shadow: 0px 2px 25px rgba(118, 118, 118, 0.15);
  font-size: 14px;
  line-height: 20px;
  color: #7c8994;
  z-index: 99;
}

@media (max-width: 1100px) {
  .share-block__show {
    left: auto;
    right: 0;
  }
}

@media (max-width: 767px) {
  .share-block__show {
    top: 55px;
    width: 290px;
    padding: 15px 15px;
  }
}

.share-block__show:after {
  content: "";
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: -8px;
  left: 80px;
  z-index: 0;
}

@media (max-width: 767px) {
  .share-block__show:after {
    display: none;
  }
}

@media (max-width: 1100px) {
  .share-block__show:after {
    left: auto;
    right: 35px;
  }
}

@media (max-width: 767px) {
  .share-block__show:after {
    display: none;
  }
}

@media (max-width: 1100px) {
  .share-block__show--right {
    left: 0px;
    right: auto;
  }
}

.share-block__show--right:after {
  left: 80px;
}

@media (max-width: 1100px) {
  .share-block__show--right:after {
    right: auto;
    left: 35px;
  }
}

.share-block p {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 20px;
  color: #7c8994;
}

.share-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.share-social {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 18px;
  background: var(--main-elements-color, #2363d1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.share-social:hover {
  opacity: 0.8;
}

.share-social img {
  width: auto;
  max-width: 80%;
  margin: 0;
  -o-object-fit: contain;
  object-fit: contain;
}

.share-social--orange {
  background: #ff9500;
}

.btn-calculate {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 45px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--main-elements-color, #2363d1);
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  border-radius: 2px;
  height: 48px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 479px) {
  .btn-calculate {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
  }
}

.btn-calculate:hover {
  background: var(--main-elements-hover-color, #1c52ac);
}

.btn-calculate:active {
  background: #164593;
}

.btn-calculate .icon {
  margin-right: 10px;
  margin-bottom: -2px;
}

.btn-calculate .icon svg {
  width: 38px;
}

.btn-get-an-account {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 45px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #d74853;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  border-radius: 2px;
  height: 48px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 479px) {
  .btn-get-an-account {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
  }
}

.btn-get-an-account:hover {
  background: #d74853;
}

.btn-get-an-account:active {
  background: #d74853;
}

.btn-get-an-account .icon {
  margin-right: 10px;
  margin-bottom: -2px;
}

.btn-get-an-account .icon svg {
  width: 36px;
}

.btn-calculate-min {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid var(--main-elements-color, #2363d1);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  font-weight: bold;
  font-size: 11px;
  color: var(--main-elements-color, #2363d1);
  border-radius: 2px;
  height: 32px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}

@media (max-width: 479px) {
  .btn-calculate-min {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
  }
}

.btn-calculate-min:hover {
  background: var(--main-elements-hover-color, #1c52ac);
  color: #fff;
}

.btn-calculate-min:hover .icon svg {
  color: #fff;
}

.btn-calculate-min:active {
  background: #164593;
  color: #fff;
}

.btn-calculate-min:active .icon svg {
  color: #fff;
}

.btn-calculate-min .icon {
  margin-right: 5px;
  margin-bottom: -2px;
}

.btn-calculate-min .icon svg {
  width: 26px;
  height: 16px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn-get-an-account-min {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid var(--invoice-button-color, #d74853);
  font-weight: bold;
  font-size: 11px;
  color: var(--invoice-button-font-color, #d74853);
  border-radius: 2px;
  height: 32px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}

@media (max-width: 479px) {
  .btn-get-an-account-min {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
  }
}

.btn-get-an-account-min:hover {
  color: #fff;
}

.btn-get-an-account-min:hover .icon svg {
  color: #fff;
}

.btn-get-an-account-min:active {
  color: #fff;
}

.btn-get-an-account-min:active .icon svg {
  color: #fff;
}

.btn-get-an-account-min .icon {
  margin-right: 5px;
  margin-bottom: -2px;
}

.btn-get-an-account-min .icon svg {
  width: 24px;
  height: 16px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.orange-color {
  color: #ff9500 !important;
}

.red-color {
  color: #d74853 !important;
}

.green-color {
  color: #3ec28f !important;
}

.document-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #f6f6f6;
  padding: 10px 0;
}

@media (max-width: 767px) {
  .document-item {
    border-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding-left: 40px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.document-item__text {
  display: block;
  width: 350px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

@media (max-width: 767px) {
  .document-item__text {
    margin-bottom: 10px;
    width: auto;
  }
}

.document-item__text a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.document-item__text a:hover {
  color: var(--main-elements-color, #2363d1);
}

.document-item__format {
  display: block;
  // background: url(../images/format-file.svg);
  width: 32px;
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .document-item__format {
    position: absolute;
    left: 0;
    width: 22px;
    height: 27px;
    background-size: 22px 27px;
    font-size: 7px;
    line-height: 4px;
  }
}

.document-item__size {
  font-size: 14px;
  line-height: 18px;
  color: #7c8994;
}

@media (max-width: 767px) {
  .document-item__size {
    color: #a9b1b9;
  }
}

@media (max-width: 767px) {
  .document-item__btn {
    display: none;
  }
}

.document-item__btn .btn {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  height: 40px;
  line-height: 38px;
  width: 110px;
  font-size: 11px;
  color: #000000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.document-item__btn .btn:hover {
  background: var(--main-elements-color, #2363d1);
  color: #fff;
  border-color: var(--main-elements-color, #2363d1);
}

.reviews {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .reviews {
    width: calc(100% + 30px);
    margin: 0 -15px 20px -15px;
  }
}

.reviews:last-child {
  margin-bottom: 0;
}

.review-item {
  padding: 25px 25px 25px 40px;
  background: #f6f6f6;
}

@media (max-width: 767px) {
  .review-item {
    padding: 15px;
  }
}

.review-item--answer {
  background: transparent;
  border: 1px solid #f6f6f6;
  padding-left: 65px;
  margin-top: -1px;
}

@media (max-width: 767px) {
  .review-item--answer {
    padding: 15px;
  }
}

.review-item__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 18px;
}

.review-item__avatar {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background: #a9b1b9;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}

.review-item__avatar img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.review-item__head-info {
  width: calc(100% - 65px);
  padding-right: 100px;
  position: relative;
}

@media (max-width: 767px) {
  .review-item__head-info {
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.review-item__head-info .rating {
  position: absolute;
  right: 0;
  top: 3px;
}

@media (max-width: 767px) {
  .review-item__head-info .rating {
    position: relative;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 8px;
  }
}

.review-item__name {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 5px;
}

.review-item__date {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #7c8994;
}

@media (max-width: 767px) {
  .review-item__date {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

.review-item p {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 15px;
}

.review-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.review-item__footer a {
  font-size: 14px;
  color: var(--main-elements-color, #2363d1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.review-item__footer a:hover {
  color: var(--main-elements-hover-color, #1c52ac);
}

.review-item__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rate-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.rate-product__title {
  font-weight: bold;
  font-size: 14px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .rate-product__title {
    font-variant-caps: 12px;
    margin-right: 10px;
  }
}

.review-textarea {
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .review-textarea .btn {
    padding: 0;
    min-width: 145px;
  }
}

@media (max-width: 767px) {
  .review-textarea .btn {
    width: 100%;
  }
}

.rating-stars ul {
  list-style-type: none;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.rating-stars ul > li.star {
  display: inline-block;
}

.rating-stars ul > li.star > i.fa {
  font-size: 18px;
  color: #ccc;
}

.rating-stars ul > li.star.hover > i.fa {
  color: #ffcc36;
}

.rating-stars ul > li.star.selected > i.fa {
  color: #ff912c;
}

.like-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
}

.like-btn__text {
  font-size: 12px;
  color: #7c8994;
}

.like-btn svg {
  color: transparent;
  margin-right: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 20px;
  height: 16px;
}

.like-btn.active svg {
  color: var(--main-elements-color, #2363d1);
}

.review-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.review-comment svg {
  width: 21px;
  height: 17px;
  margin-right: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: var(--main-elements-color, #2363d1);
  transition: 0.5s;
}

.review-comment svg:hover {
  color: #fff;
  stroke: #fff;
  fill: var(--main-elements-color, #2363d1);
}

.review-comment svg:hover path {
  color: #fff;
}

.review-comment__text {
  font-size: 12px;
  color: #7c8994;
}

.check-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .check-review {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.check-review .captcha {
  width: 145px;
  height: 40px;
  background: #f6f6f6;
  margin-right: 15px;
  border-radius: 2px;
}

@media (max-width: 767px) {
  .check-review .captcha {
    width: calc(100% / 2 - 10px);
  }
}

@media (max-width: 767px) {
  .check-review .form-group {
    width: calc(100% / 2 - 10px);
  }
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.price-chart__head {
  margin-bottom: 15px;
}

.price-chart__select {
  width: 225px;
}

@media (max-width: 480px) {
  .price-chart__select {
    width: 100%;
  }
}

.price-chart__content {
  width: calc(100% + 80px);
  margin: 0 -40px;
}

@media (max-width: 767px) {
  .price-chart__content {
    width: 100%;
    margin: 0;
  }
}

.invoice-bg {
  background: #fff;
}

.invoice {
  width: 700px;
  margin: 0 auto;
  padding: 40px 0;
}

.invoice__head {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.invoice__logo {
  margin-top: -7px;
}

.invoice__head-content {
  width: 500px;
}

.invoice__head-content table {
  width: 100%;
  border-collapse: collapse;
}

.invoice__head-content table tr:first-child td {
  border-bottom: 1px solid #000;
  padding-top: 0;
}

.invoice__head-content table td {
  font-size: 8px;
  font-weight: 400;
  padding: 7px 0;
}

.invoice__head-content table td span {
  font-weight: 600;
}

.invoice__head-top {
  border-bottom: 1px solid #000;
}

.invoice__content h2 {
  font-style: normal;
}

.invoice__contacts {
  margin-bottom: 10px;
}

.invoice__contacts table {
  width: 100%;
  border-collapse: collapse;
}

.invoice__contacts td {
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 11px;
}

.invoice__contacts span {
  font-weight: bold;
  display: block;
}

.invoice__text-top {
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.invoice__text-top strong {
  display: block;
  font-weight: bold;
}

.invoice__text {
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.invoice__text p {
  font-size: 8px;
  line-height: 10px;
}

.invoice__signature {
  position: relative;
}

.invoice__signature .mp {
  position: absolute;
  bottom: -20px;
  left: 192px;
  font-size: 8px;
  line-height: 9px;
}

.invoice__signature table {
  width: 100%;
  border-collapse: collapse;
}

.invoice__signature td {
  vertical-align: top;
  padding: 0 5px;
}

.invoice__signature td:first-child {
  width: 80px;
  padding-left: 0;
}

.invoice__signature td:last-child {
  padding-right: 0;
}

.invoice__signature strong {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
}

.invoice__signature .signature-item {
  font-size: 10px;
  line-height: 12px;
  height: 20px;
  border-bottom: 1px solid #000;
  line-height: 20px;
  display: block;
  margin-bottom: 3px;
}

.invoice__signature .signature-item__title {
  font-size: 8px;
  line-height: 9px;
  display: block;
  text-align: center;
}

.invoice .invoice__footer {
  text-align: right;
  padding-top: 130px;
}

.invoice .invoice__footer p {
  font-size: 8px;
  line-height: 9px;
}

.invoice-data-item {
  white-space: nowrap;
  margin-bottom: 6px;
}

.invoice-data-item:last-child {
  margin-bottom: 0;
}

.invoice-data-item span {
  display: inline-block;
  margin-right: 5px;
  min-width: 5px;
}

.invoice-data-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.invoice-data-inline .invoice-data-item {
  margin-right: 20px;
}

.invoice-data-inline .invoice-data-item:last-child {
  margin-right: 0;
}

.error {
  padding: 60px 0 150px;
  background: #fff;
}

@media (max-width: 767px) {
  .error {
    padding: 50px 0;
  }
}

.error__head {
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .error__head {
    display: none;
  }
}

.error__content {
  padding-top: 20px;
  // background: url(../images/error-img.svg) 100% 0 no-repeat;
  min-height: 260px;
}

@media (max-width: 767px) {
  .error__content {
    padding-top: 85px;
    background-size: 53px 53px;
    background-position: 0 0;
  }
}

.error__content p {
  font-size: 14px;
  line-height: 18px;
  max-width: 390px;
  margin-bottom: 20px;
}

.error__content .btn {
  margin-top: 10px;
}

.form-gorup-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 479px) {
  .form-gorup-inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.form-gorup-inline .btn {
  margin-right: 30px;
  width: calc(100% / 2 - 8px);
  padding: 0;
}

@media (max-width: 479px) {
  .form-gorup-inline .btn {
    width: 100%;
    margin: 0 0 15px 0;
  }
}

.forgot-password {
  font-weight: bold;
  font-size: 14px;
  color: var(--main-elements-color, #2363d1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.forgot-password:hover {
  color: var(--main-elements-hover-color, #1c52ac);
}

.forgot-password:active {
  color: #164593;
}

.form-close {
  font-size: 14px;
  color: var(--main-elements-color, #2363d1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  min-width: 120px;
  text-align: center;
}

.form-close:hover {
  color: var(--main-elements-hover-color, #1c52ac);
}

.form-close:active {
  color: #164593;
}

.form-text {
  display: block;
  font-size: 12px;
  color: #767676;
  line-height: 18px;
}

.form-text a {
  color: #d74853;
}

.form-captcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 19px;
}

@media (max-width: 479px) {
  .form-captcha {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.form-captcha .captcha {
  width: calc(100% / 2 - 8px);
  background: #e0e0e0;
  border: 1px solid #e0e0e0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0px 1.59906px 3.99765px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 1.59906px 3.99765px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  height: 40px;
}

@media (max-width: 479px) {
  .form-captcha .captcha {
    width: 100%;
    margin: 0 0 15px 0;
  }
}

.form-captcha .form-group {
  width: calc(100% / 2 - 8px);
  margin-bottom: 0;
}

@media (max-width: 479px) {
  .form-captcha .form-group {
    width: 100%;
  }
}

.checkbox {
  position: relative;
  padding-left: 25px;
  display: block;
}

.checkbox span {
  font-size: 11px;
  color: #a9b1b9;
  padding-left: 5px;
}

.checkbox [type="checkbox"]:not(:checked),
.checkbox [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.checkbox [type="checkbox"]:not(:checked) + label,
.checkbox [type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  display: block;
}

.checkbox [type="checkbox"]:not(:checked) + label:hover,
.checkbox [type="checkbox"]:checked + label:hover {
  color: #000;
}

.checkbox [type="checkbox"]:not(:checked) + label:before,
.checkbox [type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--main-elements-color, #2363d1);
  background: #fff;
}

.checkbox [type="checkbox"]:not(:checked) + label:after,
.checkbox [type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  top: 0px;
  left: -25px;
  width: 16px;
  height: 16px;
  // background: var(--main-elements-color, #2363d1) url(../images/checkbox-check.svg) 50% 50% no-repeat;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.checkbox [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.checkbox [type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.checkbox [type="checkbox"]:disabled:not(:checked) + label:before {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

.checkbox [type="checkbox"]:disabled:checked + label:before {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

.checkbox [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

.checkbox [type="checkbox"]:disabled + label {
  color: #aaa;
}

.delivery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .delivery-container {
    width: calc(100% + 30px);
    margin: 0 -15px;
  }
}

.delivery-content {
  width: calc(100% - 300px);
}

@media (max-width: 992px) {
  .delivery-content {
    width: calc(100% - 250px);
  }
}

@media (max-width: 767px) {
  .delivery-content {
    width: 100%;
  }
}

.delivery-block {
  padding: 25px 80px;
  margin-bottom: 15px;
  background: #fff;
}

.delivery-block .delivery-block {
  padding: 0 !important;
}

@media (max-width: 991px) {
  .delivery-block {
    padding: 25px 15px;
  }
}

@media (max-width: 767px) {
  .delivery-block {
    margin-bottom: 0;
  }
}

.delivery-block--order-succes {
  background: #fff;
}

.delivery-steps {
  width: 200px;
}

@media (max-width: 767px) {
  .delivery-steps {
    display: none;
  }
}

.delivery-contacts-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.delivery-contacts-data .form-group {
  width: calc(100% / 2 - 10px);
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .delivery-contacts-data .form-group {
    width: 100%;
  }
}

.delivery-contacts-data .form-group:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .delivery-contacts-data .form-group:nth-last-child(2) {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .order-succes-check {
    padding-top: 65px;
    // background: url(../images/check-green.svg) 0 0 no-repeat;
  }
}

@media (max-width: 767px) {
  .delivery-page {
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  .delivery-page h1,
  .delivery-page .h1 {
    font-size: 30px !important;
    line-height: 36px;
    padding-right: 20px;
  }
}

.delivery-choice {
  padding: 0 0px 40px 0px;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
}

.delivery-choice .form-group {
  width: 100%;
}

@media (max-width: 767px) {
  .delivery-choice .form-group {
    width: 100%;
    max-width: 100%;
  }
}

.delivery-choice--wide {
  width: calc(100% + 160px);
  margin: 0 -80px 40px -80px;
  max-width: calc(100% + 160px);
  padding: 0;
  border-top: 1px solid #e5e5ea;
}

@media (max-width: 991px) {
  .delivery-choice--wide {
    width: calc(100% + 30px);
    margin: 0 -15px 40px -15px;
    max-width: calc(100% + 30px);
  }
}

.delivery-choice--wide .form-group {
  width: 100%;
}

.delivery-choice__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .delivery-choice__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.delivery-choice__map {
  min-height: 250px;
  width: calc(100% / 2);
}

@media (max-width: 767px) {
  .delivery-choice__map {
    width: 100%;
    height: 260px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

.delivery-choice__map img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.delivery-choice__content {
  padding: 20px 0px;
  width: calc(100% / 2);
}

@media (max-width: 991px) {
  .delivery-choice__content {
    padding: 20px 15px;
  }
}

@media (max-width: 767px) {
  .delivery-choice__content {
    width: 100% !important;
  }
}

.delivery-choice__content .content-title {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .delivery-choice__content .content-title {
    margin-bottom: 20px;
  }
}

.delivery-choice__content .radio {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .delivery-choice__content .radio {
    width: 100%;
  }
}

.delivery-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 20px;
}

.delivery-cart--left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media (max-width: 767px) {
  .delivery-cart--left {
    padding: 0px !important;
  }
}

@media (max-width: 767px) {
  .delivery-cart {
    padding: 0 15px;
  }
}

.delivery-total {
  max-width: 300px;
  width: 100%;
  padding: 10px 0px 0 0px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .delivery-total {
    max-width: 100%;
    margin-bottom: 0;
  }
}

.delivery-total ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 12px;
}

.delivery-total__sm {
  font-size: 14px;
  line-height: 16px;
}

.delivery-total__lg {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding-top: 4px;
}

.step-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 15px;
  color: #333;
  font-weight: bold;
}

.step-item a {
  color: #000;
}

.step-item__number {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d3d7db;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #767676;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
  border: 1px solid #d3d7db;
  font-weight: bold;
}

.step-item.current {
  font-weight: bold;
}

.step-item.current .step-item__number {
  background-color: #fff;
  color: #333;
  border-color: var(--main-elements-color, #2363d1);
}

.step-item.done .step-item__number {
  border-color: var(--main-elements-color, #2363d1);
  text-indent: -9999px;
  // background: var(--main-elements-color, #2363d1) url(../images/step-done.svg) 50% 50% no-repeat;
}

.order-succes {
  position: relative;
}

.order-number {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  font-family: "Golos";
  color: #000000;
  margin-bottom: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -50px;
  height: 28px;
}

.order-number .icon {
  margin-right: 15px;
  height: 22px;
}

@media (max-width: 991px) {
  .order-number .icon {
    display: none;
  }
}

@media (max-width: 991px) {
  .order-number {
    margin-left: 0;
  }
}

.order-succes-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .order-succes-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.order-succes-row .order-succes-col {
  width: calc(100% / 2);
}

@media (max-width: 767px) {
  .order-succes-row .order-succes-col {
    width: 100%;
  }
}

.order-succes-item {
  margin-bottom: 20px;
  max-width: 300px;
}

@media (max-width: 767px) {
  .order-succes-item {
    max-width: 100%;
  }
}

.order-succes-item .btn-border {
  margin-top: 10px;
}

.order-succes-item__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  display: block;
}

.order-succes-item p {
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.order-succes-item a {
  color: var(--main-elements-color, #2363d1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.order-succes-item a:hover {
  color: var(--main-elements-hover-color, #1c52ac);
}

.order-succes-item a:active {
  color: #164593;
}

.order-succes-total {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 30px;
}

.order-succes-total span {
  margin-right: 40px;
}

.shopping-cart {
  margin-bottom: 15px;
  background: #fff;
}

@media (max-width: 767px) {
  .shopping-cart {
    margin-bottom: 0;
  }
}

.shopping-cart-item {
  padding: 15px 20px;
  border-bottom: 1px solid #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 767px) {
  .shopping-cart-item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.shopping-cart-item__delete {
  margin-right: 30px;
}

@media (max-width: 767px) {
  .shopping-cart-item__delete {
    width: 20px;
    margin-right: 0;
  }
}

.shopping-cart-item__delete a {
  cursor: pointer;
}

.shopping-cart-item__delete svg {
  width: 18px;
  height: 18px;
  color: #d3d7db;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.shopping-cart-item__delete svg:hover {
  color: var(--main-elements-color, #2363d1);
}

.shopping-cart-item__name {
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1280px) {
  .shopping-cart-item__delete {
    margin-right: 20px;
  }
  .shopping-cart-item__name {
    width: 20%;
  }
}

@media (max-width: 767px) {
  .shopping-cart-item__name {
    max-width: 100%;
    width: calc(100% - 120px);
    margin-bottom: 15px;
    margin-left: auto;
  }
}

.shopping-cart-item__numbers {
  min-width: 116px;
}

.shopping-cart-item__name span {
  font-size: 9px;
  line-height: 20px;
  display: block;
  color: #7c8994;
}

.shopping-cart-item__cost {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: right;
  margin-left: auto;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 767px) {
  .shopping-cart-item__cost {
    text-align: left;
    margin-right: 0;
    margin-left: 0;
  }
}

.shopping-cart-item__numbers .input-number {
  padding: 0 5px;
}

.shopping-cart-item__total-cost {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 767px) {
  .shopping-cart-item .input-number {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.shopping-cart-item__img {
  margin-right: 10px;
}

.shopping-cart-item__img img {
  aspect-ratio: 1/1;
  max-width: 70px;
  width: 100%;
  height: auto;
  max-height: 70px;
  object-fit: contain;
}


@media (max-width: 992px) {
  .shopping-cart-item__delete {
    margin-right: 10px;
  }
}

.shopping-cart-list {
  margin-bottom: 25px;
}

.account-radio {
  padding: 0 15px 0px 15px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 680px;
  margin: 0 auto 20px;
}

.delivery-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.delivery-selection .radio {
  width: calc(100% / 2 - 10px);
  margin-bottom: 20px;
}

@media (max-width: 479px) {
  .delivery-selection .radio {
    width: 100%;
    margin-bottom: 15px;
  }

  .delivery-selection .radio br {
    display: none;
  }
}

.radio {
  position: relative;
  display: block;
  width: 100%;
  border: 2px solid transparent;
  height: auto;
}

.radio label {
  background: #f3f6fb;
  border: solid 2px transparent;
  border-radius: 2px;
  transition: all 0.2s;
}

.radio [type="radio"]:checked + label {
  background: #fff;
  border-color: #2363d1;
}

.radio.active {
  border-color: var(--main-elements-color, #2363d1);
}

.radio [type="radio"]:checked + label + .radio-content {
  background: #fff;
  border-color: var(--main-elements-color, #2363d1);
}

.radio [type="radio"]:not(:checked),
.radio [type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

.radio [type="radio"]:not(:checked) + label,
.radio [type="radio"]:checked + label {
  cursor: pointer;
  font-size: 11px;
  line-height: 15px;
  padding: 15px 15px 15px 55px;
  color: #7c8994;
  display: block;
  width: 100%;
}

.radio [type="radio"]:not(:checked) + label span,
.radio [type="radio"]:checked + label span {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #333;
  margin-bottom: 5px;
}

@media (max-width: 991px) {
  .radio [type="radio"]:not(:checked) + label span,
  .radio [type="radio"]:checked + label span {
    font-size: 14px;
  }
}

.radio [type="radio"]:not(:checked) + label:before,
.radio [type="radio"]:checked + label:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 15px;
  width: 20px;
  height: 20px;
  // background: url(../img/icons/radio.svg);
}

.radio [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.radio [type="radio"]:checked + label:before {
  // background: url(../img/icons/radio-active.svg);
}

.radio [type="radio"]:disabled:not(:checked) + label:before {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

.radio [type="radio"]:disabled:checked + label:before {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

.radio [type="radio"]:disabled:checked + label:after {
  color: #999;
}

.radio [type="radio"]:disabled + label {
  color: #aaa;
}

.delivery-text {
  font-size: 12px;
  line-height: 15px;
  color: #7c8994;
  width: 100%;
  max-width: 370px;
  padding-top: 20px;
}

@media (max-width: 767px) {
  .calculate-page {
    padding-top: 25px;
  }
}

.calculate-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .calculate-delivery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 0px;
  }
}

.calculate-delivery__form {
  width: 380px;
}

@media (max-width: 767px) {
  .calculate-delivery__form {
    width: 100%;
  }
}

.calculate-delivery__map {
  width: calc(100% - 600px);
  height: 400px;
}

@media (max-width: 991px) {
  .calculate-delivery__map {
    width: calc(100% - 410px);
  }
}

@media (max-width: 767px) {
  .calculate-delivery__map {
    width: calc(100% + 30px);
    margin: 0 -15px 25px -15px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    height: 200px;
  }
}

.calculate-delivery__map img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.calculate-delivery .form-group {
  margin-bottom: 24px;
}

.calculate-delivery__form-delivery {
  padding-top: 0px;
}

.calculate-delivery__form-delivery .btn {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .content-block {
    padding-top: 25px;
  }
}

.form-delivery-distance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 18px;
  color: #000000;
  margin-bottom: 11px;
}

.form-delivery-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: bold;
  font-size: 22px;
  color: #000000;
  margin-bottom: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-delivery-cost span {
  background: #e7eef6;
  border-radius: 8px;
  padding: 3px 20px;
}

.affiliate-network__head {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .affiliate-network__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.affiliate-network__title {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}

@media (max-width: 767px) {
  .affiliate-network__title {
    font-size: 18px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding-top: 30px;
  }
}

.affiliate-network .form-group {
  max-width: 280px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .affiliate-network .map {
    height: 300px;
    margin-bottom: 25px;
  }
}

.select-mobile {
  display: none;
}

@media (max-width: 767px) {
  .select-mobile {
    display: block;
  }
}

.partners {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .partners {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.partner-item {
  width: calc(100% / 4 - 12.5px);
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid #d9d9de;
}

@media (max-width: 991px) {
  .partner-item {
    width: calc(100% / 2 - 7.5px);
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .partner-item {
    width: 100%;
  }
}

.partner-item:nth-child(4n + 4) {
  margin-right: 0;
}

@media (max-width: 479px) {
  .partner-item {
    width: 100%;
    margin-right: 0;
  }
}

.partner-item__bg {
  position: relative;
  height: 120px;
  background: #f5f5f5;
}

@media (max-width: 767px) {
  .partner-item__bg {
    height: auto;
    background: #fff;
  }
}

.partner-item__name {
  padding: 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: block;
  /* #333333 */
  color: #333333;
}

.partner-item__content {
  background: #fff;
  padding: 15px;
}

.partner-item__line {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: #333333;
  margin-bottom: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991px) {
  .partner-item__line {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.partner-item__line:last-child {
  margin-bottom: 0;
}

.partner-item .icon {
  width: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 20px;
  min-width: 20px;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

@media (max-width: 991px) {
  .partner-item .icon {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-left: 0;
    margin-right: 20px;
  }
}

.partner-item a {
  color: var(--main-elements-color, #2363d1);
}

.partner-item a:hover {
  color: var(--main-elements-hover-color, #1c52ac);
}

.partner-item a:active {
  color: #164593;
}

.dep-item {
  font-size: 14px;
  line-height: 18px;
  padding: 8px 18px;
  margin-bottom: 15px;
}

.dep-item:last-child {
  margin-bottom: 0;
}

.dep-item__mobile-title {
  display: none;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .dep-item__mobile-title {
    display: block;
  }
}

.dep-item:nth-child(2n + 2) {
  background: #f6f6f6;
}

.dep-item--text p {
  height: 126px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.bottom-panel {
  width: 100%;
  padding: 8px 15px;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

@media (max-width: 767px) {
  .bottom-panel {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.bottom-panel .btn-bottom {
  max-width: 300px;
  width: 100%;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: var(--main-elements-color, #2363d1);
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 767px) {
  .bottom-panel .btn-bottom {
    max-width: 200px;
  }
}

.bottom-panel .btn-bottom:hover {
  background: var(--main-elements-hover-color, #1c52ac);
}

.bottom-panel .btn-bottom:active {
  background: #164593;
  border-color: #164593;
}

.bottom-panel .close-panel {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 8px;
  right: 15px;
  //background: #222 url(../images/close-panel.svg) 50% 50% no-repeat;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.bottom-panel .close-panel:hover {
  background-color: #000;
}

.ordered-goods {
  padding-top: 40px;
}

@media (max-width: 767px) {
  .ordered-goods {
    display: none;
  }
}

.ordered-table {
  margin-bottom: 30px;
}

.ordered-table table {
  width: 100%;
  border-collapse: collapse;
}

.ordered-table td {
  position: relative;
  border-bottom: 1px solid #e5e5ea;
  padding: 15px 15px 15px 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.ordered-table td:last-child {
  padding-right: 0;
  text-align: right;
}

.ordered-table td:first-child {
  max-width: 180px;
}

.ordered-table .number {
  position: absolute;
  left: -24px;
}

.category-slider .catalog-menu-item {
  margin-bottom: 20px;
  display: block;
  width: 100% !important;
}

.category-slider .catalog-menu-item:last-child {
  margin-bottom: 0;
}

.developer-link {
  padding-top: 5px;
}

@media (max-width: 767px) {
  .footer-right .developer-link {
    display: none;
  }
}

.developer-link a {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.developer-link a .dev-logo {
  margin-top: 5px;
}

.developer-link a .dev-logo svg {
  color: rgba(255, 255, 255, 0.5);
  width: 200px;
  height: 35px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.developer-link a:hover {
  color: #fff;
}

.ya-share2__badge {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.ya-share2__badge {
  width: 32px !important;
  height: 32px !important;
  border-radius: 50% !important;
}

.ya-share2__item {
  margin: 5px 18px 5px 0 !important;
}

@media (max-width: 767px) {
  .conditional-section.bg-color {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--frontpage-first-screen-bg-color, #f5f5f5);
  }
}


.text-color-accent {
  color: var(--main-elements-color, #2363D1); }

.text-color-light {
  color: #BDBDBD; }

  .button {
    outline: none;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    appearance: none;
    padding: 0;
    border-radius: 0;
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-rendering: inherit;
    line-height: inherit;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    transition: color 0.15s ease-out, border-color 0.15s ease-out, background-color 0.15s ease-out, opacity 0.15s ease-out, visibility 0.15s ease-out;
    height: 40px;
    line-height: 38px;
    padding: 0 15px;
    border-radius: 2px;
    min-width: 144px;
    font-weight: 400; }
    .button .icon {
      height: 18px;
      width: 18px; }
    .button_style-1 {
      border: 1px solid var(--main-elements-color, #2363D1);
      background-color: var(--color-button1-bg, transparent);
      color: var(--main-elements-color, #2363D1); }
      .button_style-1[data-touch], .button_style-1[data-hover] {
        background-color: #E7EEF6;
        border-color: var(--main-elements-hover-color, #1C52AC); }
    .button_style-2 {
      border: 1px solid var(--main-elements-color, #2363D1);
      background-color: var(--main-elements-color, #2363D1);
      color: #fff; }
      .button_style-2[data-touch], .button_style-2[data-hover] {
        background-color: var(--main-elements-hover-color, #1C52AC);
        border-color: var(--main-elements-hover-color, #1C52AC); }
    .button_disabled {
      border: 1px solid #767676;
      color: #fff;
      background-color: #767676; }
      .button_disabled[data-touch], .button_disabled[data-hover] {
        background-color: #818181; }
    .button_xl {
      line-height: 46px;
      padding: 0 20px;
      height: 48px;
      font-size: 18px; }
      .button_xl .icon {
        height: 20px;
        width: 20px; }