button
  background: none
  border: none
  cursor: pointer

body
  background-color: #fff
  font-family: Golos

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button
  -webkit-appearance: none

input[type='number']
  -moz-appearance: textfield

@media ( max-width: 1023px )
  footer
    padding-bottom: 74px !important
