.catalog__links-item
    display: inline-block
    position: relative

.catalog__links-item_image
    position: absolute
    top: 10px
    left: 8px
    z-index: 1

.catalog__links-block a
    padding-left: 30px