<div class="catalog__links-block">
    <div class="catalog__links-item">
        <a class="catalog-item__link" href="/catalog/kategoriya-tovarov-1/">
            <div class="catalog__links-item_image">
                <img src="@images/catalog-icon.svg" alt="">
            </div>
            Проекты домов до 150м2
        </a>
    </div>
    <div class="catalog__links-item">
        <a class="catalog-item__link" href="/catalog/kategoriya-tovarov-2/">
            <div class="catalog__links-item_image">
                <img src="@images/catalog-icon.svg" alt="">
            </div>
            Проекты домов до 300м2
        </a>
    </div>
    <div class="catalog__links-item">
        <a class="catalog-item__link" href="/catalog/kategoriya-tovarov-3/">
            <div class="catalog__links-item_image">
                <img src="@images/catalog-icon.svg" alt="">
            </div>
            Проекты домов до 400м2
        </a>
    </div>
    <div class="catalog__links-item">
        <a class="catalog-item__link" href="/catalog/kategoriya-tovarov-4/">
            <div class="catalog__links-item_image">
                <img src="@images/catalog-icon.svg" alt="">
            </div>
            Проекты домов до 450м2
        </a>
    </div>
    <div class="catalog__links-item">
        <a class="catalog-item__link" href="/catalog/kategoriya-tovarov-5/">
            <div class="catalog__links-item_image">
                <img src="@images/catalog-icon.svg" alt="">
            </div>
            Проекты домов до 500м2
        </a>
    </div>


</div>