<div class="catalog__links-block">
    <div class="catalog__links-item">
        <div class="catalog__links-item_image">
            <img src="../images/catalog-icon.svg" alt="">
        </div>
        <a href="/catalog/kategoriya-tovarov-1/">Проекты домов до 150м2</a>
    </div>
    <div class="catalog__links-item">
        <div class="catalog__links-item_image">
            <img src="../images/catalog-icon.svg" alt="">
        </div>
        <a href="/catalog/kategoriya-tovarov-2/">Проекты домов до 300м2</a>
    </div>
    <div class="catalog__links-item">
        <div class="catalog__links-item_image">
            <img src="../images/catalog-icon.svg" alt="">
        </div>
        <a href="/catalog/kategoriya-tovarov-3/">Проекты домов до 400м2</a>
    </div>
    <div class="catalog__links-item">
        <div class="catalog__links-item_image">
            <img src="../images/catalog-icon.svg" alt="">
        </div>
        <a href="/catalog/kategoriya-tovarov-4/">Проекты домов до 450м2</a>
    </div>
    <div class="catalog__links-item">
        <div class="catalog__links-item_image">
            <img src="../images/catalog-icon.svg" alt="">
        </div>
        <a href="/catalog/kategoriya-tovarov-5/">Проекты домов до 500м2</a>
    </div>
    
    
</div>