script(type='text/javascript', src='./shared/libs/libs/jquery-3.2.1.min.js')
script(type='text/javascript', src='./shared/libs/libs/fancybox/jquery.fancybox.min.js')
script(type='text/javascript', src='./shared/libs/libs/owl-carousel/owl.carousel.js')
script(type='text/javascript', src='./shared/libs/libs/slick/slick.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.0.6/jquery.mmenu.all.js')
script(src='./shared/libs/scripts/header-global.js')
script(src='./shared/libs/scripts/header-global-mobile.js')
script(src='./shared/libs/scripts/header-search-catalog.js')
script(src='./shared/libs/scripts/header-search-catalog-mobile.js')
script(src='./shared/libs/scripts/scripts.js')