
.cart-item:not(:last-child)
  border-bottom: 1px solid var(--gray-color-200)

.promotional-code-input
  width: 100%
  height: 40px
  border: 1px solid var(--gray-color-500)
  border-radius: 2px
  padding: 12px 17px
  color: var(--gray-color-700)  
  
.cart-image-wrapper
  position: relative
  display: block
  
.cart-image
  width: 85px
  height: 85px
  object-fit: contain
  aspect-ratio: 1/1

.separator-dot:after
  content: '•'

.input-number_gray
  
  .order-down, .order-up
    width: 25px
    height: 25px
    border-radius: 3px
    display: flex
    align-items: center
    justify-content: center
    background-color: var(--gray-color-150)
    color: var(--gray-color-700)
    line-height: 100%
    border: none
    &::after, &::before
      display: none

  input[type=number]
    width: 50px