.bottom-mobile-menu-list
  position: absolute
  background-color: var(--bottom-mobile-menu-list-background, var(--neutral-lightest-color))
  bottom: 0
  left: 0
  width: 100%
  padding-bottom: 95px
  transition: .3s
  transform: translateY(100%)
  overflow: auto
  max-height: 50vh

  &_plates
    padding: 10px 20px
    padding-bottom: 95px
    display: flex
    gap: 8px
    flex-wrap: wrap
    justify-content: flex-end
    .bottom-mobile-menu-list
      &__link
        display: inline-flex
        background-color: var(--bottom-mobile-menu-list-plates-link-text-color, var(--accent-light-color))
        height: 40px
        text-align: center
        border: none
        border-radius: 6px
        transition: .3s
        &:hover
          background-color: var(--bottom-mobile-menu-list-plates-link-background-color, var(--accent-color))
          color: var(--bottom-mobile-menu-list-plates-link-text-color, var(--neutral-lightest-color))

  &_active
    transform: translateY(0%)

  &__icon-arrow-fill
    fill: var(--bottom-mobile-menu-list-link-icon-color, var(--neutral-light))

  &__link
    padding: 10px 20px
    display: flex
    justify-content: space-between
    align-items: center
    color: var(--bottom-mobile-menu-list-link-text-color, var(--accent-dark-color))
    border-bottom: 1px solid var(--bottom-mobile-menu-list-link-border-color, var(--neutral-lighter-color))
    transition: .3s
    background-color: var(--bottom-mobile-menu-list-link-background, var(--neutral-lightest-color))
    &:hover
      background-color: var(--bottom-mobile-menu-list-link-background-hover, var(--accent-light-color))
      color: var(--bottom-mobile-menu-list-link-text-color, var(--accent-color))
