.cart-item
  position: relative
  border-bottom: 1px solid var(--gray-color-200)

  &__image-wrapper
    position: relative
    display: block
    max-width: 75px
    width: 100%
    height: 75px
    aspect-ratio: 1/1

  &__image
    width: 100%
    height: auto
    object-fit: contain
    aspect-ratio: 1/1

  &__delete-button,
  &__shop-button
    display: flex
    align-items: center
    justify-content: center
    position: absolute

  &__delete-button
    left: 0
    bottom: 10px

  &__shop-button
    left: 30px
    bottom: 8px

    svg
      width: 20px
      height: 20px

  &__description
    max-width: 100%

  &-placeholders
    display: flex
    flex-wrap: wrap
    align-items: center
    gap: 5px

  &-placeholder
    min-width: 64px
    min-height: 20px
    display: flex
    align-items: center
    justify-content: center
    font-size: 12px
    font-weight: 700
    line-height: 1
    color: var(--white-color)
    text-align: center
    background-color: var(--transparent-color)

    &--hit
      background-color: var(--hit-color)

    &--sale
      background-color: var(--sale-color)

    &--new
      background-color: var(--new-color)

    &--discount
      background-color: var(--discount-color)

.cart-item--favorite
  border-bottom: 1px solid var(--gray-color-200)

  &:last-child
    border: none

  .cart-item

    &__checkbox
      width: 18px
      height: 75px
      flex-shrink: 0
      padding-left: 0

      @media (min-width: 768px)
        height: auto

      [type="checkbox"]

        + label
          position: static

          &::before,
          &::after
            width: 18px
            height: 18px
            left: auto
            right: 0
            top: 50%
            transform: translateY(-50%)

    &__image-wrapper
      margin-bottom: 30px

.promotional-code-input
  width: 100%
  height: 40px
  border: 1px solid var(--gray-color-500)
  border-radius: 2px
  padding: 12px 17px
  color: var(--gray-color-700)  
  
.cart-radio
  max-width: 20px
  width: 100%
  height: 20px
  aspect-ratio: 1/1

.cart-map
  width: 100%
  height: 100%
  min-height: 300px

.separator-dot:after
  content: '•'

.input-number_gray
  display: flex !important
  
  .order-down, .order-up
    width: 30px
    height: 30px
    border-radius: 3px
    display: flex
    align-items: center
    justify-content: center
    background-color: var(--gray-color-150)
    border: 1px solid var(--gray-color-150)
    line-height: 100%
    position: relative
    padding: 0
    &::after, &::before
      top: auto
      right: auto
      left: auto
      bottom: auto
      background-color: var(--gray-color-700)

    &:hover
      border: 1px solid var(--gray-color-450) !important
      background-color: var(--gray-color-250)

  input[type=number]
    width: 50px

.section-cart
  background-color: var(--white-color)

.section-favorite

  .catalog-sorting ul li a,
  .catalog-right .price-download
    color: var(--black-color)

    &:hover
      color: var(--accent-color-400)

      .icon-sort-price span,
      .icon-sort-price span:before,
      .icon-sort-price span:after
        background-color: var(--accent-color-400)


  .icon-sort-price span,
  .icon-sort-price span:before,
  .icon-sort-price span:after
    background-color: var(--black-color)
    transition-property: background
    transition-duration: 300ms
    transition-timing-function: ease-in-out

.favorite-aside
  display: none

  @media (min-width: 1024px)
    display: block
    background-color: var(--gray-color-100)
    padding: 20px 30px 40px

  .btn-link
    background-color: transparent
    border: none

  &-bottom
    display: flex
    flex-direction: column
    gap: 20px
    margin-top: 30px

    &-actions
      display: flex
      flex-direction: column
      gap: 12px

    &-buttons
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: space-between
      gap: 12px 10px

      &--mobile
        justify-content: start
        margin-top: 10px

        @media (min-width: 1024px)
          display: none

        .checkbox [type=checkbox]:not(:checked) + label,
        .checkbox [type=checkbox]:checked + label,
        .btn
          font-size: 14px

        .checkbox [type=checkbox]:not(:checked) + label,
        .btn
          color: var(--gray-color-700)

        .favorite-aside-bottom-remove

          .icon
            --_size: 18px

    &-checkbox

      [type=checkbox]:not(:checked),
      [type=checkbox]:checked

        + label
          line-height: 18px
          color: var(--gray-color-550)
          transition-property: color
          transition-duration: 300ms
          transition-timing-function: ease-in-out

          &::before,
          &::after
            width: 18px
            height: 18px
            border-radius: 2px

      [type=checkbox]:not(:checked)

        + label

          &::before
            border-color: var(--gray-color-450)

      [type=checkbox]:checked

        + label
          color: var(--black-color)

  &-btn
    font-size: 16px
    color: var(--accent-color-500)

    &:is(:hover, :active)
      color: var(--white-color)
      background-color: var(--accent-color-400)

    .icon
      --_size: 24px

      svg
        width: 100%
        height: 100%
        transition: none

.favorite-aside--mobile
  display: block

  @media (min-width: 1024px)
    display: none

@media (min-width: 768px)
  .section-cart
    background-color: var(--gray-color-100)

  .cart-item
    &:last-child
      border: none
    &__image-wrapper
      max-width: 85px
      width: 100%
      height: 85px

    &__delete-button,
    &__shop-button
      left: auto
      bottom: auto

    &__delete-button
      right: 20px

    &__shop-button
      right: 38px

      svg
        width: 24px
        height: 24px

    &__description
      max-width: 250px

  .cart-item--favorite

    .cart-item

      &__image-wrapper
        margin-bottom: 0

      &__delete-button
        right: 0

  .input-number_gray
    .order-down, .order-up
      width: 26px
      height: 26px