
.catalog-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .catalog-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.filter-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 50px;
  // background: #000000 url(../images/filter-btn.svg) 50% 50% no-repeat;
  background-size: 20px 16px;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  cursor: pointer;
  display: none;
}

@media (max-width: 767px) {
  .filter-btn {
    display: block;
  }
}

.btn-download .icon {
  margin-right: 10px;
}

.sort-select {
  display: none;
  min-width: 185px;
}

@media (max-width: 767px) {
  .sort-select {
    display: block;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

.catalog-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 767px) {
  .catalog-sorting {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

.catalog-sorting__title {
  font-size: 14px;
  color: #767676;
  opacity: 0.75;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .catalog-sorting__title {
    margin: 0 0 10px 0;
  }
}

.catalog-sorting ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .catalog-sorting ul {
    display: none;
  }
  .catalog-right .price-download {
    margin: 0 0 10px -5px;
  }
}

.catalog-sorting ul li {
  margin-right: 35px;
}

.catalog-sorting ul li a {
  font-size: 14px;
  line-height: 14px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.catalog-sorting ul li a,
.catalog-right .price-download {
  color: var(--product-list-header-link-color, #2363d1);
}

.catalog-sorting ul li a:hover,
.catalog-right .price-download:hover {
  color: var(--product-list-header-link-hover-color, #1c52ac);
}

.catalog-sorting ul li a:active {
  /* color: #164593; */
  color: var(--product-list-header-link-hover-color, #164593);
}

.filter-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  // background: var(--main-elements-color, #2363d1) url(../images/filter-btn.svg) 50% 50% no-repeat;
  background-size: 20px 16px;
  border-radius: 2px;
  cursor: pointer;
  display: none;
}

@media (max-width: 767px) {
  .filter-btn {
    display: block;
  }
}


.contacts-section {
  margin-bottom: 30px;
}

.contacts-block {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  border: 1px solid #d9d9de;
  border-radius: 2px;
}

@media (max-width: 767px) {
  .contacts-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.contacts-block__info {
  width: 55%;
  padding: 30px 40px 20px 80px;
  background: #fff;
}

@media (max-width: 991px) {
  .contacts-block__info {
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .contacts-block__info {
    padding: 25px 15px;
    width: 100%;
  }
}

.contacts-block__map {
  width: 45%;
}

@media (max-width: 767px) {
  .contacts-block__map {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    height: 200px;
  }
}

.contacts-block__map img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.contacts-block__title {
  display: block;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #333333;
  margin-bottom: 24px;
}

.contacts-block__title-red {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 24px;
}

.contacts-list {
  margin-bottom: 32px;
}

.contacts-list:last-child {
  margin-bottom: 0;
}

.contact-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin-bottom: 12px;
}

.contact-line:last-child {
  margin-bottom: 0;
}

.contact-line .icon {
  width: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 20px;
  min-width: 20px;
  margin-left: 2px;
}

.contact-line a {
  color: var(--main-elements-color, #2363d1);
}

.contact-line a:hover {
  color: var(--main-elements-hover-color, #1c52ac);
}

.contact-line a:active {
  color: #164593;
}

/* end of accordion  */

.sorting-btn {
  position: absolute;
  right: 50px;
  bottom: 0;
  width: 40px;
  height: 40px;
  // background: var(--main-elements-color, #2363d1) url(../images/sort-icon.svg) 50% 50% no-repeat;
  background-size: 20px 16px;
  border-radius: 2px;
  cursor: pointer;
  display: none;
}

@media (max-width: 767px) {
  .sorting-btn {
    display: block;
  }
}

.icon-sort-price {
  width: 12px;
  margin-right: 7px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.icon-sort-price span {
  display: inline-block;
  position: relative;
  width: 9px;
  height: 2px;
  color: var(--product-list-header-link-color, #2363d1);
  top: -4px;
}

.icon-sort-price span:before {
  content: "";
  position: absolute;
  top: -6px;
  right: 0;
  width: 12px;
  height: 2px;
}

.icon-sort-price span:after {
  content: "";
  position: absolute;
  bottom: -6px;
  right: 0;
  width: 6px;
  height: 2px;
}
.icon-sort-price span,
.icon-sort-price span:before,
.icon-sort-price span:after {
  background-color: var(--product-list-header-link-color, #2363d1);
}

.catalog-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 767px) {
  .catalog-right {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (max-width: 767px) {
  .catalog-right .btn-border {
    width: 170px;
  }
}

.catalog-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media (max-width: 767px) {
  .catalog-left {
    display: none;
    width: 100%;
    position: fixed;
    background: #f5f5f5;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 99;
    padding: 75px 15px 15px 15px;
  }
}

.catalog-left .btn {
  margin-bottom: 10px;
}

.mobile-menu-head {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  background: #fff;
}

@media (max-width: 767px) {
  .mobile-menu-head {
    display: block;
  }
}

.mobile-menu-head__title {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  line-height: 60px;
}

.close-btn,
.close-btn-2,
.close-btn-3 {
  position: absolute;
  right: 15px;
  top: calc(50% - 9px);
  width: 18px;
  height: 18px;
  // background: url(../images/close-btn.svg);
}

.sort-select-item {
  width: 220px;
  margin-right: 20px;
}

@media (max-width: 1100px) {
  .sort-select-item {
    width: 130px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .sort-select-item {
    width: 100%;
    margin: 0 0 15px 0;
  }
}

.sort-select-item:last-child {
  margin-right: 0;
}

.sort-select-item__title {
  display: block;
  font-size: 14px;
  color: #767676;
  opacity: 0.75;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .sort-select-item__title {
    display: none;
  }
}

.catalog-block {
  margin-bottom: 30px;
}

.catalog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-container:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .catalog-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.catalog-container .catalog-filter {
  position: relative;
  width: 225px;
  /* z-index: 1; */
}

@media (max-width: 767px) {
  .catalog-container .catalog-filter {
    display: none;
  }
}

.catalog-container .catalog-filter .product-item--banner {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .catalog-container .catalog-filter .product-item--banner {
    display: none;
  }
}

@media (max-width: 767px) {
  .catalog-container .catalog-filter {
    width: 100%;
  }
}

.catalog-container .catalog-body {
  width: calc(100% - 245px);
}

@media (max-width: 767px) {
  .catalog-container .catalog-body {
    width: 100%;
  }
}

.catalog-container .catalog-body--wide {
  width: 100%;
}

.catalog-container .catalog-body--wide .catalog-content .product-item {
  width: calc(100% / 5 - 15px);
}

.catalog-container
  .catalog-body--wide
  .catalog-content
  .product-item:nth-child(4n + 4) {
  margin-right: 15px;
}

.catalog-container
  .catalog-body--wide
  .catalog-content
  .product-item:nth-child(5n + 5) {
  margin-right: 0;
}

.catalog-container .catalog-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .catalog-container .catalog-content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .catalog-container .catalog-content {
    width: calc(100% + 30px);
    margin: 0 -15px 15px -15px;
  }
}

.catalog-container .catalog-content .product-item {
  width: calc(100% / 4 - 15px);
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-container .catalog-content .product-item:nth-child(4n + 4) {
  margin-right: 0px;
}

@media (max-width: 1280px) {
  .catalog-container .catalog-content .product-item {
    width: calc(100% / 3 - 10px) !important;
    margin-right: 15px;
  }

  .catalog-container .catalog-content .product-item:nth-child(3n + 3) {
    margin-right: 0;
  }

  .catalog-container .catalog-content .product-item:nth-child(4n + 4) {
    margin-right: 15px;
  }
}

@media (max-width: 991px) {
  .catalog-container .catalog-content .product-item {
    width: calc(100% / 2 - 10px) !important;
    margin-right: 0 !important;
  }
}

@media (max-width: 767px) {
  .catalog-container .catalog-content .product-item {
    width: 100% !important;
    margin-bottom: 0px;
    margin-right: 0 !important;
    display: none;
  }
}

.catalog-container .catalog-content .product-item--wide {
  width: 100% !important;
  margin-right: 0 !important;
}

@media (max-width: 991px) {
  .catalog-container .catalog-content .product-item--wide {
    width: 100% !important;
  }
}

.catalog-container .catalog-content .product-item--line {
  width: 100% !important;
  margin-right: 0 !important;
}

@media (max-width: 991px) {
  .catalog-container .catalog-content .product-item--line {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .catalog-container .catalog-content--search-results .product-item {
    display: none;
  }
}

@media (max-width: 767px) {
  .catalog-filter {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: #f5f5f5;
    padding: 75px 15px 15px 15px;
    z-index: 999;
  }
}

.catalog-filter .catalog-filter-body {
  padding: 20px 0px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #d9d9de;
  -webkit-box-shadow: 0px 2px 25px rgba(118, 118, 118, 0.15);
  box-shadow: 0px 2px 25px rgba(118, 118, 118, 0.15);
  border-radius: 2px;
  position: relative;
  z-index: 99;
}

@media (max-width: 767px) {
  .catalog-filter .catalog-filter-body {
    width: calc(100% + 30px);
    margin: 0 -15px;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    background: #f5f5f5;
  }
}

.catalog-filter__bottom {
  border-top: 1px solid #f2f2f2;
  margin-top: -5px;
  position: relative;
  z-index: 99;
  padding: 20px;
}

.catalog-filter__title {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #333;
  padding: 0 20px;
}

.catalog-filter__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 767px) {
  .catalog-filter__btns {
    margin-bottom: 10px;
    padding: 0 15px;
  }
}

.catalog-filter__btns .btn {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .catalog-filter__btns .btn {
    margin-bottom: 10px;
  }
}

.filter-show-all {
  position: absolute;
  left: 198px;
  top: -12px;
  width: 140px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: var(--main-elements-color, #2363d1);
  z-index: 101;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2.4px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2.4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .filter-show-all {
    display: none !important;
  }
}

.filter-show-all:before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  top: calc(50% - 13px);
  left: -2px;
  background: var(--main-elements-color, #2363d1);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 2px;
}

.filter-show-all a {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

.catalog-filter-accordion {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  position: relative;
  z-index: 9;
}

.catalog-filter-accordion li {
  width: 100%;
  position: relative;
  padding-bottom: 10px;
}

.catalog-filter-accordion .opener {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #333;
  padding-left: 20px;
  padding-bottom: 3px;
  cursor: pointer;
}

.catalog-filter-accordion .opener:before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  //background: #f3f6fb url(../images/filter-arrow.svg) 50% 45% no-repeat;
  position: absolute;
  border: 1px solid #b7cbe5;
  right: 15px;
  top: 2px;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.catalog-filter-accordion .active .opener:before {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.catalog-filter-accordion .active .submenu {
  display: block;
}

.catalog-filter-accordion .submenu {
  display: none;
  list-style: none;
  width: 100%;
}

.catalog-filter-accordion .submenu li {
  margin: 0;
}

.catalog-filter-accordion .submenu li:first-child {
  padding-top: 3px;
}

.cscrlb-scrollable {
  overflow-y: scroll;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cscrlb-scrollable.horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
}

.cscrlb-scrollable .cscrlb-scroll-content {
  overflow: hidden;
  overflow-y: scroll;
  width: 100% !important;
}

.cscrlb-scrollable .cscrlb-scroll-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.cscrlb-scrollable .cscrlb-scrollbar {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 6px;
  background: #f2f2f2;
}

.cscrlb-scrollable .cscrlb-scrollbar .drag-handle {
  position: absolute;
  right: 0;
  min-height: 10px;
  width: 6px;
  background: #a9b1b9;
  border-radius: 16px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
}

.cscrlb-scrollable--main-color .cscrlb-scrollbar {
  background: #e0e0e0;
}

.cscrlb-scrollable--main-color .cscrlb-scrollbar .drag-handle {
  background: var(--main-elements-color, #2363d1);
}

.scrollbar-width-tester::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.cscrlb-scroll-content {
  height: 120px !important;
}

.cscrlb-scrollable.horizontal .cscrlb-scroll-content {
  overflow-x: scroll;
  overflow-y: hidden;
}

.cscrlb-scrollable.horizontal .cscrlb-scroll-content::-webkit-scrollbar,
.cscrlb-scrollable.horizontal .cscrlb-scroll-content::scrollbar {
  width: auto;
  height: auto;
}

.cscrlb-scrollable.horizontal .cscrlb-scrollbar {
  top: auto;
  left: 0;
  width: auto;
  height: 11px;
}

.cscrlb-scrollable.horizontal .cscrlb-scrollbar .drag-handle {
  right: auto;
  top: 2px;
  height: 10px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

.price-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  bottom: -7px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.price-download .icon {
  margin: -10px 0 0px 0;
}

.product-items-header {
  display: none;
  background: #d3d7db;
  width: 100%;
  padding: 0 7px;
}

.product-items-header.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-items-header span {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  color: #000;
  padding: 8px 7px;
  white-space: nowrap;
  text-align: center;
}

.product-items-header span:nth-child(1) {
  width: 8%;
  text-align: left;
}

.product-items-header span:nth-child(2) {
  width: 30%;
  text-align: left;
}

.product-items-header span:nth-child(3) {
  width: 13%;
  padding-right: 20px;
}

.product-items-header span:nth-child(4) {
  width: 11%;
}

.product-items-header span:nth-child(5) {
  width: 12%;
}

.product-items-header span:nth-child(6) {
  width: 16%;
  text-align: center;
}

.product-items-header span:nth-child(7) {
  width: 10%;
  text-align: center;
  padding-right: 14px;
}

.view-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 50px;
}

@media (max-width: 767px) {
  .view-sorting {
    display: none;
  }
}

.view-sorting__title {
  font-size: 12px;
  color: #333;
}

.view-sorting {
  margin-left: 30px;
}

@media (max-width: 767px) {
  .view-sorting {
    display: none;
  }
}

.view-sorting__title {
  display: block;
  width: 100%;
  font-size: 14px;
  color: #767676;
  opacity: 0.75;
}

.view-sorting__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.view-sort-item {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 2px;
  border: 1px solid #b7cbe5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: #fff;
  cursor: pointer;
}

.view-sort-item:first-child {
  margin-left: 0;
}

.view-sort-item .icon-svg {
  color: var(--main-elements-color, #2363d1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.view-sort-item--1 .icon-svg {
  width: 15px;
  height: 15px;
}

.view-sort-item--2 .icon-svg {
  width: 14px;
  height: 15px;
}

@media (max-width: 1210px) {
  .view-sort-item--3 {
    display: none;
  }
}

.view-sort-item--3 .icon-svg {
  width: 13px;
  height: 11px;
}

.view-sort-item.current,
.view-sort-item:hover {
  background: var(--main-elements-color, #2363d1);
  border-color: var(--main-elements-color, #2363d1);
}

.view-sort-item.current .icon-svg,
.view-sort-item:hover .icon-svg {
  color: #fff;
}

.header-search-results {
  height: 400px;
  max-height: 400px;
  position: absolute;
  top: 53px;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 99;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.search-result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #d3d7db;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px 20px;
}

.search-result-item:hover {
  background-color: #f6f6f6;
}

.search-result-item:last-child {
  border-bottom: 0;
}

.search-result-item__group-product {
  padding: 2px 7px;
  background: #767676;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  margin-left: 5px;
  display: inline-block;
}

.search-result-item__product {
  padding: 2px 7px;
  background: #e5e5ea;
  border-radius: 2px;
  font-size: 12px;
  color: #333;
  margin-left: 5px;
  display: inline-block;
}

.search-result-item__name {
  font-size: 14px;
  line-height: 20px;
  color: var(--main-elements-color, #2363d1);
  display: block;
  margin-bottom: 20px;
}

.search-result-item__cost {
  font-size: 18px;
  line-height: 24px;
  color: #333;
  white-space: nowrap;
  font-weight: bold;
}

.filter-item {
  position: relative;
}

.filter-item .form-group {
  margin-bottom: 12px;
}

.filter-item__content {
  position: relative;
  padding-left: 20px;
}

.noUi-horizontal {
  width: 100%;
}

.noUi-horizontal {
  height: 1px;
}

.noUi-target {
  background: #afa598;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.noUi-connect {
  top: -1px;
  background: #3b352d;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  left: -8px;
  top: -8px;
}

.noUi-handle {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  border: var(--main-elements-color, #2363d1);
  background: var(--main-elements-color, #2363d1);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

.noUi-marker,
.noUi-marker-horizontal.noUi-marker {
  width: 1px;
  height: 5px;
  background: #bab2a8;
}

.noUi-horizontal {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.input-cont {
  width: 64px;
  height: 32px;
  position: relative;
  margin: 0 !important;
}

.input-cont .input-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  border: 0.8px solid #c4c4c4;
  border-radius: 2px;
  font-size: 11px;
  color: #000000;
  line-height: 30px;
  z-index: 1;
}

.input-cont .range-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  font-size: 11px;
  color: #000000;
  z-index: 2;
  text-align: center;
}

.input-cont .range-input:focus {
  outline: none;
}

.noUi-horizontal {
  height: 6px;
}

.noUi-target {
  background: #e0e0e0;
  border-radius: 3px;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.noUi-connect {
  top: -1px;
  background: var(--main-elements-color, #2363d1);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.noUi-marker,
.noUi-marker-horizontal.noUi-marker {
  width: 1px;
  height: 5px;
  background: #bab2a8;
}

.noUi-value {
  font-family: "Roboto Slab";
  font-size: 12px;
  color: #7a7266;
}

.filter-range__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 15px;
}

.filter-range__head span {
  font-size: 11px;
  color: #7c8994;
}

.filter-range__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.clients-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  z-index: 9;
}

.client-item {
  position: relative;
  display: block;
  width: calc(100% / 4 - 12.5px);
  height: 130px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: var(--staticpage-box-fill-color, #f3f6fb);
  border: 1px solid var(--staticpage-box-border-color, #b7cbe5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.client-item .icon {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.client-item .icon .icon-svg {
  width: 12px;
  height: 20px;
  color: var(--main-elements-color, #2363d1);
}

.client-item:hover {
  background-color: var(--main-elements-color, #2363d1);
}

.client-item:hover .client-item__text {
  color: #fff;
}

.client-item:hover .icon-svg {
  color: #fff;
}

.client-item:nth-child(4n + 4) {
  margin-right: 0;
}

@media (max-width: 767px) {
  .client-item {
    width: calc(100% / 2 - 7.5px);
  }

  .client-item:nth-child(2n + 2) {
    margin-right: 0;
  }
}

@media (max-width: 479px) {
  .client-item {
    width: 100%;
    margin-right: 0;
  }
}

.client-item__text {
  position: absolute;
  bottom: 15px;
  left: 22px;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-elements-color, #2363d1);
  padding-right: 40px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .client-item__text {
    left: 10px;
    bottom: 10px;
  }
}

.main-action {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 300px;
  margin-bottom: 15px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .main-action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    width: calc(100% + 30px);
    margin: 0 -15px 15px -15px;
  }
}

.main-action__image {
  width: 540px;
  height: 100%;
  position: relative;
  z-index: 7;
}

@media (max-width: 991px) {
  .main-action__image {
    width: 400px;
  }
}

@media (max-width: 767px) {
  .main-action__image {
    width: 100%;
    height: 180px;
  }
}

.main-action__image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-action__text {
  width: calc(100% - 540px);
  height: 100%;
  background: #f5f5f5;
  padding: 35px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 9;
}

@media (max-width: 991px) {
  .main-action__text {
    width: calc(100% - 400px);
    padding: 0 25px;
  }
}

@media (max-width: 767px) {
  .main-action__text {
    width: 100%;
    height: auto;
    padding: 0px 15px 25px 15px;
  }
}

.main-action__type {
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .main-action__type {
    margin-top: -20px;
  }
}

.main-action__type span {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 35px;
  border-radius: 20px;
  font-size: 18px;
  color: #ffffff;
}

.main-action__type--action span {
  background: #d74853;
}

.main-action__type--new span {
  background: #3ec28f;
}

.main-action p {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 40px;
  color: #333;
}

@media (max-width: 767px) {
  .main-action p {
    font-size: 18px;
    line-height: 26px;
  }
}

.actions-content {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .actions-content {
    margin-bottom: 0px;
  }
}

.actions-content .item {
  width: calc(100% / 3 - 10px);
  margin-right: 15px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .actions-content .item {
    display: none;
    width: 100%;
    margin-right: 0px;
  }
}

.actions-content .item:nth-child(3n + 3) {
  margin-right: 0;
}

.actions-content .owl-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.actions-content .owl-carousel .item {
  display: none;
  width: calc(100% / 3 - 10px);
  margin-right: 15px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .actions-content .owl-carousel .item {
    display: block;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

.actions-content .owl-carousel .item:nth-child(3n + 3) {
  margin-right: 0;
}

.actions-content .owl-carousel .owl-nav {
  display: none;
}

.actions-content .owl-carousel .owl-dots {
  display: block;
}

.actions-content .owl-carousel .owl-dots {
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
  display: none !important;
  margin: 20px 0 0 0 !important;
}

@media (max-width: 767px) {
  .actions-content .owl-carousel .owl-dots {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.actions-content .owl-carousel .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 6px;
  background: #fff;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .actions-content .owl-carousel .owl-dots .owl-dot span {
    background: #c4c4c4;
  }
}

.actions-content .owl-carousel .owl-dots .owl-dot.active span,
.actions-content .owl-carousel .owl-dots .owl-dot:hover span {
  background: var(--main-elements-color, #2363d1);
}

.articles-block {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .articles-block {
    margin-bottom: 20px;
  }
}

.articles-block .item {
  width: calc(100% / 4 - 15px);
  margin-bottom: 20px;
}

.articles-block .item--half {
  width: calc(100% / 2 - 10px);
}

@media (max-width: 767px) {
  .articles-block .item {
    display: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 15px;
  }
}

.articles-block .item:nth-child(3n + 3) {
  margin-right: 0;
}

@media (max-width: 767px) {
  .articles-block .item:first-child {
    width: calc(100% + 30px);
    margin: 0 -15px 0px -15px;
  }

  .articles-block .item:first-child .new-slide-item {
    border: 0;
    background: #f5f5f5;
    height: auto;
    margin-bottom: 35px;
  }

  .articles-block .item:first-child .new-slide-item .new-slide-item__title {
    height: 40px;
    padding: 0 13px;
    min-width: 135px;
    font-size: 18px;
    top: -20px;
  }

  .articles-block .item:first-child .new-slide-item .new-slide-item__content {
    padding-top: 30px !important;
    padding-bottom: 30px;
    height: auto;
  }

  .articles-block .item:first-child .new-slide-item .new-slide-item__image {
    height: 180px;
  }

  .articles-block .item:first-child .new-slide-item .new-slide-item__name {
    height: auto;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }

  .articles-block .item:first-child .new-slide-item .btn-border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
  }
}

.catalog-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-menu--between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-menu__side {
  width: 225px;
}

@media (max-width: 767px) {
  .catalog-menu__side {
    display: none;
  }
}

.catalog-menu__content {
  width: calc(100% - 240px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .catalog-menu__content {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.catalog-menu__content .catalog-menu-item {
  width: calc(100% / 3 - 10px);
}

@media (max-width: 991px) {
  .catalog-menu {
    justify-content: space-between;
  }

  .catalog-menu-item {
    width: calc(100% / 2 - 10px) !important;
    margin: 0 0 15px 0 !important;
  }
}

@media (max-width: 480px) {
  .catalog-menu__content .catalog-menu-item {
    width: 100%;
    margin-right: 0;
  }
}

.catalog-menu__content .catalog-menu-item:nth-child(3n + 3) {
  margin-right: 0px;
}

.catalog-menu__content .catalog-menu-item:nth-child(4n + 4) {
  margin-right: 15px;
}

@media (max-width: 767px) {
  .catalog-menu__content .catalog-menu-item:nth-child(4n + 4) {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .catalog-menu--search .catalog-menu-item {
    display: none;
  }
}

.catalog-menu-item {
  width: calc(100% / 5 - 12px);
  margin: 0 15px 15px 0;
  position: relative;
  height: 140px;
}
.welcome .catalog-menu-item {
  width: calc(100% / 4 - 11.25px);
}

@media (max-width: 767px) {
  .catalog-menu-item {
    width: calc(100% / 2 - 7.5px);
  }
}

@media (max-width: 480px) {
  .catalog-menu-item {
    width: 100%;
    margin-right: 0;
  }
}

.catalog-menu-item:nth-child(5n + 5) {
  margin-right: 0;
}
.welcome .catalog-menu-item:nth-child(5n + 5) {
  margin-right: 15px;
}
.welcome .catalog-menu-item:nth-child(4n + 4) {
  margin-right: 0;
}

@media (max-width: 767px) {
  .catalog-menu-item:nth-child(2n + 2) {
    margin-right: 0;
  }
}

.catalog-menu-item:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: var(--preview-bg-color, transparent);
}

.catalog-menu-item:before {
  content: "";
  //background-image: url(../images/catalog-arrow-white.svg);
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 20px;
  bottom: 25px;
  z-index: 9;
}

.catalog-menu-item:hover:after {
  opacity: 0.8;
  background: var(--preview-bg-hover-color, #2363d1);
}

.catalog-menu-item__image {
  width: 100%;
  height: 140px;
}

.catalog-menu-item__image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.catalog-menu-item__name {
  position: absolute;
  left: 20px;
  bottom: 25px;
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: var(--preview-font-color, #fff);
  max-width: 140px;
  z-index: 9;
}

.article-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .article-inner {
    width: calc(100% + 30px);
    margin: 0 -15px 0px -15px;
  }
}

.article-inner__content {
  width: calc(100% - 240px);
  background: #fff;
  padding: 40px 200px 40px 100px;
}

.article-inner__content--wide {
  width: 100%;
}

@media (max-width: 991px) {
  .article-inner__content {
    padding: 30px 15px;
  }
}

@media (max-width: 767px) {
  .article-inner__content {
    width: 100%;
    padding: 0 15px;
  }
}

.article-inner__side {
  width: 225px;
}

@media (max-width: 767px) {
  .article-inner__side {
    display: none;
  }
}

.article-inner__side .product-item {
  margin-bottom: 20px;
}

.side-menu {
  width: 100%;
  padding: 20px 0;
  background: #fff;
  border: 1px solid #d9d9de;
  -webkit-box-shadow: 0px 2px 25px rgba(118, 118, 118, 0.15);
  box-shadow: 0px 2px 25px rgba(118, 118, 118, 0.15);
  border-radius: 2px;
  margin-bottom: 20px;
}

.side-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px 0 20px;
  font-size: 14px;
  color: #333;
  position: relative;
  font-weight: 500;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.side-menu ul li a:before {
  content: "";
  width: 9px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: calc(50% - 7.5px);
  //background: url(../images/side-menu-arrow.svg);
}

.side-menu ul li a:hover {
  background: #f5f5f5;
}

.side-menu ul li.disabled {
  pointer-events: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.side-menu ul li.disabled a {
  color: #d9d9de;
}

.modal {
  width: 100%;
  max-width: 580px;
  padding: 50px 100px;
  min-height: 400px;
}

.modal--wide {
  max-width: 980px;
  padding: 50px 0px 20px 100px;
}

@media (max-width: 767px) {
  .modal--wide {
    padding: 50px 15px 30px 15px;
  }
}

.modal .h2 {
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .modal .h2 {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 25px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .modal {
    padding: 50px 15px 30px 15px;
    min-height: 300px;
    background: #e5e5e5;
  }
}

@media (max-width: 480px) {
  .modal {
    min-height: 100%;
  }
}

.fancybox-slide--html .fancybox-close-small {
  color: var(--main-elements-color, #2363d1);
  right: 15px;
  top: 15px;
}

.fancybox-close-small {
  //background: #fff url(../images/modal-close.svg) 50% 50% no-repeat;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  color: var(--main-elements-color, #2363d1);
  opacity: 0.8;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;
}

.fancybox-close-small svg {
  display: none;
}

.sent-successfully {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  min-height: 300px;
}

@media (max-width: 767px) {
  .sent-successfully {
    min-height: 200px;
  }
}

@media (max-width: 480px) {
  .sent-successfully {
    height: calc(100vh - 90px);
  }
}

.sent-successfully__icon {
  margin-bottom: 20px;
}

.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 480px) {
  .modal-content {
    height: calc(100vh - 71px);
  }
}

.modal-icon {
  margin-bottom: 20px;
  display: block;
}

.city-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.city-list li {
  width: calc(100% / 3);
  margin-bottom: 30px;
  font-size: 18px;
  height: 24px;
  min-width: 200px;
}

@media (max-width: 767px) {
  .city-list li {
    margin-bottom: 12px;
    font-size: 16px;
  }
}

.city-list a {
  color: #333;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.city-list a:hover {
  color: var(--main-elements-color, #2363d1);
}

.table-order {
  margin-bottom: 20px;
}

.table-order table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
}

.table-order ul {
  width: 200px;
  float: right;
}

.table-order ul li {
  font-size: 10px;
  line-height: 14px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.table-order th {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  font-size: 8px;
  line-height: 10px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.table-order th:first-child {
  border-left: 2px solid #000;
}

.table-order th:last-child {
  border-right: 2px solid #000;
}

.table-order td {
  border: 1px solid #000;
  font-size: 8px;
  line-height: 10px;
  padding: 5px;
  text-align: left;
}

.table-order td:nth-child(1) {
  text-align: center;
}

.table-order td:nth-child(4) {
  text-align: right;
}

.table-order td:nth-child(6) {
  text-align: right;
}

.table-order td:nth-child(7) {
  text-align: right;
}


.product-item-comparison {
  width: 100%;
  margin-bottom: 15px;
  background: #fff;
  position: relative;
}

@media (max-width: 767px) {
  .product-item-comparison .shopping-cart-btn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .product-item-comparison {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.product-item-comparison__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 340px;
}

@media (max-width: 767px) {
  .product-item-comparison__link {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.product-item-comparison__img-text {
  position: absolute;
  right: 15px;
  top: 0;
  height: 24px;
  line-height: 24px;
  font-weight: bold;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
  z-index: 9;
  text-transform: none;
  font-style: italic;
  font-family: "Golos";
}

.product-item-comparison__img-text--white {
  color: rgba(255, 255, 255, 0.6) !important;
}

@media (max-width: 767px) {
  .product-item-comparison__img-text {
    right: auto;
    left: 5px;
    top: auto;
    bottom: 10px;
  }
}

.product-item-comparison__image {
  position: relative;
  height: 170px;
  display: block;
}

@media (max-width: 767px) {
  .product-item-comparison__image {
    height: 100px;
    width: 100%;
    overflow: hidden;
  }
}

.product-item-comparison__image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.product-item-comparison__content-top {
  position: relative;
  padding: 15px 16px 0px 16px;
  background: #fff;
  display: block;
  height: calc(100% - 170px);
}

@media (max-width: 767px) {
  .product-item-comparison__content-top {
    height: calc(100% - 145px);
    padding: 15px 0 0 0;
  }
}

.product-item-comparison__content-bottom {
  position: relative;
  padding: 0px 16px 10px 16px;
  background: #fff;
  display: block;
}

@media (max-width: 767px) {
  .product-item-comparison__content-bottom {
    padding: 0;
  }
}

.product-item-comparison__flag-content {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product-item-comparison__flag {
  font-family: "Golos";
  z-index: 9;
  font-weight: 500;
  font-style: italic;
  font-size: 10px;
  line-height: 150%;
  color: #ffffff;
  height: 19px;
  padding: 0 15px 0 10px;
  min-width: 51px;
  line-height: 19px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.product-item-comparison__flag--hit {
  background-color: #d74853;
}

.product-item-comparison__flag--new {
  background-color: #3ec28f;
}

.product-item-comparison__flag--sale {
  background-color: #f6ac1d;
}

.product-item-comparison__flag--markdown {
  background-color: #626262;
}

.product-item-comparison__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 7px;
}

@media (max-width: 767px) {
  .product-item-comparison__head {
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.product-item-comparison__art {
  font-size: 9px;
  line-height: 11px;
  color: #bdbdbd;
}

@media (max-width: 767px) {
  .product-item-comparison__art {
    padding-bottom: 5px;
  }
}

.product-item-comparison__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2px;
}

.product-item-comparison__rating .star {
  width: 15px;
  height: 15px;
  margin-left: 2px;
}

@media (max-width: 767px) {
  .product-item-comparison__rating .star {
    width: 18px;
    height: 18px;
  }
}

.product-item-comparison__rating .star:first-child {
  margin-left: 0;
}

.product-item-comparison__rating .star--full {
  // background-image: url(../img/icons/star-full.svg);
  background-size: 15px 15px;
}

@media (max-width: 767px) {
  .product-item-comparison__rating .star--full {
    background-size: 18px 18px;
  }
}

.product-item-comparison__rating .star--half {
  // background-image: url(../img/icons/star-half.svg);
  background-size: 15px 15px;
}

@media (max-width: 767px) {
  .product-item-comparison__rating .star--half {
    background-size: 18px 18px;
  }
}

.product-item-comparison__rating .star--empty {
  // background-image: url(../img/icons/star-empty.svg);
  background-size: 15px 15px;
}

@media (max-width: 767px) {
  .product-item-comparison__rating .star--empty {
    background-size: 18px 18px;
  }
}

.product-item-comparison__name {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  display: block;
  margin-bottom: 5px;
  overflow: hidden;
  height: 57px;
}

@media (max-width: 767px) {
  .product-item-comparison__name {
    height: 64px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    min-height: 33px;
    max-height: 64px;
  }
}

.product-item-comparison__delivery {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 11px;
  margin-left: 10px;
  color: #a9b1b9;
}

.product-item-comparison__delivery .icon {
  margin-right: 10px;
}

.product-item-comparison__delivery .icon img {
  width: 18px;
}

.product-item-comparison__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 5px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .product-item-comparison__cost {
    position: absolute;
    bottom: 10px;
    left: 0px;
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.product-item-comparison__cost span {
  font-size: 11px;
  text-decoration: line-through;
  color: #7c8994;
  font-weight: normal;
  padding-left: 10px;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .product-item-comparison__cost span {
    display: block;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    position: absolute;
    left: 60px;
    top: -10px;
    padding-left: 0;
  }
}

.product-item-comparison__cost-title {
  display: block;
  text-decoration: none !important;
  width: 100%;
  padding-left: 0 !important;
}

@media (max-width: 767px) {
  .product-item-comparison__cost-title {
    position: absolute;
    left: 0 !important;
    text-align: left;
    top: -10px;
  }
}

.product-item-comparison__status {
  font-size: 11px;
  margin-bottom: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

@media (max-width: 767px) {
  .product-item-comparison__status {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    position: relative;
  }
}

.product-item-comparison__status--limited {
  color: #ff9500;
}

.product-item-comparison__status--none {
  color: #d74853;
}

.product-item-comparison__status--many {
  color: #3ec28f;
}

.product-item-comparison__status--small {
  color: #ff9500;
}

.product-item-comparison__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 767px) {
  .product-item-comparison__btns {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    position: absolute;
    right: 0;
    bottom: 10px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.product-item-comparison__balance {
  display: none;
  font-size: 11px;
  color: #000;
}

.product-item-comparison__line-cost {
  display: none;
  font-size: 11px;
  color: #000;
}

.product-item-comparison__input-line {
  display: none;
  margin-right: 10px;
}

.product-item-comparison__input-line input {
  width: 54px;
  height: 32px;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: inset 0px 1.6px 4px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 1.6px 4px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  text-align: center;
  font-size: 11px;
  line-height: 30px;
  color: #000000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.product-item-comparison__input-line input:focus {
  border-color: var(--main-elements-color, #2363d1);
}

.product-comparison {
  width: 52px;
  height: 40px;
  background: #ffffff;
  border: 1px solid var(--main-elements-color, #2363d1);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

@media (max-width: 767px) {
  .product-comparison {
    display: none;
  }
}

.product-comparison svg {
  width: 17px;
  height: 16px;
  color: var(--main-elements-color, #2363d1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.product-comparison:hover {
  background: var(--main-elements-color, #2363d1);
}

.product-comparison:hover svg {
  color: #fff;
}

.comparison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 60px;
}

.comparison__block {
  display: flex;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 25px;
  padding-bottom: 30px;
}

.comparison__block label {
  margin-right: 15px;
  margin-bottom: 5px;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Golos";
  transition: 0.2s;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
}

.comparison__block span {
  padding: 10px 20px;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background: #ffffff;
  border: 1px solid #000000;
  transition: 0.2s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.comparison__block label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

.comparison__block label:hover span {
  background: #f3f6fb;
  border-color: #2363d1;
  color: #2363d1;
}

.comparison__block input[type="radio"]:checked + span {
  background: #2363d1;
  border-color: #2363d1;
  color: #fff;
}

@media (max-width: 767px) {
  .comparison__block {
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}

.catalog__links-block {
  margin-bottom: 25px;
  padding-bottom: 30px;
}

.catalog__links-block a {
  margin-right: 15px;
  margin-bottom: 5px;
  border-radius: 2px;
  font-family: "Golos";
  font-size: 14px;
  line-height: 20px;
  transition: 0.2s;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333333;
  background: #ffffff;
  position: relative;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
  padding: 10px 20px;
  border: 1px solid #000000;
}

.catalog__links-block a:hover {
  background: #2363d1;
  border-color: #2363d1;
  color: #fff;
}

@media (max-width: 767px) {
  .catalog__links-block {
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}

.product-card__radio-options {
  display: flex;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.product-card__radio-options span {
  width: 100%;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #767676;
  font-weight: 400;
  margin-bottom: 6px;
}

.product-card__radio-options a {
  margin-right: 10px;
  margin-bottom: 3px;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Golos";
  transition: 0.2s;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
  padding: 7px 14.5px;
  font-size: 12px;
  line-height: 20px;
  color: #767676;
  background: #ffffff;
  border: 1px solid #767676;
}

.product-card__radio-options a:last-child {
  margin-right: 0;
}

.product-card__radio-options a:hover {
  background: #2363d1;
  border-color: #2363d1;
  color: #fff;
}

@media (max-width: 767px) {
  .product-card__radio-options {
    padding-bottom: 10px;
    margin-bottom: 0;
  }
}

.product-card__select-options {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}

.product-card__select-options span {
  width: 100%;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #767676;
  font-weight: 400;
  margin-bottom: 6px;
}

.product-card__select-options select {
  width: 100%;
  height: 30px;
  padding-left: 20px;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 24px 20px;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Golos";
  color: #333333;
}

@media (max-width: 767px) {
  .comparison {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .comparison .product-slider--full {
    margin-top: 60px !important;
  }
}

@media (max-width: 576px) {
  .comparison .product-slider--full {
    margin-top: 0px !important;
  }
}

.comparison__side {
  width: 230px;
  border-right: 1px solid #f6f6f6;
}

@media (max-width: 767px) {
  .comparison__side {
    width: 100%;
    border-right: 0;
  }
}

@media (max-width: 767px) {
  .comparison__side .dep-item {
    display: none;
  }
}

.comparison__content {
  width: calc(100% - 240px);
}

@media (max-width: 767px) {
  .comparison__content {
    width: 100%;
    padding-top: 0px;
  }
}

@media (max-width: 576px) {
  .comparison__content {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
}

.comparison__radios {
  /* padding-top: 10px; */
  padding-right: 10px;
  height: 415px;
}

@media (max-width: 767px) {
  .comparison__radios {
    height: auto;
    padding: 10px 15px;
  }
}

.comparison__radios .radio {
  height: 40px;
  margin-bottom: 10px;
}

.comparison__radios .radio .radio-content--sm {
  height: 40px;
}

.comparison__radios .radio [type="radio"]:not(:checked) + label:before,
.comparison__radios .radio [type="radio"]:checked + label:before {
  top: 10px;
}

.comparison__radios .radio [type="radio"]:not(:checked) + label,
.comparison__radios .radio [type="radio"]:checked + label {
  height: 40px;
  padding-top: 8px;
}

.comparison-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid #f6f6f6;
  padding-top: 16px;
  margin-top: 8px;
}

@media (max-width: 767px) {
  .comparison-delete {
    width: calc(100% + 16px);
    margin: 0 -8px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-top: 0;
    padding: 16px 0;
  }
}

.comparison-delete a {
  max-width: 112px;
}

.comparison-category {
  padding-right: 10px;
}

@media (max-width: 767px) {
  .comparison-category {
    padding: 0 15px 10px 15px;
  }
}

.comparison-category__title {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #767676;
  opacity: 0.75;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .comparison-category__title {
    margin-top: 0;
  }
}

.comparison-product {
  width: calc(100% + 16px);
  margin: 0px -8px 0 -8px;
}

.comparison-product__description {
  padding-top: 22px;
}

@media (max-width: 767px) {
  .comparison-product__description {
    padding: 0;
  }
}
