.product-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .product-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.item__fixed-height .product-card-v2 {
  height: 385px;
  margin-bottom: 0 !important;
}

.item__fixed-height .product-item-comparison__link {
  height: 335px;
  border-bottom: none;
}

@media (min-width: 767px) {
  .item__fixed-height .product-card-v2 {
    border: none;
  }
}

@media (max-width: 767px) {
  .item__fixed-height .product-item-comparison__link {
    height: 385px;
  }
}

@media (max-width: 576px) {
  .item__fixed-height .product-item,
  .item__fixed-height .product-card-v2 {
    height: 326px;
  }

  .item__fixed-height .product-item-comparison__link {
    height: 326px;
  }

  .item__fixed-height
    .product-item-comparison__link
    .product-item-comparison__name {
    max-height: 52px;
    font-size: 12px;
    line-height: 1.5;
  }
}

.product-slider .btn-center {
  padding: 0 15px;
}

.product-slider .item {
  margin: 0 2px;
}

.product-slider .product-item {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .product-slider .product-item {
    margin: -1px 0 0px 0;
  }
}

.product-slider--comparison .item {
  margin: 0;
}

.product-slider--3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: calc(100% - 239px);
}

@media (max-width: 767px) {
  .product-slider--3 {
    width: calc(100% + 30px);
    margin: 0 -15px 30px -15px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .product-slider--3 .owl-carousel {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .product-slider--3 .item {
    display: none;
  }
}

.product-slider--full {
  width: calc(100% + 9px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .product-slider--full {
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

/* @media (max-width: 767px) {
              .product-slider--full .owl-carousel {
                  display: block !important;
              }
             
          } */

@media (max-width: 767px) {
  .product-slider--full {
    margin: 0 !important;
  }
}

@media (max-width: 576px) {
  .product-slider--full {
    padding: 0 8px !important;
  }
}

/* 
          .product-slider--full .owl-nav {
              margin-right: 8px;
          } */

.product-slider--full .item {
  padding: 0 8px;
  border-right: 1px solid #f6f6f6;
}

.product-slider--full .slick-slide {
  margin: 0 0 !important;
  row-gap: 0px !important;
  padding: 0 !important;
}

@media (max-width: 767px) {
  .product-slider--4 {
    width: calc(100% + 30px);
    margin: 0 -15px 30px -15px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}

@media (max-width: 767px) {
  .product-slider--4 .owl-carousel {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .product-slider--4 .item {
    display: none;
  }
}

.product-slider--margin-small {
  margin-bottom: 0 !important;
}

.product-slider__banners {
  width: 225px;
  display: block !important;
  position: relative;
}

@media (max-width: 767px) {
  .product-slider__banners {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 15px;
  }
}

.product-slider__banners .product-item {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .product-slider__banners .product-item {
    height: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .product-slider__banners .product-item a {
    height: auto;
  }
}

.product-slider__banners .item {
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .product-slider__banners .item {
    height: auto;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .product-slider__banners .item {
    display: block !important;
  }
}

.product-slider__banners .owl-dots {
  left: auto;
  width: 100%;
  text-align: center;
  display: none !important;
  margin: 0 !important;
}

@media (max-width: 767px) {
  .product-slider__banners .owl-dots {
    bottom: -20px !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.product-slider__banners .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 6px;
  background: #fff;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .product-slider__banners .owl-dots .owl-dot span {
    background: #c4c4c4;
  }
}

.product-slider__banners .owl-dots .owl-dot.active span,
.product-slider__banners .owl-dots .owl-dot:hover span {
  background: var(--main-elements-color, #2363d1) !important;
}

@media (max-width: 767px) {
  .news-slider {
    margin-bottom: 70px !important;
  }
}

.product-slider,
.news-slider,
.action-slider,
.category-slider {
  margin-bottom: 40px;
}
.product-slider > .product-slider {
  margin-bottom: 0;
}

.product-slider .owl-nav,
.news-slider .owl-nav,
.action-slider .owl-nav,
.category-slider .owl-nav {
  position: absolute;
  top: -70px;
  right: 0;
  display: block !important;
}

@media (max-width: 767px) {
  .product-slider .owl-nav,
  .news-slider .owl-nav,
  .action-slider .owl-nav,
  .category-slider .owl-nav {
    display: none !important;
  }
}

.product-slider .owl-nav [class*="owl-"],
.news-slider .owl-nav [class*="owl-"],
.action-slider .owl-nav [class*="owl-"],
.category-slider .owl-nav [class*="owl-"] {
  display: inline-block;
  cursor: pointer;
  width: 38px;
  height: 38px;
  // background: #fff url(../img/icons/slider-nav-arrow.svg) 55% 50% no-repeat;
  background-size: 15px 15px;
  font-size: 0;
  margin-left: 10px;
  border-radius: 50%;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #b7cbe5;
}

.product-slider .owl-nav [class*="owl-"]:last-child,
.news-slider .owl-nav [class*="owl-"]:last-child,
.action-slider .owl-nav [class*="owl-"]:last-child,
.category-slider .owl-nav [class*="owl-"]:last-child {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.product-slider .owl-nav [class*="owl-"]:hover,
.news-slider .owl-nav [class*="owl-"]:hover,
.action-slider .owl-nav [class*="owl-"]:hover,
.category-slider .owl-nav [class*="owl-"]:hover {
  background-color: #f3f6fb;
  border-color: var(--main-elements-color, #2363d1);
}

.product-slider .owl-nav [class*="owl-"]:active,
.news-slider .owl-nav [class*="owl-"]:active,
.action-slider .owl-nav [class*="owl-"]:active,
.category-slider .owl-nav [class*="owl-"]:active {
  background-color: #f3f6fb;
  border-color: var(--main-elements-color, #2363d1);
}

.product-slider .owl-nav .disabled,
.news-slider .owl-nav .disabled,
.action-slider .owl-nav .disabled,
.category-slider .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.product-slider .owl-nav.disabled + .owl-dots,
.news-slider .owl-nav.disabled + .owl-dots,
.action-slider .owl-nav.disabled + .owl-dots,
.category-slider .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.product-slider .owl-dots,
.news-slider .owl-dots,
.action-slider .owl-dots,
.category-slider .owl-dots {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.product-slider .owl-dots,
.news-slider .owl-dots,
.action-slider .owl-dots,
.category-slider .owl-dots {
  position: absolute;
  bottom: -35px;
  left: 0px;
  width: 100%;
  text-align: center;
  display: none;
}

@media (max-width: 767px) {
  .product-slider .owl-dots,
  .news-slider .owl-dots,
  .action-slider .owl-dots,
  .category-slider .owl-dots {
    left: auto;
    display: block;
    width: 100%;
    text-align: center;
  }
}

.product-slider .owl-dots .owl-dot,
.news-slider .owl-dots .owl-dot,
.action-slider .owl-dots .owl-dot,
.category-slider .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.product-slider .owl-dots .owl-dot span,
.news-slider .owl-dots .owl-dot span,
.action-slider .owl-dots .owl-dot span,
.category-slider .owl-dots .owl-dot span {
  width: 11px;
  height: 11px;
  margin: 5px 6px;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px;
  border: 1px solid var(--main-elements-color, #2363d1);
  background: #f3f6fb;
  cursor: pointer;
}

.product-slider .owl-dots .owl-dot.active span,
.product-slider .owl-dots .owl-dot:hover span,
.news-slider .owl-dots .owl-dot.active span,
.news-slider .owl-dots .owl-dot:hover span,
.action-slider .owl-dots .owl-dot.active span,
.action-slider .owl-dots .owl-dot:hover span,
.category-slider .owl-dots .owl-dot.active span,
.category-slider .owl-dots .owl-dot:hover span {
  background: var(--main-elements-color, #2363d1);
}

@media (max-width: 767px) {
  .action-slider {
    margin-bottom: 60px;
  }
}

.product-slider--full .owl-nav {
  position: absolute;
  top: -70px;
  right: 0;
}

@media (max-width: 767px) {
  .product-slider--full .owl-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 5px 0 10px;
    top: -40px;
  }
}

@media (max-width: 767px) {
  .product-slider--full .owl-nav [class*="owl-"] {
    width: 24px;
    height: 24px;
    background-size: 12px 12px;
  }
}