<div class="booking-block">
  <div class="booking-block__statuses booking-block__statuses_right">
    <p class="booking-block__status">
      <span class="booking-block__status-color booking-block__status-color_free"></span> Свободно
    </p>
    <p class="booking-block__status">
      <span class="booking-block__status-color booking-block__status-color_selected"></span> Выбрано
    </p>
    <p class="booking-block__status">
      <span class="booking-block__status-color booking-block__status-color_busy"></span> Занято
    </p>
  </div>
  <div class="booking-block__content">
    <div data-booking-tooltip-content class="d-none">
      <div class="booking-tooltip">
        <p class="booking-tooltip__text">
          Нажмите, чтобы забронировать
          <span data-booking-tooltip-title class="booking-tooltip__text-accent"></span> на время
          <span data-booking-tooltip-time class="booking-tooltip__text-accent"></span>
        </p>
        <button class="g-button g-button_fill booking-tooltip__button" data-booking-tooltip-button>
          Забронировать
        </button>
      </div>
    </div>
    <div class="booking-table">
      <div data-booking-scroll class="booking-table__scroll">
        <div class="booking-table__content">
          <div class="booking-table__row booking-table__row_days">
            <p data-booking-title="Стол №1 (1 этаж) - возле парадного входа1"
              class="booking-table__title booking-table__title_days">
              Стол №1 (1 этаж) - возле парадного входа1
            </p>
            <div class="booking-table__items booking-table__items_days">
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:10-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:03-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:02-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:04-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:05-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:06-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:07-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
            </div>
          </div>
          <div class="booking-table__row booking-table__row_days">
            <p data-booking-title="Стол №1 (1 этаж) - возле парадного входа2"
              class="booking-table__title booking-table__title_days">
              Стол №1 (1 этаж) - возле парадного входа2
            </p>
            <div class="booking-table__items booking-table__items_days">
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:10-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:03-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:02-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:04-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:05-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:06-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:07-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
            </div>
          </div>
          <div class="booking-table__row booking-table__row_days">
            <p data-booking-title="Стол №1 (1 этаж) - возле парадного входа3"
              class="booking-table__title booking-table__title_days">
              Стол №1 (1 этаж) - возле парадного входа3
            </p>
            <div class="booking-table__items booking-table__items_days">
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:10-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:03-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:02-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:04-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:05-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:06-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:07-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
            </div>
          </div>
          <div class="booking-table__row booking-table__row_days">
            <p data-booking-title="Стол №1 (1 этаж) - возле парадного входа4"
              class="booking-table__title booking-table__title_days">
              Стол №1 (1 этаж) - возле парадного входа4
            </p>
            <div class="booking-table__items booking-table__items_days">
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:10-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:03-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:02-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:04-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:05-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-submit-url="/booking/matrix/" data-booking-time="15:06-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:07-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
            </div>
          </div>
        </div>
        <div data-booking-mobile-titles
          class="d-md-none booking-table__mobile-titles booking-table__mobile-titles_shadow"></div>
      </div>
    </div>
    <div data-booking-form class="booking-form">
      <p class="content-title h2 booking-form__title">Оставить заявку на бронирование</p>
      <p class="form-text booking-form__text">
        Заполните форму, и мы свяжемся с вами для уточнения информации о брони по указанному номеру телефона:
      </p>
      <form id="booking-form" class="booking-form__form">
        <div class="form-group">
          <input disabled type="text" class="form-control" name="name" autocomplete="off" required />
          <label for="name" class="label-name">
            <span class="content-name"> Имя* </span>
          </label>
        </div>
        <div class="form-group">
          <input disabled type="phone" class="form-control phone" name="phone" autocomplete="off" required
            maxlength="18" />
          <label for="phone" class="label-name">
            <span class="content-name"> Телефон </span>
          </label>
        </div>
        <div class="form-group">
          <textarea disabled class="form-control" name="message" autocomplete="off" required></textarea>
          <label for="message" class="label-name">
            <span class="content-name"> Комментарий </span>
          </label>
        </div>
        <button disabled type="submit" class="btn btn--main-min">Отправить</button>
      </form>
    </div>
  </div>
</div>