.product-price-group
  &__percent
    display: flex
    gap: 5px
    fill: #2363d1
    align-items: center

  &__text-small
    text-wrap: nowrap

  &__row
    display: flex
    align-items: center
    gap: 15px
  &__personal-price
    font-family: Golos
    font-size: 28px
    font-weight: 700
    line-height: 36px
    color: #000
    margin: 0
    text-wrap: nowrap
  &__price
    font-family: Golos
    font-size: 14px
    font-weight: 400
    line-height: 20px
    color: #767676
    margin: 0
    text-wrap: nowrap
    &_old
      color: #C43228
      text-decoration: line-through
