.product-sidebar
  background-color: #fff
  border: 1px solid #E5E5EA
  margin-bottom: var(--grid-gutter-width, 20px)

  &__top
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 20px
    border-bottom: 1px solid #E5E5EA

  &__content
    padding: 20px

  &__title
    font-family: Golos
    font-size: 26px
    font-weight: 700
    line-height: 130%
    color: #000
    margin-bottom: 25px

  &__top-item
    display: flex
    gap: 15px
    min-width: 185px

@media (max-width: 1023px)
  .product-sidebar
    &__title
      margin-bottom: 10px

@media ( max-width: 575px )
  .product-sidebar
    border: none
    &__content
      padding: 20px 0
      border: none
    &__top
      padding: 10px 0

  .section-dark
    background-color: #fff !important
