.star
  height: 15px
  width: 15px
  &_full
    background-image: url('../images/star-full.svg')
  &_half
    background-image: url(../images/star-half.svg)
  &_empty
    background-image: url(../images/star-empty.svg)

.product-rating
  display: flex
  align-items: center
  gap: 3px
