<div class="booking-block">
  <div class="booking-block__slider">
    <button id="prev-button" class="days-slider-prev">
      <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M7.3075 1.25662L6.275 0.224122L0.499999 5.99912L6.275 11.7741L7.3075 10.7416L2.565 5.99912L7.3075 1.25662Z"
          fill="currentColor" />
      </svg>
    </button>
    <button id="next-button" class="days-slider-next">
      <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.6925 1.25662L1.725 0.224122L7.5 5.99912L1.725 11.7741L0.692501 10.7416L5.435 5.99912L0.6925 1.25662Z"
          fill="currentColor" />
      </svg>
    </button>
    <div class="slider-constructor days-slider" data-prev-button-id="prev-button"
      data-next-button-id="next-button" data-no-infinite data-md-slides="5" data-slides="4" data-no-dots>
      <a href="#" class="booking-block-day-slide booking-block-day-slide_past">
        <p class="booking-block-week-day">ПН</p>
        <p class="booking-block-date">02/02</p>
      </a>
      <a href="#" class="booking-block-day-slide booking-block-day-slide_past">
        <p class="booking-block-week-day">ПН</p>
        <p class="booking-block-date">02/02</p>
      </a>
      <a href="#" class="booking-block-day-slide">
        <p class="booking-block-week-day">ПН</p>
        <p class="booking-block-date">02/02</p>
      </a>
      <a href="#" class="booking-block-day-slide">
        <p class="booking-block-week-day">ПН</p>
        <p class="booking-block-date">02/02</p>
      </a>
      <a href="#" class="booking-block-day-slide">
        <p class="booking-block-week-day">ПН</p>
        <p class="booking-block-date">02/02</p>
      </a>
      <a href="#" class="booking-block-day-slide">
        <p class="booking-block-week-day">ПН</p>
        <p class="booking-block-date">02/02</p>
      </a>
      <a href="#" class="booking-block-day-slide">
        <p class="booking-block-week-day">ПН</p>
        <p class="booking-block-date">02/02</p>
      </a>
    </div>
  </div>
  <div class="booking-block__statuses">
    <p class="booking-block__status">
      <span class="booking-block__status-color booking-block__status-color_free"></span> Свободно
    </p>
    <p class="booking-block__status">
      <span class="booking-block__status-color booking-block__status-color_selected"></span> Выбрано
    </p>
    <p class="booking-block__status">
      <span class="booking-block__status-color booking-block__status-color_busy"></span> Занято
    </p>
  </div>
  <div class="booking-block__content">
    <div data-booking-tooltip class="d-none">
      <div class="booking-tooltip">
        <p class="booking-tooltip__text">
          Нажмите, чтобы забронировать
          <span data-booking-tooltip-title class="booking-tooltip__text-accent"></span> на время
          <span data-booking-tooltip-time class="booking-tooltip__text-accent"></span>
        </p>
        <button class="g-button g-button_fill booking-tooltip__button" data-booking-tooltip-button>
          Забронировать
        </button>
      </div>
    </div>
    <div class="booking-table">
      <div data-booking-scroll class="booking-table__scroll">
        <div data-booking-mobile-titles class="d-md-none booking-table__mobile-titles booking-table__mobile-titles_shadow">
        </div>
        <div class="booking-table__content">
          <div class="booking-table__row booking-table__row_hours">
            <p data-booking-title class="booking-table__title">Стол №1 (1 этаж) - возле парадного входа</p>
            <div class="booking-table__items booking-table__items_hours">
              <a data-booking-tooltip data-booking-time="15:00-16:00"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:01"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:02"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:03"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:17"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:27"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:37"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:47"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:57"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:08"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:09"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:10"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:11"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:12"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:13"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:14"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
            </div>
          </div>
          <div class="booking-table__row booking-table__row_hours">
            <p data-booking-title class="booking-table__title">Стол №1 (1 этаж)</p>
            <div class="booking-table__items booking-table__items_hours">
              <a data-booking-tooltip data-booking-time="15:00-16:00"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:01"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:02"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:03"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:17"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:27"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:37"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:47"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:57"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:08"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:09"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:10"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:11"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:12"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:13"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:14"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
            </div>
          </div>
          <div class="booking-table__row booking-table__row_hours">
            <p data-booking-title class="booking-table__title">Стол №1 (1 этаж)</p>
            <div class="booking-table__items booking-table__items_hours">
              <a data-booking-tooltip data-booking-time="15:00-16:00"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:01"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:02"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:03"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:17"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:27"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:37"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:47"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:57"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:08"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:09"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:10"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:11"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:12"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:13"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:14"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
            </div>
          </div>
          <div class="booking-table__row booking-table__row_hours">
            <p data-booking-title class="booking-table__title">Стол №1 (1 этаж)</p>
            <div class="booking-table__items booking-table__items_hours">
              <a data-booking-tooltip data-booking-time="15:00-16:00"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:01"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:02"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:03"
                class="booking-table__item booking-table__item_hour  booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy booking-table__item_past"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a
                class="booking-table__item booking-table__item_hour booking-table__item_busy"
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:17"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:27"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:37"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:47"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:57"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:08"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:09"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:10"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:11"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:12"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:13"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
              <a data-booking-tooltip data-booking-time="15:00-16:14"
                class="booking-table__item booking-table__item_hour "
                href="#">8:00</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>