<div data-fancybox="mobile-header-language" data-src="#mob-header-language-modal" class="language-selected">
  <span class="language-icon">
    <img src="@images/language-default-icon.svg" alt="">
  </span>
  <span class="language-name">Русский</span>
  <span class="language-valuta">(RUB)</span>
</div>
<div id="mob-header-language-modal" class="modal header-language__modal mobile-language-default">
  <h3 class="header-language__modal_title">Выберите язык</h3>
  <ul class="language-list">
    <li>
      <a href="#">
        <img src="@images/ru.svg" alt="" class="language-icon">
        <span class="language-name">Русский</span>
        <span class="language-valuta">(RUB)</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="@images/spain.svg" alt="" class="language-icon">
        <span class="language-name">Испанский</span>
        <span class="language-valuta">(ESP)</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="@images/us.svg" alt="" class="language-icon">
        <span class="language-name">Английский</span>
        <span class="language-valuta">(USD)</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="@images/kz.svg" alt="" class="language-icon">
        <span class="language-name">Казахский</span>
        <span class="language-valuta">(KZT)</span>
      </a>
    </li>
  </ul>
</div>