.header-body__buttons
	display: flex
	align-items: center
	gap: 15px
	margin-left: 15px

	.header-compare,
	.header-favorite,
	.header-cart
		flex-shrink: 0
		margin: 0

		.icon
			display: flex
			align-items: center
			justify-content: center
			top: -3px

		.icon-svg
			width: 30px
			height: 30px

	.header-compare

		span
			background-color: var(--gray-color-700)