<div class="catalog-filter sidebar-position-left">
    <div class="mobile-menu-head">
      <div class="mobile-menu-head__title">Фильтры</div>
      <a class="mobile-menu-head__close-btn close-btn-2">
        <svg class="icon">
          <use xlink:href="#delete"></use>
        </svg>
      </a>
    </div>
    <form action="/catalog/category/elektrosvarnye-fitingi/otvod-elektrosvarnoj/" id="catalog_filter_form"
      method="get" class="catalog-filter-body" autocomplete="off" data-gtm-form-interact-id="0">
      <ul class="catalog-filter-accordion">
        <li>
          <a href="#" class="opener">Материал
            <svg class="icon">
              <use xlink:href="#tab-arrow"></use>
            </svg>
          </a>
          <ul class="submenu" style="display: none">
            <li>
              <div class="filter-item">
                <div class="filter-item__content">
                  <div class="form-group">
                    <div class="checkbox">
                      <input type="checkbox" name="material" value="polietilen-pe-100" id="id_material_0" />

                      <label for="id_material_0">Полиэтилен PE 100 <span>19</span></label>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li>
          <a href="#" class="opener">Градус
            <svg class="icon">
              <use xlink:href="#tab-arrow"></use>
            </svg>
          </a>
          <ul class="submenu" style="display: none">
            <li>
              <div class="filter-item">
                <div class="filter-item__content">
                  <div class="form-group">
                    <div class="checkbox">
                      <input type="checkbox" name="gradus" value="45" id="id_gradus_0" />

                      <label for="id_gradus_0">45° <span>8</span></label>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="checkbox">
                      <input type="checkbox" name="gradus" value="90" id="id_gradus_1" />

                      <label for="id_gradus_1">90° <span>11</span></label>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <li>
          <a href="#" class="opener">Производитель
            <svg class="icon">
              <use xlink:href="#tab-arrow"></use>
            </svg>
          </a>
          <ul class="submenu" style="display: none">
            <li>
              <div class="filter-item">
                <div class="filter-item__content">
                  <div class="form-group">
                    <div class="checkbox">
                      <input type="checkbox" name="proizvoditel" value="fox" id="id_proizvoditel_0" />

                      <label for="id_proizvoditel_0">FOX <span>19</span></label>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>

      <div class="catalog-filter__bottom">
        <span class="filter-item-title">Цена</span>
        <div class="filter-range">
          <div class="filter-range__head"><span>От</span><span>До</span></div>
          <div class="range-slider" data-name="price_range">

          </div>
          <div class="filter-range__content">
            <div class="input-cont">
              <div class="input-placeholder"></div>
              <input type="text" name="price_range_0" value="837" class="range-input"
                data-current-value="837" data-min-value="837" id="id_price_range_0" />
            </div>
            <div class="input-cont">
              <div class="input-placeholder"></div>
              <input type="text" name="price_range_1" value="900" class="range-input"
                data-current-value="900" data-max-value="9200" id="id_price_range_1"
                data-gtm-form-interact-field-id="0" />
            </div>
          </div>
        </div>
      </div>

      <div class="catalog-filter__btns">
        <button class="btn btn--main-min button-theme button-theme_primary">
          Применить
        </button>
        <a href="/catalog/category/elektrosvarnye-fitingi/otvod-elektrosvarnoj/"
          class="btn-border btn-link">Очистить</a>
      </div>
    </form>
  </div>