.g-overflow-hidden
  overflow: hidden

.g-title
  font-family: Golos
  font-size: 22px
  font-weight: 700
  line-height: 130%
  color: #000000
  margin: 0
  &_small
    font-size: 14px
    color: #767676

.g-text
  font-size: 14px
  font-weight: 400
  line-height: 140%
  color: #333333
  margin: 0
  &_grey
    color: #767676
  &_green
    color: #4FA22E
  &_red
    color: #C43228
  &_accent
    color: #2363D1
  &_blue
    color: #1C52AC
  &_small
    font-size: 10px
    color: #BDBDBD

.g-link
  font-size: 14px
  font-weight: 400
  line-height: 140%
  color: #1C52AC

.g-text-button
  background: none
  border: none
  color: #767676
  border-bottom: 1px dashed #767676
  cursor: pointer
  &_blue
    color: #1C52AC

.g-button
  border-radius: 2px
  border: 1px solid #BDBDBD
  color: #BDBDBD
  transition: .3s
  padding: 10px 17.5px
  display: inline-block
  height: 40px
  font-size: 12px
  line-height: 130%
  white-space: nowrap
  text-wrap: nowrap
  &:hover
    color: #fff
    background-color: #2363D1
    border: 1px solid #2363D1
    fill: #fff

  &_active
    color: #fff
    background-color: #2363D1
    border: 1px solid #2363D1
    fill: #fff

  &_fill
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 12px 24px
    background-color: #2363D1
    color: #fff
    border-radius: 2px
    width: 100%
    border: 1px solid #2363D1
    gap: 10px
    fill: #fff
    font-size: 17px

  &_frame
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 12px 24px
    color: #fff
    border-radius: 2px
    width: 100%
    border: 1px solid #B7CBE5
    color: #2363D1
    gap: 10px
    fill: #2363D1
    font-size: 14px

  &_small
    width: auto
    min-width: 82px

  &_high
    height: 48px

.g-row
  display: flex
  align-items: center
  gap: 15px
  &_space-between
    justify-content: space-between

.g-column
  display: flex
  flex-direction: column

.g-image
  width: 100%
  height: auto

.ad-shild
  display: inline-flex
  align-items: center
  justify-content: center
  position: absolute
  right: 6px
  top: 6px
  border-radius: 6px
  background-color: rgba(255, 255, 255, 0.48)
  padding: 0 4px
  &__text
    color: rgba(0, 0, 0, 0.32)
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    font-size: 10px
    font-weight: 400
    line-height: 14px

.page
  background-color: #fff

.g-content
  background-color: #fff
  border: 1px solid #E5E5EA
  margin-bottom: var(--grid-gutter-width, 20px)
  &_inner
    padding: 40px 80px
  &_frameless
    border: none
