.g-overflow-hidden
  overflow: hidden

.g-title
  font-family: Golos
  font-size: 22px
  font-weight: 700
  line-height: 130%
  color: #000000
  margin: 0

.g-text
  font-size: 14px
  font-weight: 400
  line-height: 140%
  color: #333333
  margin: 0
  &_grey
    color: #767676
  &_green
    color: #4FA22E
  &_red
    color: #C43228
  &_accent
    color: #2363D1
  &_blue
    color: #1C52AC
  &_small
    font-size: 10px
    color: #BDBDBD

.g-link
  font-size: 14px
  font-weight: 400
  line-height: 140%
  color: #1C52AC

.g-text-button
  background: none
  border: none
  color: #767676
  border-bottom: 1px dashed #767676
  cursor: pointer
  &_blue
    color: #1C52AC

.g-button
  border-radius: 2px
  border: 1px solid #BDBDBD
  color: #BDBDBD
  transition: .3s
  padding: 10px 17.5px
  display: inline-block
  height: 40px
  font-size: 12px
  line-height: 130%
  text-wrap: nowrap
  &:hover
    color: #fff
    background-color: #2363D1
    border: 1px solid #2363D1
    fill: #fff

  &_active
    color: #fff
    background-color: #2363D1
    border: 1px solid #2363D1
    fill: #fff

  &_fill
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 12px 24px
    background-color: #2363D1
    color: #fff
    border-radius: 2px
    width: 100%
    border: 1px solid #2363D1
    gap: 10px
    fill: #fff
    font-size: 17px

  &_frame
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 12px 24px
    color: #fff
    border-radius: 2px
    width: 100%
    border: 1px solid #B7CBE5
    color: #2363D1
    gap: 10px
    fill: #2363D1
    font-size: 14px

  &_small
    width: auto
    min-width: 82px

.g-row
  display: flex
  align-items: center
  gap: 15px
  &_space-between
    justify-content: space-between

.g-image
  width: 100%
  height: auto

.g-favorite-icon
  font-size: 20px

.g-cart-icon
  font-size: 20px

.g-grafic-icon
  font-size: 15px
  color: #2363D1
