:root
  --accent-color: var(--custom-accent-color, #2363d1)
  --accent-dark-color: var(--custom-accent-dark-color, #1c52ac)
  --accent-light-color: var(--custom-accent-light-color, #E5EFFF)

  --neutral-darkest: var(--custom-black-color, #000000)
  --neutral-darker: var(--custom-dark-color, #222222)
  --neutral-dark: var(--custom-neutral-dark, #333333)
  --neutral: var(--custom-neutral, #a7a7a7)
  --neutral-light: var(--custom-neutral-light, #cccccc)
  --neutral-lighter: var(--custom-neutral-lighter, #dadada)
  --neutral-lightest: var(--custom-neutral-lightest, #ffffff)
  --neutral-lightest-opacity: var(--custom-neutral-lightest-opacity, #ffffff1a)

  --hit-color: var(--custom-hit-color, #3ec28f)
  --sale-color: var(--custom-sale-color, #ff9500)
  --new-color: var(--custom-new-color, #30c2ff)
  --discount-color: var(--custom-discount-color, #c43228)
  --transparent-color: var(--custom-white-opacity-color, transparent)
