:root
  --accent-color: var(--custom-accent-color, #2363d1)
  --accent-dark-color: var(--custom-accent-dark-color, #1c52ac)
  --accent-light-color: var(--custom-accent-light-color, #E5EFFF)

  --neutral-dark-colorest-color: var(--custom-black-color, #000000)
  --neutral-dark-colorer-color: var(--custom-dark-color, #222222)
  --neutral-dark-color: var(--custom-neutral-dark-color, #333333)
  --neutral-color: var(--custom-neutral-color, #a7a7a7)
  --neutral-light: var(--custom-neutral-light-color, #cccccc)
  --neutral-lighter-color: var(--custom-neutral-lighter-color, #dadada)
  --neutral-lightest-color: var(--custom-neutral-lightest-color, #ffffff)
  --neutral-lightest-color-opacity: var(--custom-neutral-lightest-opacity-color, #ffffff1a)

  --hit-color: var(--custom-hit-color, #3ec28f)
  --sale-color: var(--custom-sale-color, #ff9500)
  --new-color: var(--custom-new-color, #30c2ff)
  --discount-color: var(--custom-discount-color, #c43228)
  --transparent-color: var(--custom-transparent-color, transparent)
