.bottom-mobile-menu
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  background-color: #fff
  z-index: 99
  &_radius
    background-color: transparent
    .bottom-mobile-menu
      &__content
        border-radius: 40px
        margin-bottom: 13px
        margin-inline: 13px
        padding: 15px
        background-color: #fff
        box-shadow: 0px -2px 15px 2px #DADADA80

  &__content
    background-color: #fff
    padding: 15px 0
    position: relative
    z-index: 1
    box-shadow: 0px -1px 15px 2px #DADADA80

  &__row
    display: flex
    justify-content: space-between

.bottom-mobile-menu-button
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  width: 100%
  gap: 5px

  &__text
    font-size: 10px
    font-weight: 400
    line-height: 10px
    color: #CCCCCC
    transition: .3s

  .fill
    fill: #CCCCCC
    transition: .3s
  .stroke
    stroke: #CCCCCC
    transition: .3s

  &_active
    .bottom-mobile-menu-button
      &__text
        color: #2363D1

    .fill
      fill: #2363D1
    .stroke
      stroke: #2363D1

  &:hover
    .bottom-mobile-menu-button
      &__text
        color: #2363D1

    .fill
      fill: #2363D1
    .stroke
      stroke: #2363D1

  &__icon-wrapper
    position: relative

  &__counter
    position: absolute
    width: 18px
    height: 18px
    border-radius: 100%
    overflow: hidden
    background-color: #2363D1
    color: #fff
    font-size: 10px
    font-weight: 400
    line-height: 10px
    display: flex
    align-items: center
    justify-content: center
    right: -8px
    top: -6px

@media (max-width: 340px)
  .bottom-mobile-menu
    .bottom-mobile-menu
      &__content
        margin-bottom: 4px
        margin-inline: 4px
