<div class="product-slideshow-default">
  <div id="sync1" class="owl-carousel owl-theme owl-loaded owl-drag">
    <a class="item" href="../../images/banner-content-1.png" data-fancybox="images" target="_blank">
      <img itemprop="image" src="../../images/banner-content-1.png" alt="Товар 1 (фото 1)" />
      <span class="product-item__flag-content">
        <span class="product-item__flag product-item__flag--hit">Хит</span>
        <span class="product-item__flag product-item__flag--sale">sale</span>
        <span class="product-item__flag product-item__flag--new">new</span>
        <span class="product-card-sell-badge d-md-none">-30%</span>
      </span>
    </a>
    <a class="item" href="../../images/banner-content-1.png" data-fancybox="images" target="_blank">
      <img itemprop="image" src="../../images/banner-content-1.png" alt="Товар 1 (фото 1)" />
      <span class="product-item__flag-content">
        <span class="product-item__flag product-item__flag--hit">Хит</span>
        <span class="product-item__flag product-item__flag--sale">sale</span>
        <span class="product-item__flag product-item__flag--new">new</span>
        <span class="product-card-sell-badge d-md-none">-30%</span>
      </span>
    </a>
    <a class="item" href="../../images/banner-content-1.png" data-fancybox="images" target="_blank">
      <img itemprop="image" src="../../images/banner-content-1.png" alt="Товар 1 (фото 1)" />
      <span class="product-item__flag-content">
        <span class="product-item__flag product-item__flag--hit">Хит</span>
        <span class="product-item__flag product-item__flag--sale">sale</span>
        <span class="product-item__flag product-item__flag--new">new</span>
        <span class="product-card-sell-badge d-md-none">-30%</span>
      </span>
    </a>
  </div>

  <div id="sync2" class="owl-carousel owl-theme owl-loaded owl-drag">
    <div class="item">
      <img src="../../images/banner-content-1.png" alt="" />
    </div>
    <div class="item">
      <img src="../../images/banner-content-1.png" alt="" />
    </div>
    <div class="item">
      <img src="../../images/banner-content-1.png" alt="" />
    </div>
  </div>
</div>