section.tire-section .background-container
    width: 100%
    height: 380px
    background-color: #EEEEEE
    position: absolute
    top: 0
    left: 0
    z-index: 0

section.tire-section .content-block
    position: relative

section.tire-section .tabs-container
    position: relative
    z-index: 10

@media(min-width:768px) 
    section.tire-section .tabs-container
        width: 50%
    
@media(max-width:767px) 
    section.tire-section .background-container
        position: relative
        top: auto
        left: auto
