.product-card-sell-badge
  width: 100%
  height: 20px
  display: flex
  align-items: center
  justify-content: center
  background-color: #F33D2A
  color: #fff
  font-size: 12px
  font-weight: 700
  line-height: 16px

  &_bottom
    position: absolute
    bottom: 0
    left: 0
    width: 64px

  &_top
    position: absolute
    top: 0
    left: 0
    width: 64px
