.custom__accordion li
    position: relative

.acc__image
    position: absolute
    top: 13px
    left: 11px

.custom__accordion .acc__toggle:not(.acc__toggle-inner)
    padding: 14px 35px 14px 40px 