<div class="comparison__side mobile-hide">

    <!-- v-underline - аккордеон с полосками  -->
    <!-- v-arrow - аккордеон с стрелками  -->
    <ul class="custom__accordion v-arrow">


        <li>
            <a class="acc__toggle active acc-link" href="javascript:void(0);">
                <div class="acc__image"><img src="../images/catalog-icon.svg" alt=""></div>
                Кирпич
            </a>
            <ul class="inner show" style="display:block">


                <li>
                    <a href="/catalog/category/kirpich/licevoj-kirpich/" class="acc__toggle acc__toggle-inner">
                        Лицевой кирпич
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/kirpich/ryadovoj-kirpich/" class="acc__toggle acc__toggle-inner">
                        Рядовой кирпич
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/kirpich/polnotelyj-kirpich/" class="acc__toggle acc__toggle-inner">
                        Полнотелый кирпич
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/kirpich/pechnoj-kirpich/" class="acc__toggle acc__toggle-inner">
                        Печной кирпич
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/kirpich/korob-dlya-ventilyacii/" class="acc__toggle acc__toggle-inner">
                        Вентиляционная коробочка
                    </a>
                </li>


            </ul>

        </li>



        <li>
            <a class="acc__toggle acc-link" href="javascript:void(0);">
                <div class="acc__image"><img src="../images/catalog-icon.svg" alt=""></div>
                Блоки и камень
            </a>
            <ul class="inner">


                <li>
                    <a href="/catalog/category/bloki-i-kamen/gazobetonnye-bloki/" class="acc__toggle acc__toggle-inner">
                        Газобетонные блоки
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/bloki-i-kamen/keramzitobloki/" class="acc__toggle acc__toggle-inner">
                        Керамзитоблоки
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/bloki-i-kamen/keramicheskij-kamen/"
                        class="acc__toggle acc__toggle-inner">
                        Керамический камень
                    </a>
                </li>


            </ul>

        </li>



        <li>
            <a class="acc__toggle acc-link" href="javascript:void(0);">
                <div class="acc__image"><img src="../images/catalog-icon.svg" alt=""></div>
                Фасадная плитка
            </a>
            <ul class="inner">


                <li>
                    <a href="/catalog/category/fasadnaya-plitka/plitka/" class="acc__toggle acc__toggle-inner">
                        Плитка
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/fasadnaya-plitka/podokonniki/" class="acc__toggle acc__toggle-inner">
                        Подоконники
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/fasadnaya-plitka/perekrytiya-zabora/"
                        class="acc__toggle acc__toggle-inner">
                        Перекрытия забора
                    </a>
                </li>


            </ul>

        </li>



        <li>
            <a class="acc__toggle acc-link" href="javascript:void(0);">
                <div class="acc__image"><img src="../images/catalog-icon.svg" alt=""></div>
                Печная продукция
            </a>
            <ul class="inner">


                <li>
                    <a href="/catalog/category/pechnaya-produkciya/kaminnoe-pechnoe-lite/"
                        class="acc__toggle acc__toggle-inner">
                        Каминное, печное литье
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/pechnaya-produkciya/pechi/" class="acc__toggle acc__toggle-inner">
                        Печи
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/pechnaya-produkciya/teploizolyacionnye-kladochnye-rastvory/"
                        class="acc__toggle acc__toggle-inner">
                        Теплоизоляционные кладочные растворы
                    </a>
                </li>


            </ul>

        </li>



        <li>
            <a class="acc__toggle acc-link" href="javascript:void(0);">
                <div class="acc__image"><img src="../images/catalog-icon.svg" alt=""></div>
                Кровля и колпаки
            </a>
            <ul class="inner">


                <li>
                    <a href="/catalog/category/krovlya-i-kolpaki/gibkaya-cherepica/"
                        class="acc__toggle acc__toggle-inner">
                        Гибкая черепица
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/krovlya-i-kolpaki/keramicheskaya-cherepica/"
                        class="acc__toggle acc__toggle-inner">
                        Керамическая черепица
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/krovlya-i-kolpaki/kolpaki-polimerpeschanye/"
                        class="acc__toggle acc__toggle-inner">
                        Колпаки полимерпесчаные
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/krovlya-i-kolpaki/mansardnye-okna/"
                        class="acc__toggle acc__toggle-inner">
                        Мансардные окна
                    </a>
                </li>


            </ul>

        </li>



        <li>
            <a class="acc__toggle acc-link" href="javascript:void(0);">
                <div class="acc__image"><img src="../images/catalog-icon.svg" alt=""></div>
                Тротуарная плитка и брусчатка
            </a>
            <ul class="inner">


                <li>
                    <a href="/catalog/category/trotuarnaya-plitka-i-bruschatka/bruschatka/"
                        class="acc__toggle acc__toggle-inner">
                        Брусчатка
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/trotuarnaya-plitka-i-bruschatka/trotuarnaya-plitka/"
                        class="acc__toggle acc__toggle-inner">
                        Тротуарная плитка
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/trotuarnaya-plitka-i-bruschatka/bordyur-sadovyj/"
                        class="acc__toggle acc__toggle-inner">
                        Бордюр садовый
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/trotuarnaya-plitka-i-bruschatka/rastvor-dlya-trotuarnoj-plitki/"
                        class="acc__toggle acc__toggle-inner">
                        Раствор для тротуарной плитки
                    </a>
                </li>


            </ul>

        </li>



        <li>
            <a href="/catalog/napolnaya-plitka-i-stupeni/" class="acc__toggle not_toggle acc-link">
                <div class="acc__image"><img src="../images/catalog-icon.svg" alt=""></div>
                Напольная плитка и ступени
            </a>

        </li>



        <li>
            <a class="acc__toggle acc-link" href="javascript:void(0);">
                <div class="acc__image"><img src="../images/catalog-icon.svg" alt=""></div>
                Рельефные таблички
            </a>
            <ul class="inner">


                <li>
                    <a href="/catalog/category/relefnye-tablichki/adresnye-tablichki/"
                        class="acc__toggle acc__toggle-inner">
                        Адресные таблички
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/relefnye-tablichki/nomera-na-dom/" class="acc__toggle acc__toggle-inner">
                        Номера на дом
                    </a>
                </li>


            </ul>

        </li>



        <li>
            <a href="/catalog/kolca-dlya-kolodcev-zhbi/" class="acc__toggle not_toggle acc-link">
                <div class="acc__image"><img src="../images/catalog-icon.svg" alt=""></div>
                Кольца для колодцев (ЖБИ)
            </a>

        </li>



        <li>
            <a class="acc__toggle acc-link" href="javascript:void(0);">
                <div class="acc__image"><img src="../images/catalog-icon.svg" alt=""></div>
                Общестроительные материалы
            </a>
            <ul class="inner">


                <li>
                    <a href="/catalog/category/obshestroitelnye-materialy/armiruyushie-materialy/"
                        class="acc__toggle acc__toggle-inner">
                        Армирующие материалы
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/obshestroitelnye-materialy/sypuchie-materialy/"
                        class="acc__toggle acc__toggle-inner">
                        Сыпучие материалы
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/obshestroitelnye-materialy/gidroizolyaciya-obmazochnaya/"
                        class="acc__toggle acc__toggle-inner">
                        Гидроизоляция обмазочная
                    </a>
                </li>


            </ul>

        </li>



        <li>
            <a class="acc__toggle acc-link" href="javascript:void(0);">
                <div class="acc__image"><img src="../images/catalog-icon.svg" alt=""></div>
                Сухие строительные смеси и грунтовки
            </a>
            <ul class="inner">


                <li>
                    <a href="/catalog/category/suhie-stroitelnye-smesi/gruntovka/"
                        class="acc__toggle acc__toggle-inner">
                        Грунтовки
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/suhie-stroitelnye-smesi/kladochnye-smesi/"
                        class="acc__toggle acc__toggle-inner">
                        Кладочные смеси
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/suhie-stroitelnye-smesi/zatirki/" class="acc__toggle acc__toggle-inner">
                        Затирки
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/suhie-stroitelnye-smesi/cement-i-cps/"
                        class="acc__toggle acc__toggle-inner">
                        Цемент и ЦПС
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/suhie-stroitelnye-smesi/klej-dlya-plitki/"
                        class="acc__toggle acc__toggle-inner">
                        Клей для плитки
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/suhie-stroitelnye-smesi/klej-montazhnyj/"
                        class="acc__toggle acc__toggle-inner">
                        Клей монтажный
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/suhie-stroitelnye-smesi/nalivnoj-pol/"
                        class="acc__toggle acc__toggle-inner">
                        Наливной пол
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/suhie-stroitelnye-smesi/shpaklevka/"
                        class="acc__toggle acc__toggle-inner">
                        Шпаклевка
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/suhie-stroitelnye-smesi/shtukaturka/"
                        class="acc__toggle acc__toggle-inner">
                        Штукатурка
                    </a>
                </li>


            </ul>

        </li>



        <li>
            <a href="/catalog/uteplitel/" class="acc__toggle not_toggle acc-link">
                <div class="acc__image"><img src="../images/catalog-icon.svg" alt=""></div>
                Утеплитель
            </a>

        </li>



        <li>
            <a class="acc__toggle acc-link" href="javascript:void(0);">
                <div class="acc__image"><img src="../images/catalog-icon.svg" alt=""></div>
                Черновая отделка
            </a>
            <ul class="inner">


                <li>
                    <a href="/catalog/category/chernovaya-otdelka/gipsokarton/" class="acc__toggle acc__toggle-inner">
                        Гипсокартон
                    </a>
                </li>


                <li>
                    <a href="/catalog/category/chernovaya-otdelka/pena-montazhnaya/"
                        class="acc__toggle acc__toggle-inner">
                        Пена монтажная
                    </a>
                </li>


            </ul>

        </li>



        <li>
            <a href="/catalog/rasprodazha/" class="acc__toggle not_toggle acc-link">
                <div class="acc__image"><img src="../images/catalog-icon.svg" alt=""></div>
                Распродажа
            </a>

        </li>


    </ul>

</div>