.table__print__wrapper 
  width: 100%
  padding: 40px 25px
  border: 0px
  font-size: 14px
  line-height: 20px
  color: #000000
  text-align: left
  vertical-align: top

.table__print__wrapper > tbody tr > td,
.table__print__wrapper > tr > td 
  width: 50%
  vertical-align: top

.table__print__wrapper a 
  text-decoration: none
  border: 0px

.table__print__wrapper p 
  display: block
  width: 100%
  margin: 0 0 5px
  padding: 0
  color: #000

.table__print__wrapper p.print__spacer 
  height: 0px !important

.table__print__wrapper img 
  display: inline-block
  vertical-align: top
  width: auto

.table__print__wrapper strong,
.table__print__wrapper b 
  font-weight: bold

.table__print__wrapper h1 
  display: block
  width: 100%
  margin: 20px 0 5px
  padding: 0
  font-weight: bold
  line-height: 36px
  font-size: 26px

.table__print__wrapper h2 
  font-weight: bold
  display: block
  width: 100%
  margin: 0
  padding: 0
  line-height: 39px
  font-size: 24px

.table__print__wrapper h3 
  font-weight: bold
  display: block
  width: 100%
  margin: 0 0 8px
  padding: 0
  line-height: 26px
  font-size: 14px

.print__logotype 
  display: inline-block
  width: auto
  max-width: 100%
  margin: 0 0 20px
  padding: 0
  text-decoration: none
  border: 0px

.print__logotype img 
  display: inline-block
  vertical-align: top
  max-width: 100%
  width: auto
  margin: 0
  padding: 0

.print__comment__wrapper 
  display: block
  width: 100%
  margin: 0
  padding: 0 140px 0 0

.print__quick_order_info 
  display: block
  width: 100%
  margin: 0 0 30px
  padding: 25px 20px 25px 15px
  border: 1px solid #000

.print__quick_order_info table 
  width: 100%
  margin: 0
  padding: 0
  border: 0px
  vertical-align: bottom

.print__quick_order_info table tr td,
.print__quick_order_info table tr th 
  vertical-align: bottom
  padding: 0 0 5px
  margin: 0
  text-align: left

.print__quick_order_info table tr td:nth-child(1),
.print__quick_order_info table tr th:nth-child(1) 
  width: 45%

.print__quick_order_info table tr td:nth-child(2),
.print__quick_order_info table tr th:nth-child(2) 
  width: 65%

.print__quick_order_info table strong,
.print__quick_order_info table b 
  font-size: 24px
  line-height: 24px

.print__order__elements table 
  width: 100%
  margin: 0
  padding: 0
  border: 0px
  vertical-align: top

.print__order__elements table:not(:last-child)
    border-bottom: 1px solid #E5E5EA
.print__order__elements table tr 
  border-bottom: 1px solid #E0E0E0 !important

.print__order__elements table tr:last-of-type 
  border-bottom: 1px solid #000000 !important

.print__order__elements table tr td,
.print__order__elements table tr th 
  vertical-align: top
  padding: 10px 0 10px
  margin: 0
  text-align: left

.print__order__elements table tr td:nth-child(1),
.print__order__elements table tr th:nth-child(1) 
  width: 50%
  text-align: left

.print__order__elements table tr td:nth-child(2),
.print__order__elements table tr th:nth-child(2) 
  width: 12%
  text-align: left

.print__order__elements table tr td:nth-child(3),
.print__order__elements table tr th:nth-child(3) 
  width: 16%
  text-align: left

.print__order__elements table tr td:nth-child(4),
.print__order__elements table tr th:nth-child(4) 
  width: 20%
  text-align: left

.print__order__elements table.print__table__header tr 
  border-bottom: 1px solid #000000 !important

.print__order__elements table.print__table__header tr td:nth-child(4) strong,
.print__order__elements table.print__table__header tr th:nth-child(4) strong,
.print__order__elements table.print__table__header tr td:nth-child(4) b,
.print__order__elements table.print__table__header tr th:nth-child(4) b 
  float: left
  text-align: left

.print__order__elements table.print__table__footer 
  width: 100%
  float: right
  text-align: right
  margin-top: 20px
  line-height: 25px

.print__order__elements table.print__table__footer tr 
  border-bottom: 0px !important

.print__order__elements table.print__table__footer tr td,
.print__order__elements table.print__table__footer tr th 
  text-align: left
  padding: 0px 0 4px 0 !important

.print__order__elements table.print__table__footer tr td strong,
.print__order__elements table.print__table__footer tr th strong,
.print__order__elements table.print__table__footer tr td b,
.print__order__elements table.print__table__footer tr th b 
  line-height: 23px
  font-size: 18px

.print__order__elements table.print__table__footer tr td:nth-child(1)
    width: 78%

.print__order__elements table.print__table__footer tr td:nth-child(2)
    width: 20%

.print__order__elements
    font-size: 14px