<div class="catalog-side mobile-hide" id="catalog-menu" data-items-limit="9">
    <span class="catalog-side__title"><span class="icon">
        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0V2H16V0H0ZM0 8H16V6H0V8ZM0 14H16V12H0V14Z" fill="currentColor"></path>
        </svg> </span>Проекты домов
    </span>
    <div class="catalog-side__content">
      <ul>
        <li class="menu-item current">
            <div class="menu-item__image"><img src="../images/catalog-icon.svg" alt=""></div>
          <a href="/catalog/kategoriya-tovarov-1/">Проекты домов до 150м2</a>

          <ul class="submenu">
            <li class="menu-item">
              <a href="/catalog/category/kategoriya-tovarov-1/podkategoriya-tovarov-1/">Одноэтажные дома до
                150м2</a>
            </li>

            <li class="menu-item">
              <a href="/catalog/category/kategoriya-tovarov-1/podkategoriya-tovarov-2/">Двухэтажные дома до
                150м2</a>
            </li>
          </ul>
        </li>

        <li class="menu-item">
            <span class="menu-item__image"><img src="../images/catalog-icon.svg" alt=""></span>
          <a href="/catalog/kategoriya-tovarov-2/">Проекты домов до 300м2</a>

          <ul class="submenu">
            <li class="menu-item">
              <a href="/catalog/category/kategoriya-tovarov-2/podkategoriia-tovarov-2/">Одноэтажные дома до
                300м2</a>
            </li>

            <li class="menu-item">
              <a href="/catalog/category/kategoriya-tovarov-2/podkategoriia-tovarov-1/">Двухэтажные дома до
                300м2</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>