.product-short
  &__main-content
    padding-left: 30px
    padding-right: 20px

  &__description-text
    margin-bottom: 20px

  &__haracteristic-table
    display: flex
    flex-direction: column
    gap: 5px

  &__haracteristic-table-row
    display: flex
    justify-content: space-between

  &__haracteristic-name
    color: #A7A7AB
    width: 40%

  &__haracteristic-value
    width: 60%
    text-align: left
    padding-left: 10px

  .product-accessibility-group
    margin-bottom: 10px

  #sync1.owl-theme .owl-next
    right: 0

  #sync1.owl-theme .owl-prev
    left: 0

@media (max-width: 1279px)
  .product-short
    &__haracteristic-table-row
      flex-direction: column

    &__haracteristic-name
      width: 100%

    &__haracteristic-value
      width: 100%
      padding-left: 0

@media (max-width: 1023px)
  .product-short
    &__main-content
      padding: 0
