
.product-slideshow
  #sync1
    .owl-nav
      max-width: 360px
      margin: 0 auto
      position: relative
    .owl-dots
      display: none !important
    .owl-next, .owl-prev
      background-color: transparent !important
      bottom: -45px !important

  #sync2
    display: block !important

@media ( max-width: 767px )
  .product-slideshow
    padding-bottom: 40px
    #sync1
      .owl-nav
        top: 18px
        z-index: 1
      .owl-dots
        top: 18px

@media (max-width: 575px)
  .product-slideshow
    &_inner
      padding: 10px
