<div class="product-slideshow">
  <div id="sync1" class="owl-carousel owl-theme owl-loaded owl-drag">
    <a class="item" href="../../images/banner-content-1.png" data-fancybox="images" target="_blank">
      <img itemprop="image" src="../../images/banner-content-1.png" alt="Товар 1 (фото 1)" />
      <span class="product-item__flag-content"> </span>
    </a>
    <a class="item" href="../../images/banner-content-1.png" data-fancybox="images" target="_blank">
      <img itemprop="image" src="../../images/banner-content-1.png" alt="Товар 1 (фото 1)" />
      <span class="product-item__flag-content"> </span>
    </a>
    <a class="item" href="../../images/banner-content-1.png" data-fancybox="images" target="_blank">
      <img itemprop="image" src="../../images/banner-content-1.png" alt="Товар 1 (фото 1)" />
      <span class="product-item__flag-content"> </span>
    </a>
  </div>

  <div id="sync2" class="owl-carousel owl-theme owl-loaded owl-drag">
    <div class="item">
      <img src="../../images/banner-content-1.png" alt="" />
    </div>
    <div class="item">
      <img src="../../images/banner-content-1.png" alt="" />
    </div>
    <div class="item">
      <img src="../../images/banner-content-1.png" alt="" />
    </div>
  </div>
</div>