.product-haracteristic-table
  &__row
    display: grid
    grid-template-columns: 60% 40%
    margin-bottom: 20px

  &__item-value
    position: relative
    top: 3.5px
    margin: 0
    padding-left: 10px

  &__item-name-text
    background-color: #fff
    position: relative
    z-index: 1
    display: inline-block
    padding-right: 10px
    margin: 0
  &__item-name
    position: relative
    margin-right: 10px
    margin: 0
    &::after
      content: ''
      display: block
      background-image: url(../images/dot.png)
      background-repeat-y: no-repeat
      background-position: bottom
      width: 100%
      height: 18px
      position: absolute
      top: 0

.product-haracteristic-group

  &__collapse
    position: relative
    &::after
      content: ''
      transition: .3s
      height: 20px
      width: 100%
      background: linear-gradient(0deg, #ffffff, #ffffff00)
      position: absolute
      opacity: 1
      bottom: 0
      left: 0

    &.show::after
      opacity: 0

    &.collapsing::after
      opacity: 0

  .collapse:not(.show)
    display: block
    height: 85px
    overflow: hidden

  .collapsing
    position: relative
    height: 85px
    overflow: hidden
    transition: height 0.35s ease

@media (min-width: 768px)
  .product-haracteristic-group
    .collapse:not(.show)
      display: block
      height: auto
