.search-modal-window
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: #fff
  z-index: 999
  display: none

  &__header
    height: 60px
    display: flex
    align-items: center
    background-color: #FFFFFF
    box-shadow: 0px 1px 15px 2px #DADADA80

  &__cancel
    min-width: 52px

  &__row
    width: 100%
    gap: 15px
    align-items: center
    justify-content: space-between

  &__input-form
    width: 100%
    display: flex
    align-items: center
    position: relative

  &__input
    width: 100%
    height: 30px
    border-radius: 50px
    background-color: #ECECEC
    border: none
    padding: 0 15px
    display: flex
    align-items: center
    color: #333333

  &__clear-input
    position: absolute
    right: 5px
    background-color: #CFCFCF
    height: 19px
    width: 19px
    border-radius: 100%
    display: flex
    align-items: center
    justify-content: center
