<div class="product-price-group">
  <div class="product-price-group__item">
    <p class="g-text product-price-group__title">Онлайн цена:</p>
    <div class="d-flex flex-column gap-10">
      <div class="product-price-group__row">
        <p class="product-price-group__price product-price-group__price_primary">500 ₽/шт</p>
        <!-- @include ../product-sale-badge/product-sale-badge.html -->
      </div>
      <div class="product-price-group__row">
        <p class="product-price-group__price">Цена:</p>
        <p class="product-price-group__price">585 ₽/шт</p>
        <p class="product-price-group__price product-price-group__price_old">
          585 ₽/шт
        </p>
      </div>
    </div>
  </div>
</div>