<div class="product-price-group">
    <p class="g-text product-price-group__title">Цена:</p>
    <div class="d-flex flex-column gap-10">
        <div class="product-price-group__column">
            <p class="product-price-group__price product-price-group__price_range">от <span
                    class="product-price-group__price product-price-group__price_range-cost">8 537,50</span> ₽/шт</p>
            <p class="product-price-group__price product-price-group__price_range">до <span
                    class="product-price-group__price product-price-group__price_range-cost">8 537,50</span> ₽/шт</p>
        </div>
    </div>
</div>