.menu-item__link
    display: flex !important
    gap: 10px
    align-items: center
    

.menu-item__image
    max-width: 20px
    min-width: 20px
    height: auto
    

.menu-item__image img
    width: 100%
    height: auto