.catalog__links-item
    display: inline-block
    position: relative

.catalog-item__link
    display: flex !important
    align-items: center
    gap: 10px

.catalog__links-item_image
    width: 20px
    min-width: 20px
.catalog__links-item_image img 
    width: 100%
    height: auto
    