.header-language__modal
    display: none
.header-language__modal .header-language__modal_title
    font-size: 22px
    font-weight: 600
    line-height: 20px
    margin-bottom: 25px

.header-language__modal .language-list li a 
    display: flex
    padding: 10px 110px 10px 15px
.header-language__modal .language-list
    display: flex
    flex-direction: column
    gap: 10px

.header-language__modal .language-list li a .language-icon
    margin-right: 10px
.header-language__modal .language-list li a .language-name
    margin-right: 3px
.header-language__modal .language-list li a span
    font-size: 16px
    font-weight: 400
    line-height: 24px
    color: #333333
    transition: .5s
.header-language__modal .language-list li a:hover span
    color: #1C52AC