.bottom-mobile-menu
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  background-color: var(--bottom-mobile-menu-background, var(--neutral-lightest-color))
  z-index: 99
  &_radius
    background-color: transparent
    .bottom-mobile-menu
      &__content
        border-radius: 40px
        margin-bottom: 13px
        margin-inline: 13px
        background-color: var(--bottom-mobile-menu-background, var(--neutral-lightest-color))
        box-shadow: 0px -2px 15px 2px #DADADA80

  &__content
    background-color: var(--bottom-mobile-menu-background, var(--neutral-lightest-color))
    position: relative
    z-index: 1
    box-shadow: 0px -1px 15px 2px #DADADA80
    height: 70px
    display: flex
    align-items: center

  &__row
    width: 100%
    display: flex
    justify-content: space-between

.bottom-mobile-menu-button
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  width: 100%

  &_background
    &:hover
      .bottom-mobile-menu-button
        &__inner
          background-color: var(--bottom-mobile-menu-background-circle-hover, var(--accent-light-color))

    &.bottom-mobile-menu-button_active
      .bottom-mobile-menu-button
        &__inner
          background-color: var(--bottom-mobile-menu-background-circle-hover, var(--accent-light-color))

    .bottom-mobile-menu-button
      &__inner
        border-radius: 100%
        background-color: var(--bottom-mobile-menu-background-circle, var(--neutral-lightest-color))
        transition: .3s

  &_underline
    &:hover
      .bottom-mobile-menu-button
        &__icon-wrapper::after
          color: var(--bottom-mobile-menu-active, var(--accent-color))

    &.bottom-mobile-menu-button_active
      .bottom-mobile-menu-button
        &__icon-wrapper::after
          color: var(--bottom-mobile-menu-active, var(--accent-color))

    .bottom-mobile-menu-button
      &__icon-wrapper
        position: relative
        &::after
          content: '-'
          position: absolute
          bottom: -5px
          transition: .3s
          color: #fff
          line-height: 1px
          font-size: 30px

  .fill
    fill: var(--bottom-mobile-menu-inactive, var(--neutral-light))
    transition: .3s
  .stroke
    stroke: var(--bottom-mobile-menu-inactive, var(--neutral-light))
    transition: .3s

  &_active
    .bottom-mobile-menu-button
      &__text
        color: var(--bottom-mobile-menu-active, var(--accent-color))

    .fill
      fill: var(--bottom-mobile-menu-active, var(--accent-color))
    .stroke
      stroke: var(--bottom-mobile-menu-active, var(--accent-color))

  &:hover
    .bottom-mobile-menu-button
      &__text
        color: var(--bottom-mobile-menu-active, var(--accent-color))

    .fill
      fill: var(--bottom-mobile-menu-active, var(--accent-color))
    .stroke
      stroke: var(--bottom-mobile-menu-active, var(--accent-color))

  &__text
    font-size: 10px
    font-weight: 400
    line-height: 10px
    color: var(--bottom-mobile-menu-inactive, var(--neutral-light))
    transition: .3s
    text-align: center

  &__inner
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 5px
    height: 50px
    width: 50px

  &__icon-wrapper
    position: relative
    display: flex
    align-items: center
    justify-content: center

  &__counter
    position: absolute
    width: 18px
    height: 18px
    border-radius: 100%
    overflow: hidden
    background-color: var(--bottom-mobile-menu-active, var(--accent-color))
    color: #fff
    font-size: 10px
    font-weight: 400
    line-height: 10px
    display: flex
    align-items: center
    justify-content: center
    right: -9px
    top: -9px

@media (max-width: 340px)
  .bottom-mobile-menu
    .bottom-mobile-menu
      &__content
        margin-bottom: 4px
        margin-inline: 4px
