<div class="product-navigation">
  <a href="/catalog/product/plitka-qua-space-brown-60x120-full-lap-144-kv-m/" class="product-navigation__prev">
    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.09375 1L2.00109 6.09266L7.09375 11.1853" stroke-width="2"></path>
    </svg>
    <p class="g-text product-navigation__text">
      Предыдущий товар
    </p>
  </a>

  <a href="/catalog/product/classic-statuario-600h600mm-2pcsbox/" class="product-navigation__next">
    <p class="g-text product-navigation__text">
      Следующий товар
    </p>
    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.09375 11L6.18641 5.90734L1.09375 0.814672" stroke-width="2"></path>
    </svg>
  </a>
</div>