<div class="reservation-block">
  <div class="reservation-block__slider">
    <button id="prev-button" class="days-slider-prev">
      <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M7.3075 1.25662L6.275 0.224122L0.499999 5.99912L6.275 11.7741L7.3075 10.7416L2.565 5.99912L7.3075 1.25662Z"
          fill="currentColor" />
      </svg>
    </button>
    <button id="next-button" class="days-slider-next">
      <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.6925 1.25662L1.725 0.224122L7.5 5.99912L1.725 11.7741L0.692501 10.7416L5.435 5.99912L0.6925 1.25662Z"
          fill="currentColor" />
      </svg>
    </button>
    <div class="slider-constructor slick-slider days-slider" data-prev-button-id="prev-button"
      data-next-button-id="next-button" data-md-slides="5" data-slides="4" data-no-dots>
      <div class="reservation-block-day">
        <p class="reservation-block-day__week-day">ПН</p>
        <p class="reservation-block-day__date">02/02</p>
      </div>
      <div class="reservation-block-day">
        <p class="reservation-block-day__week-day">ПН</p>
        <p class="reservation-block-day__date">02/02</p>
      </div>
      <div class="reservation-block-day">
        <p class="reservation-block-day__week-day">ПН</p>
        <p class="reservation-block-day__date">02/02</p>
      </div>
      <div class="reservation-block-day">
        <p class="reservation-block-day__week-day">ПН</p>
        <p class="reservation-block-day__date">02/02</p>
      </div>
      <div class="reservation-block-day">
        <p class="reservation-block-day__week-day">ПН</p>
        <p class="reservation-block-day__date">02/02</p>
      </div>
      <div class="reservation-block-day">
        <p class="reservation-block-day__week-day">ПН</p>
        <p class="reservation-block-day__date">02/02</p>
      </div>
      <div class="reservation-block-day">
        <p class="reservation-block-day__week-day">ПН</p>
        <p class="reservation-block-day__date">02/02</p>
      </div>
    </div>
  </div>
  <div class="reservation-block__statuses">
    <p class="reservation-block__status">
      <span class="reservation-block__status-color reservation-block__status-color_free"></span> Свободно
    </p>
    <p class="reservation-block__status">
      <span class="reservation-block__status-color reservation-block__status-color_selected"></span> Выбрано
    </p>
    <p class="reservation-block__status">
      <span class="reservation-block__status-color reservation-block__status-color_busy"></span> Занято
    </p>
  </div>
  <div class="reservation-block__content">
    <div data-reservation-tooltip class="d-none">
      <div class="reservation-tooltip">
        <p class="reservation-tooltip__text">
          Нажмите, чтобы забронировать
          <span class="reservation-tooltip__text-accent">Стол №1 (1 этаж) - возле парадного входа</span> на время
          <span class="reservation-tooltip__text-accent">15:00-16:00</span>
        </p>
        <button class="g-button g-button_fill reservation-tooltip__button" data-time="15:00-16:00"
          data-reservation-title="Стол №1 (1 этаж) - возле парадного входа" data-reservation-button>
          Забронировать
        </button>
      </div>
    </div>
    <div class="reservation-table">
      <div class="reservation-table__scroll">
        <div class="reservation-table__content">
          <div class="reservation-table__row reservation-table__row_hours">
            <p class="reservation-table__title">Стол №1 (1 этаж) - возле парадного входа</p>
            <div class="reservation-table__items reservation-table__items_hours">
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
            </div>
          </div>
          <div class="reservation-table__row reservation-table__row_hours">
            <p class="reservation-table__title">Стол №1 (1 этаж)</p>
            <div class="reservation-table__items reservation-table__items_hours">
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected" href="#">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected" href="#">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected" href="#">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected" href="#">
                8:00
              </button>
              <button
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy" href="#">
                8:00
              </button>
              <button
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy" href="#">
                8:00
              </button>
              <button
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy" href="#">
                8:00
              </button>
              <button
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy" href="#">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected" href="#">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected" href="#">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected" href="#">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected" href="#">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free" href="#">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free" href="#">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free" href="#">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free" href="#">
                8:00
              </button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</button>
              <button data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</button>
            </div>
          </div>
          <div class="reservation-table__row reservation-table__row_hours">
            <p class="reservation-table__title">Стол №1 (1 этаж)</p>
            <div class="reservation-table__items reservation-table__items_hours">
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
            </div>
          </div>
          <div class="reservation-table__row reservation-table__row_hours">
            <p class="reservation-table__title">Стол №1 (1 этаж)</p>
            <div class="reservation-table__items reservation-table__items_hours">
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_busy"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_free"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
              <a data-reservation-tooltip
                class="reservation-table__item reservation-table__item_hour reservation-table__item_selected"
                href="#">8:00</a>
            </div>
          </div>
        </div>
      </div>
      <div class="d-md-none reservation-table__mobile-titles reservation-table__mobile-titles_shadow">
        <p class="reservation-table__title">Стол №1 (1 этаж) - возле парадного входа</p>
        <p class="reservation-table__title">Стол №1 (1 этаж)</p>
        <p class="reservation-table__title">Стол №1 (1 этаж)</p>
        <p class="reservation-table__title">Стол №1 (1 этаж)</p>
      </div>
    </div>
  </div>
</div>