<div class="booking-block">
  <div class="booking-block__statuses booking-block__statuses_right">
    <p class="booking-block__status">
      <span class="booking-block__status-color booking-block__status-color_free"></span> Свободно
    </p>
    <p class="booking-block__status">
      <span class="booking-block__status-color booking-block__status-color_selected"></span> Выбрано
    </p>
    <p class="booking-block__status">
      <span class="booking-block__status-color booking-block__status-color_busy"></span> Занято
    </p>
  </div>
  <div class="booking-block__content">
    <div data-booking-tooltip class="d-none">
      <div class="booking-tooltip">
        <p class="booking-tooltip__text">
          Нажмите, чтобы забронировать
          <span data-booking-tooltip-title class="booking-tooltip__text-accent"></span> на время
          <span data-booking-tooltip-time class="booking-tooltip__text-accent"></span>
        </p>
        <button class="g-button g-button_fill booking-tooltip__button"
          data-booking-tooltip-button>
          Забронировать
        </button>
      </div>
    </div>
    <div class="booking-table">
      <div class="booking-table__scroll">
        <div class="booking-table__content">
          <div class="booking-table__row booking-table__row_days">
            <p data-booking-title class="booking-table__title booking-table__title_days">Стол №1 (1 этаж) - возле парадного входа1</p>
            <div class="booking-table__items booking-table__items_days">
              <button data-booking-tooltip data-booking-time="15:10-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button> 
              <button data-booking-tooltip data-booking-time="15:03-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:02-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:04-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:05-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:06-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:07-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
            </div>
          </div>
          <div class="booking-table__row booking-table__row_days">
            <p data-booking-title class="booking-table__title booking-table__title_days">Стол №1 (1 этаж) - возле парадного входа2</p>
            <div class="booking-table__items booking-table__items_days">
              <button data-booking-tooltip data-booking-time="15:10-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button> 
              <button data-booking-tooltip data-booking-time="15:03-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:02-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:04-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:05-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:06-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:07-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
            </div>
          </div>
          <div class="booking-table__row booking-table__row_days">
            <p data-booking-title class="booking-table__title booking-table__title_days">Стол №1 (1 этаж) - возле парадного входа3</p>
            <div class="booking-table__items booking-table__items_days">
              <button data-booking-tooltip data-booking-time="15:10-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button> 
              <button data-booking-tooltip data-booking-time="15:03-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:02-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:04-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:05-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:06-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:07-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
            </div>
          </div>
          <div class="booking-table__row booking-table__row_days">
            <p data-booking-title class="booking-table__title booking-table__title_days">Стол №1 (1 этаж) - возле парадного входа4</p>
            <div class="booking-table__items booking-table__items_days">
              <button data-booking-tooltip data-booking-time="15:10-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button> 
              <button data-booking-tooltip data-booking-time="15:03-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:02-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:04-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:05-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:06-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
              <button data-booking-tooltip data-booking-time="15:07-16:00"
                class="booking-table__item booking-table__item_day booking-table__item_free">
                <span class="booking-block-week-day">ВТ</span> 03/02
              </button>
            </div>
          </div>
        </div>
        <div class="d-md-none booking-table__mobile-titles booking-table__mobile-titles_shadow">
          <p class="booking-table__title booking-table__title_days">Стол №1 (1 этаж) - возле парадного входа</p>
          <p class="booking-table__title booking-table__title_days">Стол №1 (1 этаж) - возле парадного входа</p>
          <p class="booking-table__title booking-table__title_days">Стол №1 (1 этаж) - возле парадного входа</p>
          <p class="booking-table__title booking-table__title_days">Стол №1 (1 этаж) - возле парадного входа</p>
        </div>
      </div>
    </div>
  </div>
</div>