<div class="breadcrumbs breadcrumbs--lk" itemscope="" itemtype="http://schema.org/BreadcrumbList">
  <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
    <a itemprop="item" title="Главная" href="/">
      <svg class="breadcrumbs__sep">
        <use xlink:href="#tab-arrow"></use>
      </svg>
      Главная
      <meta itemprop="name" content="Главная">
    </a>
    <meta itemprop="position" content="1">
  </span>

  <svg class="breadcrumbs__sep">
    <use xlink:href="#tab-arrow"></use>
  </svg>

  <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
    <a itemprop="item" title="Проекты домов" href="/catalog/">
      Проекты домов
      <meta itemprop="name" content="Проекты домов">
    </a>
    <meta itemprop="position" content="2">
  </span>

  <svg class="breadcrumbs__sep">
    <use xlink:href="#tab-arrow"></use>
  </svg>

  <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
    <a itemprop="item" title="Проекты домов до 150м2" href="/catalog/kategoriya-tovarov-1/">
      Проекты домов до 150м2
      <meta itemprop="name" content="Проекты домов до 150м2">
    </a>
    <meta itemprop="position" content="3">
  </span>

  <svg class="breadcrumbs__sep">
    <use xlink:href="#tab-arrow"></use>
  </svg>

  Одноэтажные дома до 150м2
</div>