.acc-link
    display: flex !important
    align-items: center
    gap: 10px

.acc__image
    width: 15px
    min-width: 15px
    height: auto

.custom__accordion .inner .inner
    padding: 0
    

.inner.show 
    border-top: 1px solid #d9d9de
    
.inner .inner
    border-bottom: 1px solid #d9d9de

// .inner .inner li 
//     padding: 0 5px 0 5px