<div class="city-selection-modal-wrapper d-none">
  <div id="city-selection" class="city-selection-modal bg-white pt-50 pb-50 pe-15 ps-50">
    <div class="d-flex flex-column gap-20 h-100">
      <p class="title size-22 weight-500">Выберите свой город</p>
      <%~ include("/shared/components/regionsSearch/regionsSearch.html") %>
      <div data-search-list class="city-selection-modal__city-list row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="d-flex flex-column gap-10">
            <div class="d-flex flex-column gap-10 mb-20">
              <a data-search-item class="weight-600 transition color-black hover-color-accent-400" href="#">Москва</a>
              <a data-search-item class="weight-600 transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
              <a data-search-item class="weight-600 transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
              <a data-search-item class="weight-600 transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
              <a data-search-item class="weight-600 transition color-black hover-color-accent-400" href="#">Краснодар</a>
              <a data-search-item class="weight-600 transition color-black hover-color-accent-400" href="#">Пермь</a>
              <a data-search-item class="weight-600 transition color-black hover-color-accent-400" href="#">Воронеж</a>
              <a data-search-item class="weight-600 transition color-black hover-color-accent-400" href="#">Казань</a>
              <a data-search-item class="weight-600 transition color-black hover-color-accent-400" href="#">Самара</a>
            </div>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Воронеж</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Казань</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Самара</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="d-flex flex-column gap-10">
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Воронеж</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Казань</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Самара</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Воронеж</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Казань</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Самара</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="d-flex flex-column gap-10">
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Воронеж</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Казань</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Самара</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Воронеж</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Казань</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Самара</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="d-flex flex-column gap-10">
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Воронеж</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Казань</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Самара</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Воронеж</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Казань</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Самара</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="d-flex flex-column gap-10">
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Воронеж</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Казань</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Самара</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Воронеж</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Казань</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Самара</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="d-flex flex-column gap-10">
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Воронеж</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Казань</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Самара</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Воронеж</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Казань</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Самара</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Москва</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Санкт-Петербург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Нижний Новгород</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Екатеринбург</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Краснодар</a>
            <a data-search-item class="transition color-black hover-color-accent-400" href="#">Пермь</a>
          </div>
        </div>
      </div>
      <div data-search-result-list class="city-selection-modal__city-list d-none d-flex flex-column gap-10"></div>
    </div>
  </div>
</div>
