
@media only screen and (min-width: 991px) {
    #my-menu{
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    html, body { height: auto; }
}


#my-menu{
    height: calc(100% - 60px);
    margin-top: 60px;
    z-index: 1000;
    transition: 0.2s;
    background-color: rgb(231, 231, 231);

}

#my-menu{
    opacity: 0;
}

#my-menu.mm-menu_opened{
    opacity: 1;
}

#mm-1 .mm-navbar__title{
    font-size: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
}

.mm-listitem>a, .mm-listitem>span{
    padding: 10px 10px 10px 0px;
}

.mm-listitem a{
    width: 100%;
    display: block;
}

#my-button{
    background: transparent;
    border: none;
}

.mm-menu_offcanvas{
    width: 100%;
    max-width: 90%;
}

.mm-panel #my-button-close{
        display: inline-block;
        position: absolute;
        top: 23px;
        right: 4px;
        margin-right: 13px;
        width: 20px;
        height: 20px;
        border: none;
        padding: 0;
        background: none;
}
.mm-navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
    height: 60px;
    color: #fff;
    padding-left: 15px;
}
.mm-navbar__title{
    font-size: 16px;
    color: #fff!important;
    max-width: 90%;
    margin: auto;
    font-family: var(--rb);
    width: 75%;
}
.mm-listitem .mm-btn_next:not(.mm-btn_fullwidth){
    width: 100%;
}

.mm-listitem .mm-btn_next:before{
    display: none;
}
.mm-btn_next:after{
    right: 19px;
}
.mm-listview{
    margin-top: 5px !important;
    max-height: calc(100% - 20px) !important;
    overflow-x: auto!important;
}
.mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout {
    -webkit-transform: translate(100vw,0);
    -ms-transform: translate(100vw,0);
    transform: translate(100vw,0);
    -webkit-transform: translate3d(100vw,0,0);
    transform: translate3d(100vw,0,0);
}
.mm-listitem{
    background-color: #fff;
    padding: 20px 24px 20px 20px;
    font-size: 13px;
    color: #1E2632;
    padding: 10px 24px 10px 20px;
    border:none;
    color: #000;
    font-family: var(--rr);
   
}
.mm-listitem:after{
    display: none;
}
.mm_navbar_mob{
    margin-top: 8px;
    margin-bottom: 8px;
    
}
.mm_navbar_mob li{
    padding-top: 10px;
    padding-bottom: 10px;
}

.mm-menu .mm-btn:before{
    display: none;
}

.mm-listitem .login{
    display: flex;
    align-items: center;
    width: 100%;

}

.mm-listitem .login img{
    margin-right: 5px;
    margin-top: -2px;
}

.mm-other-options{
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.mm-other-options li{
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-right: 10px;
    width: auto;
    line-height: 13px;
}

.mm-other-options a{
    display: flex;
    align-items: center;
}

.mm-other-options a img{
    margin-right: 7px;
    flex-shrink: 0;
}

.mm-menu .mm-btn::after{
    content: "";
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 19px;
    bottom: 0;
    left: 20px;
    margin: auto;
    transform: rotate(-45deg);
}

.mm-slideout { 
    background-color: rgba(31, 39, 51, 0.286);
    z-index: 999!important;
    bottom: 0;
    top: auto;
    transition: 0.2s!important;
}


@media only screen and (max-width: 345px) {
    #my-menu{
        max-width: 94%;
    }
}
