@media only screen and (max-width: 1536px) {
  .__header .contact-box a {
    line-height: 15px;
  }
  .__header .contact-box a img {
    max-width: 14px;
  }
  .__header .contact-box .circle {
    width: 14px;
    height: 14px;
  }

  .__header .contact-box p {
    line-height: 14px;
  }

  .__header .contact-box .circle:before {
    width: 4px;
    height: 4px;
    background-color: #ff5f00;
  }
  .__header .options-box .nav-items li {
    line-height: 14px;
  }

  .__header .options-box .login-register {
    top: 2px;
  }

  .__header .option-items.v-white a {
    line-height: 14px;
  }
}

@media only screen and (max-width: 1280px) {
  .general--width {
    max-width: 260px;
  }

  .__header .custom-block {
    padding-left: 0;
  }

  .__header .catalog-btn {
    padding: 5px 4px 5px 35px;
    margin-right: 5px;
    font-size: 12px;
    max-width: 155px;
  }

  .__header .catalog-btn span:first-child {
    left: 10px;
  }

  .__header .options-box {
    width: 182px;
  }

  .__header .options-box .nav-items li {
    line-height: 12px;
  }

  .__header .options-box .nav-items li a {
    font-size: 12px;
  }

  .__header .option-items li {
    padding-right: 8px;
  }

  .__header .option-items li a {
    font-size: 11px;
  }

  .__header .option-items li:last-child {
    padding-right: 0;
  }

  .__header .contact-box p {
    font-size: 11px;
  }

  .__header .contact-box a {
    font-size: 12px;
  }

  /* v2  */
  .__header .option-items.v-white a {
    font-size: 11px;
    line-height: 13px;
  }

  .__header .options-box .login-register {
    font-size: 11px;
    line-height: 15px;
    top: 2px;
  }
}

@media only screen and (max-width: 991px) {
  .__header {
    display: none;
  }

  .header--mob {
    display: flex;
  }

  main {
    padding-top: 60px !important;
  }
}
