@media only screen and (min-width: 991px) {
    .header--bottom-mob{
        display: none!important;
    }
}

@media only screen and (max-width: 991px) {
   
    .header--bottom-mob ~ main{
        padding-top: 100px!important;
    }

}

.header--bottom-mob{
    display: flex;
    height: 40px;
    background-color: #000;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 998;
    border-top: 1px solid rgb(32, 32, 32);
    align-items: center;
}


.header--bottom-mob .custom-mob-cart{
    display: flex;
    align-items: center;
    font-family: var(--rb);
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    margin-left: auto;
    height: 26px;
    width: fit-content;
    transition: 0.2s;
}

.header--bottom-mob .custom-mob-cart img{
    margin-left: 5px;
    width: 23px;
}

.header--bottom-mob .custom-mob-cart.bordered{
    border: 1px solid #1C52AC;
    padding: 5px 7px 5px 7px;
    width: 100%;
    justify-content: center;

}

.header--bottom-mob .custom-mob-cart.bordered:hover{
    background-color: #1C52AC;
}

.header--bottom-mob .custom-mob-cart.bordered img{
    max-width: 18px;
}


.header--bottom-mob .custom-tel-24{
    padding: 3px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 26px;
    font-family: var(--rb);
    font-size: 8px;
    line-height: 9px;
    color: #FFFFFF;
    border: 1px solid #1C52AC;
    transition: 0.2s;
}   

.header--bottom-mob .custom-tel-24:hover{
    background-color: #1C52AC;
    
}

.header--bottom-mob .custom-tel-24 img{
    margin-right: 10px;
    flex-shrink: 0;
}

.header--bottom-mob .custom-mob-number{
    padding: 4px 4px 2.5px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 26px;
    font-family: var(--rb);
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    border: 1px solid #1C52AC;
    transition: 0.2s;
}   

.header--bottom-mob .custom-mob-number:hover{
    background-color: #1C52AC;
}


.header--bottom-mob .custom-mob-number img{
    margin-right: 10px;
    flex-shrink: 0;
}
