/* Montserrat-SemiBold */
@font-face {
	font-family: "Montserrat-SemiBold";
	src: url("../font/Montserrat-SemiBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
/* Roboto-Regular */
@font-face {
	font-family: "Roboto-Regular";
	src: url("../font/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
/* Roboto-Bold */
@font-face {
	font-family: "Roboto-Bold";
	src: url("../font/Roboto-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


:root{
    --msb: "Montserrat-SemiBold";
    --rr: "Roboto-Regular";
    --rb: "Roboto-Bold";
}

.pl--0{
    padding-left: 0!important;
}

.pr--0{
    padding-right: 0!important;
}

@media (min-width: 991px){
    .__header .row .col-lg-2{width: 16.66667%;}
    .__header .row .col-lg-6{width: 50%;}
    .__header .row .col-lg-4{width: 33.33333%;}
}

.__header{
    height: 80px;
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.__header .logo{
    align-items: center;
    height: 100%;
    display: flex;
}

.__header .logo img{
    max-width: 100%;
}

.__header .custom-block{
    display: flex;
    align-items: center;
    height: 47px;
    padding-left: 50px;
}

.__header .catalog-btn{
    background: #333333;
    border: 1px solid #333333;
    position: relative;
    margin: 0;
    padding: 5px 4px 5px 57px;
    margin-right: 8px;
    flex-shrink: 0;
    transition: 0.2s;
    height: 100%;
    font-size: 14px;
    letter-spacing: 0.05em;;
    line-height: normal;
    max-width: 195px;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    text-align: left;
}


.__header .catalog-btn:hover{
    background: #474747;
}

.__header .catalog-btn span{
    width: 17px;
    height: 2px;
    position: absolute;
    left: 30px;
    top: 0;
    bottom: 0;
    background: #2363D1;
    border-radius: 5px;
    margin: auto;
    transition: 0.2s;
    pointer-events: none;
}

.__header .catalog-btn.toggled{
    background: #474747;
}

.__header .catalog-btn.toggled span{
    background: transparent;
}

.__header .catalog-btn.toggled span:before{
    transform: rotate(45deg) translateX(8.5px);
    left: -7px;
}
.__header .catalog-btn.toggled span::after{
    transform: rotate(-45deg) translateX(8.5px);
    left: -7px;
}

.__header .catalog-btn span:before,
.__header .catalog-btn span::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2363D1;
    border-radius: 5px;
    transition: 0.2s;
}

.__header .catalog-btn span:before{
    top: -6px;
}

.__header .catalog-btn span::after{
    bottom: -6px;
}

.__header .search-box{
    width: 100%;
    height: 100%;
    position: relative;
}
.__header .search-box form{
    height: 100%;
}
.__header .search-box input{
    width: 100%;
    height: 100%;
    background: #222222;
    padding-left: 16px;
    padding-right: 65px;
    color: #fff;
    font-family: var(--rr)!important;
    font-size: 14px;
    border: 1px solid #333333;
}
.__header .search-box input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.__header .search-box .submit {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    background: #333333;
    cursor: pointer;
    transition: 0.2s;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 0px;
}


.__header .search-box .submit:hover{
    background: #474747;
}




/* options-box GLOBAL  */
.__header .options-box ul{
    margin: 0px 0;
}
.__header .options-box ul:first-child{
    margin-top: 0;
}
.__header .options-box ul:last-child{
    margin-bottom: 0;
}

.__header .options-box .login-register{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-family: var(--rb);
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    position: relative;
    top: 1px;

}

.__header .options-box .login-register a{
    color: #000;
}

.__header .options-box .login-register a:hover{
    text-decoration: underline;
    color: #1C52AC;
}

.__header .options-box .login-register span{
    margin: 0 2px;
}

.__header .options-box .login-register img{
    margin-right: 11px;
}

.__header .options-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    max-height: 48px;
    height: 100%;
    width: 226px;
    margin-left: -30px;
    align-items: flex-start;
}

.__header .options-box .nav-items{
    display: flex;
    width: 100%;
}

.__header .options-box .nav-items li{
    padding-right: 20px;
    line-height: 16px;
}

.__header .options-box .nav-items li:last-child{
    padding-right: 0px;
}

.__header .options-box .nav-items li a{
    font-size: 14px;
    color: #000;
    font-family: var(--rb);
    transition: 0.2s;
    position: relative;
}

.__header .options-box .nav-items li .location-caret:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 7px;
    right: -13px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #000;
}

.__header .options-box .nav-items li .location-caret:hover:before{
    border-top-color: #2363D1;
}

.__header .options-box .nav-items li a.active,
.__header .options-box .nav-items li a:hover{
    color: #1C52AC;
    text-decoration: underline;
    text-underline-position: under;
}


/* options items  */

.__header .option-items{
    display: flex;
    width: 100%;
}

.__header .option-items li{
    padding-right: 13px;
}

.__header .option-items li a{
    font-size: 14px;
    color: #000;
    font-family: var(--rb);
    transition: 0.2s;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 21px;
}

.__header .option-items li:last-child{
    padding-right: 0;
}

.__header .option-items li img{
    margin-right: 8px;
    max-width: 17px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}


.__header .option-items li a.active,
.__header .option-items li a:hover{
    color: #2363D1;
    text-decoration: underline;
}

.__header .option-items{
    display: flex;
}

.__header .option-items.v-white li a{
    padding-left: 27px;
}

.__header .option-items.v-white a{
    color: #000;
    font-size: 14px;
    line-height: 17px;  
}

.__header .option-items.v-white img{
    max-width: 21px;
}

/* contact box  */
.__header .contact-box{
    display: flex;
    max-height: 48px;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: fit-content;
    margin-left: auto;
    min-width: 159px;
}

.__header .contact-box p{
    margin-bottom: 0px;
    position: relative;
    font-family: var(--rb);
    font-size: 14px;
    line-height: 17px;
    color: #000;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.__header .contact-box p:hover{
    color: #2363D1;
}

.__header .contact-box a{
    font-family: var(--rb);
    font-size: 14px;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.__header .contact-box .circle{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: solid 2px #2363D1;
    flex-shrink: 0;
    margin-right: 6px;
    position: relative;
    animation: circleFlick 1s infinite linear;
    animation-delay: 0.1s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.__header .contact-box .circle:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    margin: auto;
    border: solid 3px #2363D1;
    border-radius: 100%;
    animation: circleFlick 1s infinite linear;
}

@keyframes circleFlick {
    0% {border-color: #fff; }
    80% {border-color: #2363D1; }
    100% {border-color: #fff; } }

.__header .contact-box a:hover{
    color: #2363D1;
}

.__header .contact-box a img{
    margin-right: 6px;
}

.__header .contact-box p > *{
    pointer-events: none;
}

.__header .contact-box p.toggled{
    padding-left: 0;
}

.__header .contact-box p.toggled > * {
    pointer-events: all;
}

.__header .contact-box p.toggled .show-number,
.__header .contact-box p.toggled .circle{
    display: none;
    pointer-events: none;
}

.__header .contact-box p.toggled a{
    display: inline-block;
}

.__header .contact-box p a{
    display: none;
    color: #000;
}



/* HOVER TYPES OF HEADER CATALOG ITEMS  */

/* .search-box with for slim v1 - v3 */
.general--width{
    max-width: 290px;
}


/* search result  */
.__header #search-result {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 0px 4px 25px rgba(35, 31, 32, 0.07);
    display: none;
    margin-top: 5px;
    align-items: center;
    max-height: 70vh;
    overflow-x: auto;
    z-index: 999;
  }

  .__header #overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
  }

  .__header #overlay.show{
    display: block;
  }


  .__header ::-webkit-scrollbar {
    width: 8px;

  }
  /* Track */
  .__header ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
  }
  /* Handle */
  .__header ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.157); 
    border-radius: 5px;
  }
  /* Handle on hover */
  .__header ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .__header #search-result .s-item-link{
    width: 100%;
    align-items: center;
    transition: 0.2s;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  }

  .__header #search-result .s-item-link:last-child{
    border: none;
  }

  .__header #search-result .s-item-link:hover{
    background-color: rgba(0, 0, 0, 0.048);
  }

  .__header #search-result .s-item-img{
    width: 50px;
    margin-right: 10px;
  }

  .__header #search-result .s-item-img img{
    max-width: 100%;
    max-height: 50px;
  }


  .__header #search-result .s-item-info{
    width: 100%;
  }

  .__header #search-result .s-item-info span{
    margin: 2px 0;
  }

  .__header #search-result .s-item-info span:first-child{
    margin-top: 0;
  }

  .__header #search-result .s-item-info span:last-child{
    margin-bottom: 0;
  }

  .__header #search-result .s-item-title{
    font-family: var(--rr);
    display: inline-block;
    color: #000;
    width: 100%;
    font-size: 12px;
  }

  .__header #search-result .s-item-price{
    width: 100%;
    display: inline-block;
    font-family: var(--rb);
    color: #1C52AC;
  }
 
  .__header #search-result .all-items-link{
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1C52AC;
    color: #fff;
    font-family: var(--rb);
    padding: 10px 10px;
    transition: 0.2s;
  }
