.menu-list
  &__item
    height: 45px
    display: flex
    align-items: center
  &__link
    cursor: pointer
    color: #333333
    display: inline-flex
    padding: 5px 0
    gap: 15px
    align-items: center
