.mobile-header
  height: 60px
  display: flex
  align-items: center
  overflow: hidden

  &__row
    display: flex
    justify-content: space-between

  &__item
    display: flex
    gap: 15px

.logo-link
  display: inline-flex
  align-items: center

  &__image
    max-width: 200px
    height: auto
