.mobile-side-menu-footer
  position: absolute
  bottom: 0
  left: 0
  border-top: 1px solid #E5E5EA
  width: 100%
  padding: 20px

  &__link
    font-size: 16px
    display: inline-flex
    align-items: center
    gap: 5px

.phone-block
  display: flex
  flex-direction: column
  gap: 10px
  &__primary-link
    font-size: 22px
  &__secondary-link
    font-size: 16px
    text-decoration: underline
    &:hover
      text-decoration: underline
