.mobile-header
  height: 60px
  display: flex
  align-items: center
  overflow: hidden

  &__row
    display: flex
    justify-content: space-between

  &__item
    display: flex
    gap: 15px

  &__phones
    display: flex
    flex-direction: column
    gap: 3px
    justify-content: center

  &__phone
    font-size: 14px
    font-weight: 600
    line-height: 16px
    color: #000000

.logo-link
  display: inline-flex
  align-items: center

  &__image
    max-width: 200px
    height: auto
