<div id="callme-modal" class="modal" style="display: none">
  <div class="modal-content">
    <span class="content-title content-title--min center h2">Заказать обратный звонок</span>
    <form id="crm-callme-request-form" class="card-body form-inline callme-request-form" method="post"
      action="/crm/callme-request/" onsubmit="">
      <input type="hidden" name="csrfmiddlewaretoken"
        value="FcUv0c8WVshb8HUBRqDXG302JnlqVjKR1s8yOz8Y3ZpCgASjJDa2utFsWNmSwlmR" />

      <input type="hidden" name="url" value="/" />

      <div class="form-group">
        <input type="text" class="form-control" name="name" autocomplete="off" required />
        <label for="name" class="label-name">
          <span class="content-name"> Как Вас зовут </span>
        </label>
      </div>

      <div class="form-group">
        <input type="tel" class="form-control phone" name="phone" autocomplete="off" required />
        <label for="phone" class="label-name">
          <span class="content-name"> Ваш Телефон </span>
        </label>
      </div>

      <div class="form-group-inline">
        <button type="submit" class="btn btn--main-min button-theme button-theme_primary">
          Отправить
        </button>
        <a class="form-close btn-close" data-fancybox-close>Закрыть</a>
      </div>

      <div class="form-group privacy-policy">
          <div class="checkbox">
            <input type="checkbox" name="privacy-policy" id="privacy" />
            <label for="privacy">Нажимая на кнопку, вы даете согласие на обработку <a href="/">персональных данных</a> и соглашаетесь с нашей <a href="/">политикой конфиденциальности</a></label>
          </div>
        </div>
        <div class="form-group advert-materials">
          <div class="checkbox">
            <input type="checkbox" name="advert-materials" id="advert" required=""/>
            <label for="advert">Я даю согласие на получение информационных и рекламных материалов.</label>
          </div>
        </div>
    </form>
  </div>
</div>