<div class="product-item product-item--article product-item--article-compact">
  <a href="/catalog/product/tovar-1/" class="product-item__link">
    <span class="product-item__content-top">
      <span class="product-item__head">
        <span class="product-item__time">27 января</span>
        <span class="product-item__tag"> / Новость</span>
      </span>

      <span class="product-item__name"
        >ГЛК СОК и РОЗА ХУТОР: Горный кристалл: расти, сияй, побеждай</span
      >
    </span>
  </a>
</div>
