@use './product-card'

.product
  .product-item__flag-content
    width: 64px

  &__title-block
    background-color: #fff
    padding: 20px 30px
    border-bottom: 1px solid #E5E5EA

  &__title
    font-size: 30px
    font-weight: 700
    line-height: 36px
    color: #000

  &__articul
    margin: 0
    color: #BDBDBD
    font-size: 12px
    display: inline

  &__inner-content
    padding: 40px 80px

  &__main-column-content
    padding: 0 60px

  &__inner
    padding: 40px 80px

  &__secondary-column-content
    background-color: #F5F5F5
    padding: 20px 30px

  &__navigation-wrapper
    border-bottom: 1px solid #E5E5EA

  &__static-text-wrapper
    font-size: 14px

@media (max-width: 1279px)
  .product
    &__main-column-content
      padding-right: 0

@media (max-width: 1023px)
  .product
    &__inner-content
      padding: 20px

    &__inner
      padding: 20px

    &__content-dark
      padding: 20px

@media (max-width: 767px)
  .product
    &__inner-content
      padding: 0

    &__content
      padding: 20px

    &__main-column-content
      padding-left: 0

@media (max-width: 575px)
  .product
    &__secondary-column-content, &__navigation-wrapper
      margin: 0 -16px

    &__content
      padding: 20px 0
