head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  title Ваша корзина
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
  //- link(rel='stylesheet', href='./shared/libs/styles/styles.css', type='text/css')
  link(rel='stylesheet', href='./shared/libs/styles/header.css')
  link(rel='stylesheet', href='./shared/libs/styles/header-media.css')
  //- link(rel='stylesheet', href='./shared/libs/styles/new.css')
  link(rel='stylesheet', href='./shared/libs/styles/common.css')
  link(rel='stylesheet', href='./shared/libs/styles/custom_new.css')
  link(rel='stylesheet', href='./shared/libs/styles/custom.css')
  link(rel='stylesheet', href='./shared/libs/styles/header-catalog.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/7.0.6/jquery.mmenu.all.css')
  link(rel='stylesheet', href='./shared/libs/styles/header-mobile.css')
  link(rel='stylesheet', href='./shared/libs/styles/product-cards.css')