.product-v3

  .input-number
    width: 100%
    max-width: 80px
    min-width: 80px
    height: 48px
    display: flex
    border: 1px solid var(--color-button-secondary-border, #B7CBE5)
    border-radius: 2px
    justify-content: center
    overflow: hidden
    padding: 0
    margin-right: 0

    input[type="number"]
      width: 40px
      text-align: center
      border: none
      height: 100%
      color: var(--color-button-secondary-text)
      font-size: 12px
      font-weight: 400
      line-height: 130%
      padding-bottom: 2px
      color: #1C52AC

    .order-down, .order-up
      width: 23px
      border: none
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      border-radius: 0
      &:hover
        background: var(--color-button-secondary-background-hover, #e7eef6)

    .order-up:after, .order-up:before, .order-down:before
      top: auto
      left: auto

    .order-up:before
      width: 1px
      height: 7px

    .order-up:after, .order-down:before
      width: 7px
      height: 1px

  .product-card
    width: auto
    margin: 0
    &__main-content
      padding: 30px

    &__main-column-content
      margin: 0 30px
      display: flex
      flex-direction: column
      gap: 15px

    &__secondary-column-content
      display: flex
      flex-direction: column
      gap: 20px

  .char .char-text:first-child:before
    display: none

  .char .char-text:first-child
    width: 35%
    color: var(--gray-color-500)

  .char .char-text:last-child
    width: 65%


@media (max-width: 1023px)
  .product-v3
    .product-card
      &__main-column-content
        margin-right: 0

      &__secondary-column-content
        width: 100%
        padding-top: 30px

@media (max-width: 767px)
  .product-v3
    .product-card
      border: none
      &__main-column-content
        margin: 0

      &__main-content
        padding: 30px 0
