.product-price-range
  display: flex
  flex-direction: column
  gap: 3px

  &__cost
    color: #A7A7AB
    font-size: 16px
    font-weight: 700
    line-height: 100%

  &__text
    color: #A7A7AB
    font-size: 12px
    font-weight: 700
    line-height: 100%
