.product-item_max-width
  border: 1px solid var(--color-card-border, #D9D9DE)
  height: auto !important
  width: auto !important
  padding-bottom: 60px
  margin: -0.5px
  .btn-border
    width: 100%

  .product-item__btns
    justify-content: flex-start
    gap: 7px

  .product-item__content-bottom
    position: absolute
    width: 100%
    bottom: 0
    left: 0

  .product-item__btns
    justify-content: flex-start
    gap: 7px

  .product-item__image
    height: auto
    img
      aspect-ratio: 298/168
      width: 100%
      height: auto
      object-fit: contain

  .product-item__link
    height: auto

  .product-item__content-top
    height: auto

@media ( max-width: 767px )
  .product-item_max-width
    flex-direction: column
    padding-bottom: 60px
    border: 1px solid var(--color-card-border, #D9D9DE)
    height: auto

    &:hover
      border: 1px solid var(--color-card-border, #D9D9DE)

    .product-item__link
      flex-direction: column

    .input-number 
      display: none

    .product-item__image
      width: 100%
      height: auto

    .product-item__image
      margin: 0

    .product-item__btns
      position: relative

    .product-item__content-bottom, .product-item__btns
      max-width: 100%
      width: 100%
      right: auto
      bottom: auto

    .product-item__content-top
      width: 100%

    .product-item__content-bottom 
      position: absolute
      width: 100%
      bottom: 0