.product-item_new
  border: 1px solid var(--color-card-border, #D9D9DE)
  padding-bottom: 50px
  width: auto !important
  height: auto !important
  margin: -0.5px

  .product-item__btns
    justify-content: flex-start
    gap: 7px

  .product-item__content-bottom
    position: absolute
    width: 100%
    bottom: 0
    left: 0

  .product-item__link
    height: auto

  .product-item__content-top
    height: auto

@media ( max-width: 767px )
  .product-item_new
    height: 132px
    padding-bottom: 0

    .product-item__content-top
      padding-bottom: 60px

    .product-item__content-bottom
      right: 0
      left: auto
      width: calc(100% - 116px)

    .product-item__link
      height: 100%

    .product-item__image
      width: 119px
      height: 100%
      margin: 0
      display: flex
      align-items: center
      justify-content: center
      img
        object-fit: contain
        width: 100%
        height: 100%

    .product-item__btns
      justify-content: flex-end
      position: static

    .product-item__name
      font-size: 11px
