.product-item_max-heigth
  border: 1px solid var(--color-card-border, #D9D9DE) !important
  height: auto !important
  width: auto !important
  padding-bottom: 60px !important
  margin: -0.5px

  &:nth-child(2n)
    margin-left: -1px

  .btn-border
    width: 100%

  .product-item__btns
    justify-content: flex-start
    gap: 7px

  .product-item__content-bottom
    position: absolute
    width: 100%
    bottom: 0
    left: 0

  .product-item__image
    height: auto
    img
      aspect-ratio: 219/322
      object-fit: contain

  .product-item__link
    height: auto

    &__icon
      width: 22px
      height: auto
      margin-right: 8px

    &__text
      font-size: 16px
      font-weight: 400
      line-height: 27px

  .product-item__content-top
    height: auto

@media ( max-width: 767px )
  .product-item_max-heigth
    flex-direction: column
    padding-bottom: 60px
    border: 1px solid var(--color-card-border, #D9D9DE)

    &:hover
      border: 1px solid var(--color-card-border, #D9D9DE)

    .input-number
      display: none

    .product-item__link
      flex-direction: column

    .product-item__image
      width: 100%
      margin: 0
      img
        aspect-ratio: 220/276

    .product-item__btns
      position: relative

    .product-item__content-bottom, .product-item__btns
      max-width: 100%
      width: 100%
      right: auto
      bottom: auto

    .product-item__content-top
      width: 100%

    .product-item__content-bottom
      position: absolute
      width: 100%
      bottom: 0

    .product-item__img-text
      left: auto
      bottom: auto
      right: 15px
      top: 0
