.product-sale-badge
  background-color: #f33d2a
  border-radius: 5px
  color: #fff
  display: inline-flex
  font-size: 14px
  font-weight: 400
  justify-content: center
  line-height: 100%
  padding: 3px 10px

  &_margin
    margin-left: 10px
    display: inline-flex !important
