.product-select-group
  &__text
    margin-bottom: 5px

.product-select
  border-radius: 2px
  border: 1px solid #B7CBE5
  font-size: 12px
  font-weight: 400
  line-height: 130%
  color: #1C52AC
  width: 100%
  height: 40px
  padding: 0 20px
  appearance: none
  background-image: url(@images/angle.svg)
  background-repeat: no-repeat
  background-size: 15px 15px
  background-position: right 1rem center
  font-family: Golos
