<div class="product-select-group">
  <p class="g-text g-text_grey product-select-group__text">Цвет</p>
  <select class="product-select" id="" autocomplete="off">
    <option data-param-id="2" data-param-value="800 мм" class="product-mod-param">
      Белый
    </option>
    <option data-param-id="2" data-param-value="1200 мм" class="product-mod-param">
      Черный
    </option>
    <option data-param-id="2" data-param-value="900 мм" class="product-mod-param active" selected="">
      Серый
    </option>
  </select>
</div>