.product-card

  &__avaibility-title
    margin: 0
    font-weight: 700

  &__avaibility
    display: flex
    flex-direction: column

  &__status
    font-size: 11px
    margin-bottom: 8px
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center

  &__status--limited
    color: #30c2ff

  &__status--small
    color: #ff9500

  &__status--none
    color: #d74853

  &__status--many
    color: #3ec28f