<div class="product-item product-item_max-width">
  <a href="/catalog/product/tovar-1/" class="product-item__link">
    <div class="product-item__image">
      <div class="product-item__image-inner">
        <img src="@images/banner-content-1.png" alt="Товар 1" />
        <img src="@images/catalog-product.jpg" alt="Товар 1" />
      </div>

      <span class="product-item__flag-content">
        <span class="product-item__flag product-item__flag--hit">Хит</span>
        <span class="product-item__flag product-item__flag--sale">sale</span>
        <span class="product-item__flag product-item__flag--new">new</span>
      </span>
      <%~ include("/components/product-teasers/templates/product-card-sell-badge/product-card-sell-badge_bottom-no-adaptive.html")
      %>
      <span class="product-item__img-text">Заказ 30 дней!</span>
    </div>
    <span class="product-item__content-top">
      <span class="product-item__head">
        <span class="product-item__art">001</span>

        <span class="product-item__rating">
          <span class="star star--full"></span>
          <span class="star star--full"></span>
          <span class="star star--full"></span>
          <span class="star star--half"></span>
          <span class="star star--empty"></span>
        </span>
      </span>
      <span class="product-item__name">Фанера влагостойкая 12x2500х1250 мм</span>

      <div class="product-item__status product-item__status--none">нет в наличии</div>

      <span class="product-item__cost">
        <span class="product-item__cost-product">89 537,50 <span>₽/шт</span></span>
        <span class="product-item__cost-old"> 99 999,99 ₽</span>
      </span>

      <span class="product-item__balance">0</span>

      <span class="product-item__line-cost">1&nbsp;000,00</span>
      <span class="product-item__line-cost"></span>
    </span>
  </a>
  <div class="product-item__content-bottom">
    <div class="product-item__btns">
      <div class="shopping-cart-product">
        <a
          href="#question-main"
          data-product-code="001"
          data-product-name="Товар 1"
          class="btn-border not-for-sale not-available btn-small button-theme button-theme_secondary"
        >
          Узнать о наличии</a
        >

        <a href="#" class="st-button st-button_secondary st-button_add-to-favorite">
          <svg class="st-button__icon st-button__icon_favorite" width="20" height="19" viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.001 1.52898C12.35 -0.58002 15.98 -0.51002 18.243 1.75698C20.505 4.02498 20.583 7.63698 18.479 9.99298L9.99901 18.485L1.52101 9.99298C-0.582994 7.63698 -0.503994 4.01898 1.75701 1.75698C4.02201 -0.50702 7.64501 -0.58302 10.001 1.52898ZM16.827 3.16998C15.327 1.66798 12.907 1.60698 11.337 3.01698L10.002 4.21498L8.66601 3.01798C7.09101 1.60598 4.67601 1.66798 3.17201 3.17198C1.68201 4.66198 1.60701 7.04698 2.98001 8.62298L10 15.654L17.02 8.62398C18.394 7.04698 18.319 4.66498 16.827 3.16998Z"></path>
          </svg>
          <p class="st-button__text">
            <span class="st-button__title"></span>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
