<div class="product-item product-item_max-width">
  <a href="/catalog/product/tovar-1/" class="product-item__link">
    <div class="product-item__image">
      <div class="product-item__image-inner">
        <img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/banner-content-1.png" alt="Товар 1" />
      </div>

      <span class="product-item__flag-content">
        <span class="product-item__flag product-item__flag--hit">Хит</span>
        <span class="product-item__flag product-item__flag--sale">sale</span>
        <span class="product-item__flag product-item__flag--new">new</span>
      </span>
      <!-- @include ../product-card-sell-badge/product-card-sell-badge_bottom-no-adaptive.html -->
    </div>
    <span class="product-item__content-top">
      <span class="product-item__head">
        <span class="product-item__art">001</span>

        <span class="product-item__rating">
          <span class="star star--full"></span>
          <span class="star star--full"></span>
          <span class="star star--full"></span>
          <span class="star star--half"></span>
          <span class="star star--empty"></span>
        </span>
      </span>
      <span class="product-item__name">Фанера влагостойкая 12x2500х1250 мм</span>

      <div class="product-item__status product-item__status--none">
        нет в наличии
      </div>

      <span class="product-item__cost">
        <span class="product-item__cost-product"><span>от</span> 89 537,50 <span>₽/шт</span></span>
      </span>

      <span class="product-item__balance">0</span>

      <span class="product-item__line-cost">1&nbsp;000,00</span>
      <span class="product-item__line-cost"></span>
    </span>
  </a>
  <div class="product-item__content-bottom">
    <div class="product-item__btns">
      <div class="shopping-cart-product">
        <a href="#" class="st-button st-button_secondary st-button_without-price">Узнать о цене</a>
      </div>
    </div>
  </div>
</div>