.menu-item-link-mobile
    display: flex !important
    gap: 10px
    align-items: center

.menu-item-mobile__image
    max-width: 20px
    min-width: 20px
    height: auto

.menu-item-mobile__image
    width: 100%
    height: auto

.mobile-ul li .submenu li .menu-item-link-mobile
    padding: 9px 0px