.product-card-v2
  --pd: 10px
  font-size: 14px
  position: relative
  display: flex
  flex-direction: column

  .slick-slider
    display: flex !important

  &__link
    position: absolute
    z-index: 2
    display: block
    width: 100%
    height: 100%
    top: 0
    left: 0

  &__image
    position: relative
    z-index: 3
    height: 170px
    flex: 0 0 auto

  &__image .image
    height: 100%
    padding-bottom: 15px

  &__image .image img
    padding: var(--pd)
    transition: opacity 0.15s ease-out, visibility 0.15s ease-out, transform 0.15s ease-out
    will-change: transform

  &__image .image img:not(:first-child)
    opacity: 0
    visibility: hidden

  &__image .image_no-image
    background-color: #f5f5f5

  &__image .image_no-image img
    padding: 25px !important

  &__labels
    position: absolute
    width: 100%
    z-index: 2
    bottom: 0
    display: flex
    flex-wrap: wrap

  &__label
    padding: 0 8px
    width: auto
    font-weight: 500

  &__rating
    position: absolute
    width: 85px
    height: auto
    top: 5px
    right: 5px
    z-index: 2

  &__rating-stars
    display: block
    width: 100%
    height: auto

  &__title
    hyphens: auto
    -webkit-line-clamp: 3
    display: -webkit-box
    -webkit-box-orient: vertical
    overflow: hidden
    flex: 0 0 auto
    margin-bottom: 15px
    line-height: 1.5

  &__content
    flex: 1 1 auto
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 15px var(--pd) var(--pd) var(--pd)
    position: relative
    z-index: 3
    pointer-events: none

  &__content-bottom
    display: flex
    flex-direction: column
    gap: 10px

  &__buttons
    display: flex
    flex-direction: column
    gap: var(--pd)
    pointer-events: all

  &__button
    position: relative
    z-index: 3

  &__cart-button
    width: 100%
    position: relative
    z-index: 3
    padding: 0

  &__cart-button .icon
    width: 26px
    height: 26px

  &__cart-button > span
    display: flex
    flex-direction: column
    align-items: flex-start
    text-align: left
    row-gap: 4px

  &__cart-button > span span
    line-height: 1

  &__cart-button > span span:not(:last-child)
    font-size: 10px

  &__cart-button > span span:not(:first-child)
    font-size: 16px
    text-transform: uppercase

  &__pricing
    display: flex
    flex-direction: column
    align-items: flex-start
    line-height: 1
    gap: 6px

  &__pricing-txt
    font-size: 12px
    line-height: 1.25

  &__price
    font-size: 20px
    font-weight: 700

  &__price.text-color-accent span
    color: #333333

  &__price span
    font-weight: normal
    font-size: 16px

  &__old-price
    color: #767676
    font-size: 16px
    position: relative
    padding: 0 3px

  &__old-price::after
    content: ""
    position: absolute
    display: block
    width: 100%
    height: 2px
    background-color: #c43228
    top: calc(45% - 1px)
    left: 0

.product-card-v2[data-touch] .product-card-v2__image .image img,
.product-card-v2[data-hover] .product-card-v2__image .image img
  transform: scale(1.05)

.product-card-v2[data-touch] .product-card-v2__image .image img:not(:last-child),
.product-card-v2[data-hover] .product-card-v2__image .image img:not(:last-child)
  opacity: 0
  visibility: hidden

.product-card-v2[data-touch] .product-card-v2__image .image img:not(:first-child),
.product-card-v2[data-hover] .product-card-v2__image .image img:not(:first-child)
  opacity: 1
  visibility: visible

@media (min-width: 576px)
  .product-card-v2
    background-color: #fff
    border: 1px solid var(--color-card-border, #d9d9de)
    border-radius: 2px
    transition: border-color 0.15s ease-out

  .product-card-v2[data-touch],
  .product-card-v2[data-hover]
    border-color: var(--color-card-hover-border, #a7a7ab)

@media (max-width: 575.98px)
  .product-card-v2
    --pd: 0

    &__link
      width: calc(100% + var(--grid-gutter-width))
      height: calc(100% + var(--grid-gutter-width))
      top: calc(var(--grid-gutter-width) / -2)
      left: calc(var(--grid-gutter-width) / -2)

    &__content
      padding-top: calc(var(--grid-gutter-width) / 2)
      padding-bottom: calc(var(--grid-gutter-width) / 2)

    &__labels
      bottom: calc(var(--grid-gutter-width) / 2)

    &__rating
      top: calc(var(--grid-gutter-width) / 2)

    &::before
      content: ""
      display: block
      position: absolute
      width: calc(100% + var(--grid-gutter-width) + 1px)
      height: 100%
      left: calc((var(--grid-gutter-width) + 1px) / -2)
      background-color: #fff
      border: 1px solid var(--color-card-border, #d9d9de)
      pointer-events: none

    &__title
      font-size: 12px
      margin-bottom: calc(var(--grid-gutter-width) / 2)

    &__pricing-txt
      font-size: 10px

    &__image .image
      width: calc(100% + var(--grid-gutter-width))
      margin-left: calc(var(--grid-gutter-width) / -2)

    &__image .image img
      padding: calc(var(--grid-gutter-width) / 2)

    &__price
      font-size: 16px

    &__price span
      font-size: 12px

    &__old-price
      font-size: 12px

    &__buttons
      gap: calc(var(--grid-gutter-width) / 2)

    &__labels
      gap: 2px

    &__label
      font-size: 10px
      line-height: 15px
      padding: 0 5px

    &__button
      height: 40px
      line-height: 38px
      padding: 0 10px
      min-width: initial
      font-size: 14px

    &__cart-button
      padding: 0 10px
      min-width: initial
      height: 40px
      line-height: 38px

    &__cart-button .icon
      width: 20px
      height: 20px

    &__cart-button > span span:not(:last-child)
      font-size: 8px

    &__cart-button > span span:not(:first-child)
      font-size: 12px

    .gap-grid > .product-card-v2_type-1:not(:nth-child(1)):not(:nth-child(2))
      margin-top: calc(var(--grid-gutter-width) * -1 - 1px)

    &_type-1 .product-card-v2__rating
      right: 0

    &_type-1 .product-card-v2__image
      height: 120px

    &_type-2
      display: grid
      grid-template-columns: 1fr 1fr
      gap: var(--grid-gutter-width)
      min-height: 160px

  .gap-grid > .product-card-v2_type-2:not(:nth-child(1))
    margin-top: calc(var(--grid-gutter-width) * -1 - 1px)

  .slider-constructor .slick-slide > div:not(:first-child) .product-card-v2_type-2
    margin-top: calc(var(--grid-gutter-width) / -2 - 0.5px)

  .slider-constructor .slick-slide > div:not(:last-child) .product-card-v2_type-2
    margin-bottom: calc(var(--grid-gutter-width) / -2 - 0.5px)

  .slider-constructor .slick-slide .product-card-v2_type-2
    display: grid !important

  .product-card-v2_type-2 .product-card-v2__image
    height: 100%

  .product-card-v2_type-2 .product-card-v2__rating
    right: initial
    left: 0
