<section class="__header trapeze trapeze_2">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="logo">
          <a href="#"><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/logo.svg"
              alt="" /></a>
        </div>
      </div>
      <div class="col-md-6 pl--0">
        <div class="custom-block">
          <button class="btn catalog-btn">
            <span></span> Каталог товаров
          </button>
          <div class="search-box fat-v2-width">
            <div id="overlay" onclick="javascript: close_all();"></div>
            <form action="">
              <div class="field__box">
                <input type="text" autocomplete="off" id="edit_search" onkeyup="javascript: find_my_div();"
                  placeholder="Найти..." />
              </div>
              <button class="btn submit">
                <img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/search-icon.svg"
                  alt="" />
              </button>
            </form>
            <div id="search-result">
              <a href="#" id="user_0" class="s-item-link">
                <div class="s-item-img">
                  <img
                    src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/30851ff8e294859c3b812fef189cce5b.jpeg"
                    alt="" />
                </div>
                <div class="s-item-info">
                  <span class="s-item-title">Золотое яблоко</span>
                  <span class="s-item-price">247$</span>
                </div>
              </a>
              <a href="#" id="user_1" class="s-item-link">
                <div class="s-item-img">
                  <img
                    src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/30851ff8e294859c3b812fef189cce5b.jpeg"
                    alt="" />
                </div>
                <div class="s-item-info">
                  <span class="s-item-title">доска asd asd asd asdas </span>
                  <span class="s-item-price">247$</span>
                </div>
              </a>
              <a href="#" id="user_2" class="s-item-link">
                <div class="s-item-img">
                  <img
                    src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/30851ff8e294859c3b812fef189cce5b.jpeg"
                    alt="" />
                </div>
                <div class="s-item-info">
                  <span class="s-item-title">корзина</span>
                  <span class="s-item-price">247$</span>
                </div>
              </a>
              <a href="#" id="user_3" class="s-item-link">
                <div class="s-item-img">
                  <img
                    src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/30851ff8e294859c3b812fef189cce5b.jpeg"
                    alt="" />
                </div>
                <div class="s-item-info">
                  <span class="s-item-title">Золотое яблоко</span>
                  <span class="s-item-price">247$</span>
                </div>
              </a>
              <a href="#" id="user_4" class="s-item-link">
                <div class="s-item-img">
                  <img
                    src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/30851ff8e294859c3b812fef189cce5b.jpeg"
                    alt="" />
                </div>
                <div class="s-item-info">
                  <span class="s-item-title">доска asd asd asd asdas </span>
                  <span class="s-item-price">247$</span>
                </div>
              </a>
              <a href="#" id="user_5" class="s-item-link">
                <div class="s-item-img">
                  <img
                    src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/30851ff8e294859c3b812fef189cce5b.jpeg"
                    alt="" />
                </div>
                <div class="s-item-info">
                  <span class="s-item-title">корзина</span>
                  <span class="s-item-price">247$</span>
                </div>
              </a>

              <a href="#" class="all-items-link">Все каталоги</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-box c-box-fat-v2">
          <p>
            <span class="circle"></span><span class="show-number">Показать .. 10-53-28</span>
            <a href="#">+7(960) 810-53-28</a>
            <a href="#">+7(960) 810-53-28</a>
          </p>
          <a href="#" data-fancybox="callme-modal" data-src="#callme-modal" href="javascript:;"
            class="order-call"><span>Запросить звонок</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="catalog-box">
    <div class="container">
      <ul class="hover--color hover--underline link--arrow-left">
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Образец выделения активного пункта 1</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Образец выделения активного пункта 2</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Образец выделения активного пункта 3</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">В одну строку название</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Название пункта меню в 2 строки</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Пример, когда иконка слева от текста</a>
        </li>

        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Образец выделения активного пункта 1</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Образец выделения активного пункта 2</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Образец выделения активного пункта 3</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">В одну строку название</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Название пункта меню в 2 строки</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Название пункта меню в 2 строки</a>
        </li>

        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>

        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/link-arrow.svg"
              alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="__h-fat-v2-bottom">
  <div class="container">
    <div class="__fat-wrap">
      <div class="__fat-v2-nav">
        <ul>
          <li><a href="#">Пунт меню</a></li>
          <li><a class="active" href="#">Очень длинный пункт меню</a></li>
          <li><a href="#">Пунт меню</a></li>
          <li>
            <a href="#">Очень длинный пункт меню</a>
            <ul>
              <li>
                <a href="#">Очень длинный пункт меню второго уровня есть есть</a>
              </li>
              <li>
                <a href="#">Очень длинный пункт меню второго уровня есть есть</a>
              </li>
              <li>
                <a href="#">Очень длинный пункт меню второго уровня есть есть</a>
              </li>
              <li>
                <a href="#">Очень длинный пункт меню второго уровня есть есть</a>
              </li>
            </ul>
          </li>
          <li><a href="#">Пунт меню</a></li>
        </ul>
      </div>

      <div class="__fat-v2-options">
        <ul>
          <li>
            <a href="#" data-fancybox="city-selection" data-src="#city-selection">Самара <span class="caret"></span></a>
          </li>
          <li>
            <a href="#"><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/item-white.svg"
                alt="" />12</a>
          </li>
          <li>
            <a href="#"><img
                src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/cart-icon-white.svg"
                alt="" />123 456</a>
          </li>
          <li>
            <a href="#"><img
                src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/profile-icon-white.svg"
                alt="" />Вход</a>
            <span>/</span> <a href="#"> Регистрация</a>
          </li>
        </ul>
      </div>
      <div id="city-selection" class="modal modal--wide" style="display: none">
        <div class="modal-content">
          <span class="h2">Выберите свой город</span>

          <ul class="city-list">
            <li><a href="/location/set-location/9/">Тольятти</a></li>

            <li><a href="/location/set-location/10/">Ульяновск</a></li>

            <li><a href="/location/set-location/11/">Бузулук</a></li>

            <li><a href="/location/set-location/8/">Уфа</a></li>

            <li><a href="/location/set-location/4/">Самара</a></li>

            <li><a href="/location/set-location/12/">Казань</a></li>

            <li><a href="/location/set-location/13/">Оренбург</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="header--mob">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="logo">
          <a href="#"><img src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/logo.svg"
              alt="" /></a>
        </div>
      </div>
      <div class="col-5">
        <div class="phone--box">
          <a href="#">+7-927-711-9393</a>
          <a href="#">+7-927-711-9393</a>
        </div>
      </div>
      <div class="col-4">
        <div class="burger-box">
          <a class="tel-mob" data-fancybox="callme-modal-mob" data-src="#callme-modal" href="#"><img
              src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/header-icons/tel-mob-icon.svg" alt="" />
            Заказать звонок</a>
          <button class="btn" id="my-button">
            <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="17" height="2" rx="1" fill="#2363D1" />
              <rect y="6" width="17" height="2" rx="1" fill="#2363D1" />
              <rect y="12" width="17" height="2" rx="1" fill="#2363D1" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>