include ../sections/header/index.pug

main
  section.section.mobile-show.header-top-bg-color
    .container
      .catalog-side.mobile-show
        span.catalog-side__title
          span.icon
            svg(width='16', height='14', viewBox='0 0 16 14', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M0 0V2H16V0H0ZM0 8H16V6H0V8ZM0 14H16V12H0V14Z', fill='currentColor')
          | Каталог

        .catalog-side__content
          ul
            li.menu-item
              a(href='/catalog/osveshenie-dlya-ban/') Освещение для бань
            li.menu-item
              a(href='/catalog/oformlenie-ban/') Оформление бань
            li.menu-item
              a(href='/catalog/pechi-dlya-bani-i-sauny/') Печи для бани и сауны
            li.menu-item
              a(href='/catalog/pilomaterialy/') Отделочные материалы
            li.menu-item
              a(href='/catalog/dveri-i-okna-dlya-bani/') Двери и окна для бани
  section.section-dark
    .container
      .page-head
        .breadcrumbs.breadcrumbs--lk(itemscope, itemtype='http://schema.org/BreadcrumbList')
          span(itemprop='itemListElement', itemscope, itemtype='http://schema.org/ListItem')
            a(itemprop='item', title='Главная', href='/')
              | Главная

              meta(itemprop='name', content='Главная')
            meta(itemprop='position', content='1')
          svg.breadcrumbs__sep
            use(href='#tab-arrow')
          | Корзина

      .content-block
        h1 Корзина
        a.mobile-menu-item.active(href)
          | Шаг 1. Корзина

          span.icon
            svg.icon-svg
              use(href='#tab-arrow')
        .delivery-container
          .delivery-content
            .shopping-cart
              .shopping-cart-list
                .shopping-cart-item
                  span.shopping-cart-item__delete(data-cart-delete-url='/cart/del/18')
                    a
                      svg.icon-svg
                        use(href='#delete')
                  span.shopping-cart-item__img
                    img(src=require('../../public/images/catalog-product.jpg'), alt)
                  span.shopping-cart-item__name
                    span r1
                    | Вагонка Termarioni ольха, Экстра, 15х90(80)мм

                  span.shopping-cart-item__cost 415,00 ₽
                  span.shopping-cart-item__numbers
                    .input-number
                      .cart-qty-control.order-down(data-qty-update-url='/cart/upd/18?q=down')
                      input.cart-qty-control-input#number(data-qty-update-url='/cart/upd/18', type='number', min='1', max='inf', step='1', value='2', required)
                      .cart-qty-control.order-up(data-qty-update-url='/cart/upd/18?q=up')
                      span.shopping-cart-item__uom п.м.
                  span.shopping-cart-item__total-cost 830,00 ₽
              .delivery-cart
                .delivery-total.delivery-total--cart
                  ul
                    li
                      span.delivery-total__sm Общий вес, кг:
                      span.delivery-total__sm.cart-total-weight 0
                    li
                      span.delivery-total__sm.
                        Общий объём, м3:
                        
                      span.delivery-total__sm.cart-total-volume 0
                    li
                      span.delivery-total__lg Итого:
                      span.delivery-total__lg.cart-total-price 830,00 ₽
              .delivery-choice.shopping-cart-radio-1.authorization-cart
                a.btn.btn--main.btn--fixed-width.button-theme.button-theme_primary(href='/cart/delivery/').
                  Далее
                  
          .delivery-steps
            .step-item.current
              span.step-item__number 1
              | Корзина

            .step-item
              span.step-item__number 2
              | Доставка

            .step-item
              span.step-item__number 3
              | Оплата

            .step-item
              span.step-item__number 4
              | Завершение

        a.mobile-menu-item.disabled(href)
          | Шаг 2. Доставка

          span.icon
            svg.icon-svg
              use(href='#tab-arrow')
        a.mobile-menu-item.disabled(href)
          | Шаг 3. Оплата

          span.icon
            svg.icon-svg
              use(href='#tab-arrow')
        a.mobile-menu-item.disabled(href)
          | Шаг 4. Завершение

          span.icon
            svg.icon-svg
              use(href='#tab-arrow')

include ../sections/footer/index.pug