include ../sections/header/index.pug


main
  section.conditional-section.bg-color.mb-0
    .container
      .catalog-side.mobile-show
        span.catalog-side__title
          span.icon
            svg(width='16' height='14' viewbox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0 0V2H16V0H0ZM0 8H16V6H0V8ZM0 14H16V12H0V14Z' fill='currentColor')
          |               &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&icy;
        .catalog-side__content
          ul
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/vagonka-i-evrovagonka/') &Vcy;&acy;&gcy;&ocy;&ncy;&kcy;&acy; &icy; &IEcy;&vcy;&rcy;&ocy;&vcy;&acy;&gcy;&ocy;&ncy;&kcy;&acy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/category/vagonka-i-evrovagonka/evrovagonka-olha/') &IEcy;&vcy;&rcy;&ocy;&vcy;&acy;&gcy;&ocy;&ncy;&kcy;&acy; (&ocy;&lcy;&softcy;&khcy;&acy;)
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/blok-haus/') &Bcy;&lcy;&ocy;&kcy; &KHcy;&acy;&ucy;&scy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/imitaciya-brusa/') &Icy;&mcy;&icy;&tcy;&acy;&tscy;&icy;&yacy; &bcy;&rcy;&ucy;&scy;&acy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/doska-pola-hvoya/') &Dcy;&ocy;&scy;&kcy;&acy; &pcy;&ocy;&lcy;&acy; &shcy;&pcy;&ucy;&ncy;&tcy;&ocy;&vcy;&acy;&ncy;&ncy;&acy;&yacy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/terrasnaya-doska-listvennica/') &Tcy;&iecy;&rcy;&rcy;&acy;&scy;&ncy;&acy;&yacy; &dcy;&ocy;&scy;&kcy;&acy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/planken/') &Pcy;&lcy;&acy;&ncy;&kcy;&iecy;&ncy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/palubnaya-doska/') &Pcy;&acy;&lcy;&ucy;&bcy;&ncy;&acy;&yacy; &dcy;&ocy;&scy;&kcy;&acy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/polok/') &Pcy;&ocy;&lcy;&ocy;&kcy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/brus-i-doska-suhie-strogannye/') &Bcy;&rcy;&ucy;&scy; &icy; &Dcy;&ocy;&scy;&kcy;&acy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/brevno-ocilindrovannoe/') &Bcy;&rcy;&iecy;&vcy;&ncy;&ocy; &ocy;&tscy;&icy;&lcy;&icy;&ncy;&dcy;&rcy;&ocy;&vcy;&acy;&ncy;&ncy;&ocy;&iecy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/derevianniy-dekor/') &Dcy;&iecy;&rcy;&iecy;&vcy;&yacy;&ncy;&ncy;&ycy;&jcy; &dcy;&iecy;&kcy;&ocy;&rcy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/elementy-lestnic/') &Ecy;&lcy;&iecy;&mcy;&iecy;&ncy;&tcy;&ycy; &lcy;&iecy;&scy;&tcy;&ncy;&icy;&tscy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/dveri-i-okna/') &Dcy;&vcy;&iecy;&rcy;&icy; &icy; &ocy;&kcy;&ncy;&acy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/fanera-osb-dsp-dvp-tssp/') &Fcy;&acy;&ncy;&iecy;&rcy;&acy;, &Ocy;&Scy;&Bcy;, &Dcy;&Scy;&Pcy;, &Dcy;&Vcy;&Pcy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/utepliteli/') &Ucy;&tcy;&iecy;&pcy;&lcy;&icy;&tcy;&iecy;&lcy;&icy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/rulonnie-izoliyzionnie-materialy/') &Rcy;&ucy;&lcy;&ocy;&ncy;&ncy;&ycy;&iecy; &icy;&zcy;&ocy;&lcy;&yacy;&tscy;&icy;&ocy;&ncy;&ncy;&ycy;&iecy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&ycy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/propitki-dlya-drevesiny/') &Pcy;&rcy;&ocy;&pcy;&icy;&tcy;&kcy;&icy; &dcy;&lcy;&yacy; &dcy;&rcy;&iecy;&vcy;&iecy;&scy;&icy;&ncy;&ycy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/derevyannye-igrushki/') &Pcy;&ocy;&scy;&tcy;&rcy;&ocy;&jcy;&kcy;&icy; &icy; &dcy;&iecy;&rcy;&iecy;&vcy;&yacy;&ncy;&ncy;&ycy;&iecy; &icy;&gcy;&rcy;&ucy;&shcy;&kcy;&icy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/karkasnye-minibani/') &Kcy;&acy;&rcy;&kcy;&acy;&scy;&ncy;&ycy;&iecy; &mcy;&icy;&ncy;&icy;&bcy;&acy;&ncy;&icy;
            li.menu-item.current
              a(href='https://vagonka-brus-doska.ru/catalog/rasprodazha/') &Rcy;&Acy;&Scy;&Pcy;&Rcy;&Ocy;&Dcy;&Acy;&ZHcy;&Acy;
  section.section.section-first
    .container
      .page-head
        .breadcrumbs.breadcrumbs--lk
          a(href='') &Gcy;&Lcy;&Acy;&Vcy;&Ncy;&Acy;&YAcy;
          span.sep
          a(href='') &Kcy;&Acy;&Tcy;&Acy;&Lcy;&Ocy;&Gcy;
          span.sep
      .content-block
        span.h1 &Scy;&rcy;&acy;&vcy;&ncy;&iecy;&ncy;&icy;&iecy; &tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy; 
        span.comparison-category__title &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&icy; (2)
        // ЭТО НОВЫЙ ФИЛЬТР
        .comparison__block
          label
            input(type='radio' name='comparison__filter')
            span &Ucy;&tcy;&iecy;&pcy;&lcy;&iecy;&ncy;&icy;&iecy;
          label
            input(type='radio' name='comparison__filter')
            span &Icy;&zcy;&ocy;&lcy;&yacy;&tscy;&icy;&yacy;
          label
            input(type='radio' name='comparison__filter')
            span &Vcy;&ocy;&dcy;&ocy;&scy;&tcy;&ocy;&chcy;&ncy;&ycy;&iecy; &icy; &dcy;&rcy;&iecy;&ncy;&acy;&zhcy;&ncy;&ycy;&iecy; &scy;&icy;&scy;&tcy;&iecy;&mcy;&ycy;
          label
            input(type='radio' name='comparison__filter')
            span &Kcy;&rcy;&ocy;&vcy;&lcy;&yacy;
        // ---
        .comparison
          .comparison__side
            // ЭТО СТАРЫЙ ФИЛЬТР, ЕГО МОЖНО УДАЛИТЬ
            //
              <div class="comparison-category">
              <div class="form-group form-group--margin-small">
              <select name="characters" class="custom-select" tabindex="-1" id="select-name">
              <option value="leo" selected>Фанера</option>
              <option value="raph">Фанера</option>
              <option value="red">Фанера</option>
              <option value="pink">Фанера</option>
              </select>
              </div>
              </div>
            .comparison__side-content
              span.comparison-category__title &Pcy;&ocy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &pcy;&acy;&rcy;&acy;&mcy;&iecy;&tcy;&rcy;&ycy;
              .comparison__radios
                .radio
                  input#comparison1(type='radio' name='comparison' checked='')
                  label(for='comparison1')
                    span &Vcy;&scy;&iecy; &pcy;&acy;&rcy;&acy;&mcy;&iecy;&tcy;&rcy;&ycy;
                  .radio-content.radio-content--sm
                .radio
                  input#comparison2(type='radio' name='comparison')
                  label(for='comparison2')
                    span &Rcy;&acy;&zcy;&lcy;&icy;&chcy;&acy;&yucy;&shchcy;&icy;&iecy;&scy;&yacy;
                  .radio-content.radio-content--sm
              .comparison-product__description
                .dep-item &Bcy;&rcy;&iecy;&ncy;&dcy;
                .dep-item.dep-item--text
                  p &Scy;&ocy;&rcy;&tcy;
                .dep-item &Tcy;&iecy;&kcy;&scy;&tcy;&ocy;&vcy;&ocy;&iecy; &pcy;&ocy;&lcy;&iecy;
                .dep-item &Pcy;&acy;&rcy;&acy;&mcy;&iecy;&tcy;&rcy; &scy; &pcy;&rcy;&ocy;&chcy;&iecy;&rcy;&kcy;&ocy;&mcy;
                .dep-item &Vcy;&iecy;&scy; (&lcy;&icy;&scy;&tcy;), &kcy;&gcy;
                .dep-item &Mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;
          .comparison__content
            // КЛАСС item__fixed-height ДАЕТ ФИКСИРОВАННУЮ ВЫСОТУ ТОВАРАМ В САЛЙДЕРЕ, ЧТОБЫ НИЖНЫЕ ПАРАМЕТРИ С ЛЕВА И ТО ЧТО В ТОВАРЕ БЫЛИ НА ОДНОМ ЛИНИИ
            .slider-constructor.item__fixed-height.product-slider--full(data-slides='2' data-md-slides='2' data-lg-slides='3' data-xl-slides='4' data-adaptive-height='')
              // 1
              .item
                .product-item-comparison
                  .product-item-comparison__top-mobile
                  .product-card-v2.product-card-v2_type-1(data-custom-interaction='data-custom-interaction')
                    a.product-card-v2__link(href='#')
                    .product-card-v2__image
                      .image.image_contain
                        img(src='../images/b49c856cb0b15abac9a63bda5f241eff.jpeg' alt='image')
                        img(src='../images/test.jpg' alt='image')
                      .product-card-v2__rating
                        img.product-card-v2__rating-stars(src='../images/icons/rating.svg' alt='image')
                      .product-card-v2__labels
                        .card-label.card-label_style-sale.product-card-v2__label
                          | &Rcy;&acy;&scy;&pcy;&rcy;&ocy;&dcy;&acy;&zhcy;&acy;
                        .card-label.card-label_style-hit.product-card-v2__label
                          | &KHcy;&icy;&tcy;
                    .product-card-v2__content
                      .product-card-v2__title
                        | &Fcy;&acy;&ncy;&iecy;&rcy;&acy; &vcy;&lcy;&acy;&gcy;&ocy;&scy;&tcy;&ocy;&jcy;&kcy;&acy;&yacy; 12x2500&khcy;1250 mm
                      .product-card-v2__content-bottom
                        .product-card-v2__pricing
                          .product-card-v2__old-price
                            | 99 999,99
                          .product-card-v2__price.text-color-accent
                            | 92986,50
                            span &#x20BD;/&shcy;&tcy;.
                          .product-card-v2__pricing-txt
                            | &TScy;&iecy;&ncy;&acy; &scy;&ocy; &scy;&kcy;&icy;&ncy;&dcy;&kcy;&ocy;&jcy; &chcy;&iecy;&rcy;&iecy;&zcy; &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&ucy;:
                          .product-card-v2__price
                            | 89537,50 
                            span &#x20BD;/&shcy;&tcy;.
                        .product-card-v2__buttons
                          button.button.button_style-2.button_xl.product-card-v2__cart-button.button-theme.button-theme_primary
                            svg.icon
                              use(xlink:href='#shopping-cart')
                            span
                              span &Mcy;&ncy;&ocy;&gcy;&ocy; &tcy;&ocy;&vcy;&acy;&rcy;&acy;
                              span &Vcy; &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&ucy;
                  .product-item-comparison__bottom-mobile
                  .comparison-delete
                    a.btn-border.btn-border--delete(href='')
                      span.icon
                        span.icon-svg
                          svg.icon
                            use(xlink:href='#comparison-delete')
                      | &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
                  .comparison-product
                    .comparison-product__description
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             Kronospan
                      .dep-item.dep-item--text
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        p
                          | &Pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy; &ocy;&bcy;&shcy;&icy;&vcy;&kcy;&icy; &scy;&tcy;&iecy;&ncy;, &pcy;&ocy;&tcy;&ocy;&lcy;&kcy;&ocy;&vcy;,
                          | &pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&kcy;, &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &ncy;&acy;&scy;&tcy;&icy;&lcy;&acy; &pcy;&ocy;&dcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy;
                          | &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;, &dcy;&lcy;&yacy; &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&icy;, &dcy;&lcy;&yacy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &tcy;&acy;&rcy;&ycy; &icy;
                          | &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&icy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &vcy; &mcy;&iecy;&bcy;&iecy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;.
                          | &Pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy; &ocy;&bcy;&shcy;&icy;&vcy;&kcy;&icy; &scy;&tcy;&iecy;&ncy;, &pcy;&ocy;&tcy;&ocy;&lcy;&kcy;&ocy;&vcy;,
                          | &pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&kcy;, &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &ncy;&acy;&scy;&tcy;&icy;&lcy;&acy; &pcy;&ocy;&dcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy;
                          | &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;, &dcy;&lcy;&yacy; &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&icy;, &dcy;&lcy;&yacy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &tcy;&acy;&rcy;&ycy; &icy;
                          | &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&icy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &vcy; &mcy;&iecy;&bcy;&iecy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;.
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             II
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             &mdash;
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             1,5
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             &Bcy;&iecy;&rcy;&iecy;&zcy;&acy;
              // 1 (Другой вариант)
              .item
                .product-item-comparison
                  .product-item-comparison__top-mobile
                  a.product-item-comparison__link(href='')
                    span.product-item-comparison__image
                      img(src='../images/image 35.jpg' alt='')
                      span.product-item-comparison__flag.product-item-comparison__flag--hit &KHcy;&icy;&tcy;
                      span.product-item-comparison__img-text &Ecy;&kcy;&ocy;&ncy;&ocy;&mcy;
                    span.product-item-comparison__content-top
                      span.product-item-comparison__head
                        span.product-item-comparison__art 20464111
                        span.product-item-comparison__rating
                          span.star.star--full
                          span.star.star--full
                          span.star.star--full
                          span.star.star--half
                          span.star.star--empty
                      span.product-item-comparison__name
                        | &Fcy;&acy;&ncy;&iecy;&rcy;&acy; &vcy;&lcy;&acy;&gcy;&ocy;&scy;&tcy;&ocy;&jcy;&kcy;&acy;&yacy; 12x2500&khcy;1250 &mcy;&mcy; (&iecy;&vcy;&rcy;&ocy;&pcy;&iecy;&jcy;&scy;&kcy;&icy;&jcy;
                        | &scy;&tcy;&acy;&ncy;&dcy;&acy;&rcy;&tcy;) &Fcy;&acy;&ncy;&iecy;&rcy;&acy; &vcy;&lcy;&acy;&gcy;&ocy;&scy;&tcy;&ocy;&jcy;&kcy;&acy;&yacy; 12x2500&khcy;1250 &mcy;&mcy;
                        | (&iecy;&vcy;&rcy;&ocy;&pcy;&iecy;&jcy;&scy;&kcy;&icy;&jcy; &scy;&tcy;&acy;&ncy;&dcy;&acy;&rcy;&tcy;) &Fcy;&acy;&ncy;&iecy;&rcy;&acy; &vcy;&lcy;&acy;&gcy;&ocy;&scy;&tcy;&ocy;&jcy;&kcy;&acy;&yacy;
                        | 12x2500&khcy;1250 &mcy;&mcy; (&iecy;&vcy;&rcy;&ocy;&pcy;&iecy;&jcy;&scy;&kcy;&icy;&jcy; &scy;&tcy;&acy;&ncy;&dcy;&acy;&rcy;&tcy;) &Fcy;&acy;&ncy;&iecy;&rcy;&acy;
                        | &vcy;&lcy;&acy;&gcy;&ocy;&scy;&tcy;&ocy;&jcy;&kcy;&acy;&yacy; 12x2500&khcy;1250 &mcy;&mcy; (&iecy;&vcy;&rcy;&ocy;&pcy;&iecy;&jcy;&scy;&kcy;&icy;&jcy;
                        | &scy;&tcy;&acy;&ncy;&dcy;&acy;&rcy;&tcy;)
                      span.product-item-comparison__cost
                        span.product-item-comparison__cost-title &TScy;&iecy;&ncy;&acy;, &shcy;&tcy;.:
                        | 89 537,50 &#x20BD; 
                        span 99 999,99 &#x20BD;
                      span.product-item-comparison__status.product-item-comparison__status--limited &Ocy;&gcy;&rcy;&acy;&ncy;&icy;&chcy;&iecy;&ncy;&ocy;
                  .product-item-comparison__content-bottom
                    .product-item-comparison__btns
                      .shopping-cart-product
                        .input-number
                          .order-down
                          input#number(type='number' min='0' step='1' value='1' required='')
                          .order-up
                        a.shopping-cart-btn(href='')
                  .product-item-comparison__bottom-mobile
                  .comparison-delete
                    a.btn-border.btn-border--delete(href='')
                      span.icon
                        span.icon-svg
                          svg.icon
                            use(xlink:href='#comparison-delete')
                      | &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
                  .comparison-product
                    .comparison-product__description
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             Kronospan
                      .dep-item.dep-item--text
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        p
                          | &Pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy; &ocy;&bcy;&shcy;&icy;&vcy;&kcy;&icy; &scy;&tcy;&iecy;&ncy;, &pcy;&ocy;&tcy;&ocy;&lcy;&kcy;&ocy;&vcy;,
                          | &pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&kcy;, &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &ncy;&acy;&scy;&tcy;&icy;&lcy;&acy; &pcy;&ocy;&dcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy;
                          | &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;, &dcy;&lcy;&yacy; &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&icy;, &dcy;&lcy;&yacy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &tcy;&acy;&rcy;&ycy; &icy;
                          | &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&icy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &vcy; &mcy;&iecy;&bcy;&iecy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;.
                          | &Pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy; &ocy;&bcy;&shcy;&icy;&vcy;&kcy;&icy; &scy;&tcy;&iecy;&ncy;, &pcy;&ocy;&tcy;&ocy;&lcy;&kcy;&ocy;&vcy;,
                          | &pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&kcy;, &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &ncy;&acy;&scy;&tcy;&icy;&lcy;&acy; &pcy;&ocy;&dcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy;
                          | &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;, &dcy;&lcy;&yacy; &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&icy;, &dcy;&lcy;&yacy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &tcy;&acy;&rcy;&ycy; &icy;
                          | &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&icy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &vcy; &mcy;&iecy;&bcy;&iecy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;.
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             II
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             &mdash;
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             1,5
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             &Bcy;&iecy;&rcy;&iecy;&zcy;&acy;
              // 2
              .item
                .product-item-comparison
                  .product-item-comparison__top-mobile
                  .product-card-v2.product-card-v2_type-1(data-custom-interaction='data-custom-interaction')
                    a.product-card-v2__link(href='#')
                    .product-card-v2__image
                      .image.image_contain
                        img(src='../images/b49c856cb0b15abac9a63bda5f241eff.jpeg' alt='image')
                        img(src='../images/test.jpg' alt='image')
                      .product-card-v2__rating
                        img.product-card-v2__rating-stars(src='../images/icons/rating.svg' alt='image')
                      .product-card-v2__labels
                        .card-label.card-label_style-stock.product-card-v2__label
                          | &Ucy;&tscy;&iecy;&ncy;&kcy;&acy;
                    .product-card-v2__content
                      .product-card-v2__title
                        | &Fcy;&acy;&ncy;&iecy;&rcy;&acy; &vcy;&lcy;&acy;&gcy;&ocy;&scy;&tcy;&ocy;&jcy;&kcy;&acy;&yacy; 12x2500&khcy;1250 &mcy;&mcy; (&dcy;&lcy;&icy;&ncy;&ncy;&ocy;&iecy;
                        | &ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy; &tcy;&ocy;&vcy;&acy;&rcy;&acy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&iecy; &ncy;&iecy; &vcy;&lcy;&iecy;&zcy;&acy;&iecy;&tcy;)
                      .product-card-v2__content-bottom
                        .product-card-v2__pricing
                          .product-card-v2__pricing-txt
                            | &Pcy;&ocy;&scy;&lcy;&iecy;&dcy;&ncy;&icy;&jcy; &rcy;&acy;&zcy; &tcy;&ocy;&vcy;&acy;&rcy; &bcy;&ycy;&lcy; &pcy;&rcy;&ocy;&dcy;&acy;&ncy; &pcy;&ocy; &ecy;&tcy;&ocy;&jcy; &tscy;&iecy;&ncy;&iecy;:
                          .product-card-v2__price.text-color-light
                            | 89537,50
                            span &#x20BD;/&shcy;&tcy;.
                        .product-card-v2__buttons
                          button.button.button_disabled.button_xl.product-card-v2__cart-button.button-theme.button-theme_muted
                            span
                              span &Tcy;&ocy;&vcy;&acy;&rcy; &ocy;&zhcy;&icy;&dcy;&acy;&iecy;&tcy;&scy;&yacy; 
                              span &ucy;&zcy;&ncy;&acy;&tcy;&softcy; &ocy; &ncy;&acy;&lcy;&icy;&chcy;&icy;&icy;
                  .product-item-comparison__bottom-mobile
                  .comparison-delete
                    a.btn-border.btn-border--delete(href='')
                      span.icon
                        span.icon-svg
                          svg.icon
                            use(xlink:href='#comparison-delete')
                      | &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
                  .comparison-product
                    .comparison-product__description
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             Kronospan
                      .dep-item.dep-item--text
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        p
                          | &Pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy; &ocy;&bcy;&shcy;&icy;&vcy;&kcy;&icy; &scy;&tcy;&iecy;&ncy;, &pcy;&ocy;&tcy;&ocy;&lcy;&kcy;&ocy;&vcy;,
                          | &pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&kcy;, &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &ncy;&acy;&scy;&tcy;&icy;&lcy;&acy; &pcy;&ocy;&dcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy;
                          | &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;, &dcy;&lcy;&yacy; &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&icy;, &dcy;&lcy;&yacy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &tcy;&acy;&rcy;&ycy; &icy;
                          | &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&icy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &vcy; &mcy;&iecy;&bcy;&iecy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;.
                          | &Pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy; &ocy;&bcy;&shcy;&icy;&vcy;&kcy;&icy; &scy;&tcy;&iecy;&ncy;, &pcy;&ocy;&tcy;&ocy;&lcy;&kcy;&ocy;&vcy;,
                          | &pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&kcy;, &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &ncy;&acy;&scy;&tcy;&icy;&lcy;&acy; &pcy;&ocy;&dcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy;
                          | &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;, &dcy;&lcy;&yacy; &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&icy;, &dcy;&lcy;&yacy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &tcy;&acy;&rcy;&ycy; &icy;
                          | &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&icy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &vcy; &mcy;&iecy;&bcy;&iecy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;.
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             II
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             &mdash;
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             1,5
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             &Bcy;&iecy;&rcy;&iecy;&zcy;&acy;
              // 3
              .item
                .product-item-comparison
                  .product-item-comparison__top-mobile
                  .product-card-v2.product-card-v2_type-1(data-custom-interaction='data-custom-interaction')
                    a.product-card-v2__link(href='#')
                    .product-card-v2__image
                      .image.image_contain.image_no-image
                        img(src='../images/icons/product-placeholder.svg' alt='image')
                      .product-card-v2__rating
                        img.product-card-v2__rating-stars(src='../images/icons/rating.svg' alt='image')
                    .product-card-v2__content
                      .product-card-v2__title
                        | &Fcy;&acy;&ncy;&iecy;&rcy;&acy; &vcy;&lcy;&acy;&gcy;&ocy;&scy;&tcy;&ocy;&jcy;&kcy;&acy;&yacy;
                      .product-card-v2__content-bottom
                        .product-card-v2__buttons
                          button.button.button_style-1.button_xl.product-card-v2__button.button-theme.button-theme_secondary
                            span &Ucy;&zcy;&ncy;&acy;&tcy;&softcy; &scy;&tcy;&ocy;&icy;&mcy;&ocy;&scy;&tcy;&softcy;
                  .product-item-comparison__bottom-mobile
                  .comparison-delete
                    a.btn-border.btn-border--delete(href='')
                      span.icon
                        span.icon-svg
                          svg.icon
                            use(xlink:href='#comparison-delete')
                      | &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
                  .comparison-product
                    .comparison-product__description
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             Kronospan
                      .dep-item.dep-item--text
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        p
                          | &Pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy; &ocy;&bcy;&shcy;&icy;&vcy;&kcy;&icy; &scy;&tcy;&iecy;&ncy;, &pcy;&ocy;&tcy;&ocy;&lcy;&kcy;&ocy;&vcy;,
                          | &pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&kcy;, &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &ncy;&acy;&scy;&tcy;&icy;&lcy;&acy; &pcy;&ocy;&dcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy;
                          | &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;, &dcy;&lcy;&yacy; &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&icy;, &dcy;&lcy;&yacy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &tcy;&acy;&rcy;&ycy; &icy;
                          | &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&icy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &vcy; &mcy;&iecy;&bcy;&iecy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;.
                          | &Pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy; &ocy;&bcy;&shcy;&icy;&vcy;&kcy;&icy; &scy;&tcy;&iecy;&ncy;, &pcy;&ocy;&tcy;&ocy;&lcy;&kcy;&ocy;&vcy;,
                          | &pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&kcy;, &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &ncy;&acy;&scy;&tcy;&icy;&lcy;&acy; &pcy;&ocy;&dcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy;
                          | &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;, &dcy;&lcy;&yacy; &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&icy;, &dcy;&lcy;&yacy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &tcy;&acy;&rcy;&ycy; &icy;
                          | &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&icy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &vcy; &mcy;&iecy;&bcy;&iecy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;.
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             II
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             &mdash;
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             1,5
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             &Bcy;&iecy;&rcy;&iecy;&zcy;&acy;
              // 1
              .item
                .product-item-comparison
                  .product-item-comparison__top-mobile
                  .product-card-v2.product-card-v2_type-1(data-custom-interaction='data-custom-interaction')
                    a.product-card-v2__link(href='#')
                    .product-card-v2__image
                      .image.image_contain
                        img(src='../images/b49c856cb0b15abac9a63bda5f241eff.jpeg' alt='image')
                        img(src='../images/test.jpg' alt='image')
                      .product-card-v2__rating
                        img.product-card-v2__rating-stars(src='../images/icons/rating.svg' alt='image')
                      .product-card-v2__labels
                        .card-label.card-label_style-sale.product-card-v2__label
                          | &Rcy;&acy;&scy;&pcy;&rcy;&ocy;&dcy;&acy;&zhcy;&acy;
                        .card-label.card-label_style-hit.product-card-v2__label
                          | &KHcy;&icy;&tcy;
                    .product-card-v2__content
                      .product-card-v2__title
                        | &Fcy;&acy;&ncy;&iecy;&rcy;&acy; &vcy;&lcy;&acy;&gcy;&ocy;&scy;&tcy;&ocy;&jcy;&kcy;&acy;&yacy; 12x2500&khcy;1250 mm
                      .product-card-v2__content-bottom
                        .product-card-v2__pricing
                          .product-card-v2__old-price
                            | 99 999,99
                          .product-card-v2__price.text-color-accent
                            | 92986,50
                            span &#x20BD;/&shcy;&tcy;.
                          .product-card-v2__pricing-txt
                            | &TScy;&iecy;&ncy;&acy; &scy;&ocy; &scy;&kcy;&icy;&ncy;&dcy;&kcy;&ocy;&jcy; &chcy;&iecy;&rcy;&iecy;&zcy; &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&ucy;:
                          .product-card-v2__price
                            | 89537,50 
                            span &#x20BD;/&shcy;&tcy;.
                        .product-card-v2__buttons
                          button.button.button_style-2.button_xl.product-card-v2__cart-button.button-theme.button-theme_primary
                            svg.icon
                              use(xlink:href='#shopping-cart')
                            span
                              span &Mcy;&ncy;&ocy;&gcy;&ocy; &tcy;&ocy;&vcy;&acy;&rcy;&acy;
                              span &Vcy; &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&ucy;
                  .product-item-comparison__bottom-mobile
                  .comparison-delete
                    a.btn-border.btn-border--delete(href='')
                      span.icon
                        span.icon-svg
                          svg.icon
                            use(xlink:href='#comparison-delete')
                      | &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
                  .comparison-product
                    .comparison-product__description
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             Kronospan
                      .dep-item.dep-item--text
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        p
                          | &Pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy; &ocy;&bcy;&shcy;&icy;&vcy;&kcy;&icy; &scy;&tcy;&iecy;&ncy;, &pcy;&ocy;&tcy;&ocy;&lcy;&kcy;&ocy;&vcy;,
                          | &pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&kcy;, &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &ncy;&acy;&scy;&tcy;&icy;&lcy;&acy; &pcy;&ocy;&dcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy;
                          | &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;, &dcy;&lcy;&yacy; &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&icy;, &dcy;&lcy;&yacy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &tcy;&acy;&rcy;&ycy; &icy;
                          | &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&icy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &vcy; &mcy;&iecy;&bcy;&iecy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;.
                          | &Pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy; &ocy;&bcy;&shcy;&icy;&vcy;&kcy;&icy; &scy;&tcy;&iecy;&ncy;, &pcy;&ocy;&tcy;&ocy;&lcy;&kcy;&ocy;&vcy;,
                          | &pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&kcy;, &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &ncy;&acy;&scy;&tcy;&icy;&lcy;&acy; &pcy;&ocy;&dcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy;
                          | &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;, &dcy;&lcy;&yacy; &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&icy;, &dcy;&lcy;&yacy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &tcy;&acy;&rcy;&ycy; &icy;
                          | &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&icy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &vcy; &mcy;&iecy;&bcy;&iecy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;.
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             II
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             &mdash;
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             1,5
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             &Bcy;&iecy;&rcy;&iecy;&zcy;&acy;
              // 2
              .item
                .product-item-comparison
                  .product-item-comparison__top-mobile
                  .product-card-v2.product-card-v2_type-1(data-custom-interaction='data-custom-interaction')
                    a.product-card-v2__link(href='#')
                    .product-card-v2__image
                      .image.image_contain
                        img(src='../images/b49c856cb0b15abac9a63bda5f241eff.jpeg' alt='image')
                        img(src='../images/test.jpg' alt='image')
                      .product-card-v2__rating
                        img.product-card-v2__rating-stars(src='../images/icons/rating.svg' alt='image')
                      .product-card-v2__labels
                        .card-label.card-label_style-stock.product-card-v2__label
                          | &Ucy;&tscy;&iecy;&ncy;&kcy;&acy;
                    .product-card-v2__content
                      .product-card-v2__title
                        | &Fcy;&acy;&ncy;&iecy;&rcy;&acy; &vcy;&lcy;&acy;&gcy;&ocy;&scy;&tcy;&ocy;&jcy;&kcy;&acy;&yacy; 12x2500&khcy;1250 &mcy;&mcy; (&dcy;&lcy;&icy;&ncy;&ncy;&ocy;&iecy;
                        | &ncy;&acy;&zcy;&vcy;&acy;&ncy;&icy;&iecy; &tcy;&ocy;&vcy;&acy;&rcy;&acy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ocy;&iecy; &ncy;&iecy; &vcy;&lcy;&iecy;&zcy;&acy;&iecy;&tcy;)
                      .product-card-v2__content-bottom
                        .product-card-v2__pricing
                          .product-card-v2__pricing-txt
                            | &Pcy;&ocy;&scy;&lcy;&iecy;&dcy;&ncy;&icy;&jcy; &rcy;&acy;&zcy; &tcy;&ocy;&vcy;&acy;&rcy; &bcy;&ycy;&lcy; &pcy;&rcy;&ocy;&dcy;&acy;&ncy; &pcy;&ocy; &ecy;&tcy;&ocy;&jcy; &tscy;&iecy;&ncy;&iecy;:
                          .product-card-v2__price.text-color-light
                            | 89537,50
                            span &#x20BD;/&shcy;&tcy;.
                        .product-card-v2__buttons
                          button.button.button_disabled.button_xl.product-card-v2__cart-button.button-theme.button-theme_muted
                            span
                              span &Tcy;&ocy;&vcy;&acy;&rcy; &ocy;&zhcy;&icy;&dcy;&acy;&iecy;&tcy;&scy;&yacy; 
                              span &ucy;&zcy;&ncy;&acy;&tcy;&softcy; &ocy; &ncy;&acy;&lcy;&icy;&chcy;&icy;&icy;
                  .product-item-comparison__bottom-mobile
                  .comparison-delete
                    a.btn-border.btn-border--delete(href='')
                      span.icon
                        span.icon-svg
                          svg.icon
                            use(xlink:href='#comparison-delete')
                      | &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
                  .comparison-product
                    .comparison-product__description
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             Kronospan
                      .dep-item.dep-item--text
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        p
                          | &Pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy; &ocy;&bcy;&shcy;&icy;&vcy;&kcy;&icy; &scy;&tcy;&iecy;&ncy;, &pcy;&ocy;&tcy;&ocy;&lcy;&kcy;&ocy;&vcy;,
                          | &pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&kcy;, &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &ncy;&acy;&scy;&tcy;&icy;&lcy;&acy; &pcy;&ocy;&dcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy;
                          | &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;, &dcy;&lcy;&yacy; &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&icy;, &dcy;&lcy;&yacy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &tcy;&acy;&rcy;&ycy; &icy;
                          | &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&icy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &vcy; &mcy;&iecy;&bcy;&iecy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;.
                          | &Pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy; &ocy;&bcy;&shcy;&icy;&vcy;&kcy;&icy; &scy;&tcy;&iecy;&ncy;, &pcy;&ocy;&tcy;&ocy;&lcy;&kcy;&ocy;&vcy;,
                          | &pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&kcy;, &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &ncy;&acy;&scy;&tcy;&icy;&lcy;&acy; &pcy;&ocy;&dcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy;
                          | &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;, &dcy;&lcy;&yacy; &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&icy;, &dcy;&lcy;&yacy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &tcy;&acy;&rcy;&ycy; &icy;
                          | &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&icy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &vcy; &mcy;&iecy;&bcy;&iecy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;.
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             II
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             &mdash;
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             1,5
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             &Bcy;&iecy;&rcy;&iecy;&zcy;&acy;
              // 3
              .item
                .product-item-comparison
                  .product-item-comparison__top-mobile
                  .product-card-v2.product-card-v2_type-1(data-custom-interaction='data-custom-interaction')
                    a.product-card-v2__link(href='#')
                    .product-card-v2__image
                      .image.image_contain.image_no-image
                        img(src='../images/icons/product-placeholder.svg' alt='image')
                      .product-card-v2__rating
                        img.product-card-v2__rating-stars(src='../images/icons/rating.svg' alt='image')
                    .product-card-v2__content
                      .product-card-v2__title
                        | &Fcy;&acy;&ncy;&iecy;&rcy;&acy; &vcy;&lcy;&acy;&gcy;&ocy;&scy;&tcy;&ocy;&jcy;&kcy;&acy;&yacy;
                      .product-card-v2__content-bottom
                        .product-card-v2__buttons
                          button.button.button_style-1.button_xl.product-card-v2__button.button-theme.button-theme_secondary
                            span &Ucy;&zcy;&ncy;&acy;&tcy;&softcy; &scy;&tcy;&ocy;&icy;&mcy;&ocy;&scy;&tcy;&softcy;
                  .product-item-comparison__bottom-mobile
                  .comparison-delete
                    a.btn-border.btn-border--delete(href='')
                      span.icon
                        span.icon-svg
                          svg.icon
                            use(xlink:href='#comparison-delete')
                      | &Ucy;&dcy;&acy;&lcy;&icy;&tcy;&softcy;
                  .comparison-product
                    .comparison-product__description
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             Kronospan
                      .dep-item.dep-item--text
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        p
                          | &Pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy; &ocy;&bcy;&shcy;&icy;&vcy;&kcy;&icy; &scy;&tcy;&iecy;&ncy;, &pcy;&ocy;&tcy;&ocy;&lcy;&kcy;&ocy;&vcy;,
                          | &pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&kcy;, &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &ncy;&acy;&scy;&tcy;&icy;&lcy;&acy; &pcy;&ocy;&dcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy;
                          | &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;, &dcy;&lcy;&yacy; &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&icy;, &dcy;&lcy;&yacy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &tcy;&acy;&rcy;&ycy; &icy;
                          | &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&icy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &vcy; &mcy;&iecy;&bcy;&iecy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;.
                          | &Pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy;&acy; &dcy;&lcy;&yacy; &ocy;&bcy;&shcy;&icy;&vcy;&kcy;&icy; &scy;&tcy;&iecy;&ncy;, &pcy;&ocy;&tcy;&ocy;&lcy;&kcy;&ocy;&vcy;,
                          | &pcy;&iecy;&rcy;&iecy;&gcy;&ocy;&rcy;&ocy;&dcy;&ocy;&kcy;, &vcy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&iecy; &ncy;&acy;&scy;&tcy;&icy;&lcy;&acy; &pcy;&ocy;&dcy; &ncy;&acy;&pcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy;
                          | &pcy;&ocy;&kcy;&rcy;&ycy;&tcy;&icy;&yacy;, &dcy;&lcy;&yacy; &ocy;&pcy;&acy;&lcy;&ucy;&bcy;&kcy;&icy;, &dcy;&lcy;&yacy; &icy;&zcy;&gcy;&ocy;&tcy;&ocy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy; &tcy;&acy;&rcy;&ycy; &icy;
                          | &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&kcy;&icy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy; &vcy; &mcy;&iecy;&bcy;&iecy;&lcy;&softcy;&ncy;&ocy;&mcy; &pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&iecy;.
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             II
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             &mdash;
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             1,5
                      .dep-item
                        span.dep-item__mobile-title &Bcy;&rcy;&iecy;&ncy;&dcy;
                        |                             &Bcy;&iecy;&rcy;&iecy;&zcy;&acy;
  section.section-dark.feedback-form
    .container
      #question-main.question-main
        .question-form
          span.content-title.center.h2 &Ocy;&scy;&tcy;&acy;&lcy;&icy;&scy;&softcy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;?
          form#feedback-message-request-form(action='/crm/message/' method='post')
            input(type='hidden' name='csrfmiddlewaretoken' value='WwB6ZXS83VuYP0PmIstLZgczmIM5DdefM2YaEFI5dCRJPl3Wlqy2tHiO0TbhwDZ9')
            .question-form__column
              .form-group
                input.form-control(type='text' name='name' autocomplete='off' required='')
                label.label-name(for='name')
                  span.content-name  &Icy;&mcy;&yacy;* 
              .form-group
                input.form-control.phone(type='phone' name='phone' autocomplete='off' required='')
                label.label-name(for='phone')
                  span.content-name  &Tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy; 
              .form-group
                input.form-control(type='mail' name='email' autocomplete='off' required='')
                label.label-name(for='text')
                  span.content-name  e-mail 
            .question-form__column
              .form-group
                textarea.form-control(name='message' autocomplete='off' required='')
                label.label-name(for='message')
                  span.content-name  &Kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&jcy; 
              input#id_url(type='hidden' name='url')
              button.btn.btn--main-min(type='submit')
                | &Ocy;&tcy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy;
          p
            | &Ncy;&acy;&zhcy;&icy;&mcy;&acy;&yacy; &ncy;&acy; &kcy;&ncy;&ocy;&pcy;&kcy;&ucy;, &vcy;&ycy; &dcy;&acy;&iecy;&tcy;&iecy; &scy;&ocy;&gcy;&lcy;&acy;&scy;&icy;&iecy; &ncy;&acy; &ocy;&bcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&ucy; &pcy;&iecy;&rcy;&scy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy;
            | &dcy;&acy;&ncy;&ncy;&ycy;&khcy; &icy; &scy;&ocy;&gcy;&lcy;&acy;&shcy;&acy;&iecy;&tcy;&iecy;&scy;&softcy; &scy; &ncy;&acy;&shcy;&iecy;&jcy; &pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&ocy;&jcy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;



include ../sections/footer/index.pug