<div class="search-modal-window">
  <div class="search-modal-window__header">
    <div class="container">
      <div class="g-row search-modal-window__row">
        <form class="search-modal-window__input-form">
          <input data-clear-input="search-menu" name="q" data-min-chars="3" data-search-url="/search" value
            autocomplete="off" data-search-input="search-modal" class="search-modal-window__input" type="text">
          <button data-clear-input-button="search-menu" type="button" data-clear-input
            class="search-modal-window__clear-input"><svg width="9" height="9" viewBox="0 0 9 9" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M1 8L7.99998 1" stroke="#E5E5EA" stroke-width="0.991667" stroke-linecap="round" />
              <path d="M8 8L1 1" stroke="#E5E5EA" stroke-width="0.991667" stroke-linecap="round" />
            </svg>
          </button>
        </form>
        <button type="button" data-close-search-modal class="g-link search-modal-window__cancel">Отмена</button>
      </div>
    </div>
  </div>
  <div class="search-modal-window__search-results">
    <div class="container" data-search-results="search-modal">
      <a href="/catalog/product/tovar-1/" class="s-item-link" style="display: flex">
        <div class="s-item-info">
          <span class="s-item-title">Товар 1</span>
          <span class="s-item-price">
            1&nbsp;000,00 ₽/шт.
          </span>
        </div>
      </a>
      <a href="/catalog/product/tovar-1/" class="s-item-link" style="display: flex">
        <div class="s-item-info">
          <span class="s-item-title">Товар 1</span>
          <span class="s-item-price">
            1&nbsp;000,00 ₽/шт.
          </span>
        </div>
      </a>
      <a href="/catalog/product/tovar-1/" class="s-item-link" style="display: flex">
        <div class="s-item-img">
          <img src="http://stage.nastroyker.ru/media/stage_cache/43/e7/43e76b625aa4040e081cf0a11ffe0ca8.png"
            alt="Товар 1">
        </div>
        <div class="s-item-info">
          <span class="s-item-title">Товар 1</span>
          <span class="s-item-price">
            1&nbsp;000,00 ₽/шт.
          </span>
        </div>
      </a>
    </div>
  </div>
</div>