.menu-list
  &__item
    display: flex
    padding: 6.5px 20px
    align-items: center
  &__link
    cursor: pointer
    color: #333333
    display: inline-flex
    padding: 5px 0
    padding-right: 15px
    gap: 15px
    align-items: center
    padding-left: 0 !important
    white-space: normal !important

  &__icon
    max-width: 22px
    width: 100%
    min-width: 22px
    height: auto
