.product-item
  a.product-item__link(href='/catalog/product/doska-obreznaia-25kh100kh3000mm-gost-1sort-estestvennoi-vlazhnosti/')
    .product-item__image
      .product-item__image-inner
        img(src='http://mennanov.myjino.ru/whitebox/images/img-2.jpg' alt='Доска обрезная 25х100х3000мм ГОСТ/1сорт (естественной влажности)')
      span.product-item__flag-content  
    span.product-item__content-top
      span.product-item__head
        span.product-item__art LM00012025
      span.product-item__name
        | &Dcy;&ocy;&scy;&kcy;&acy; &ocy;&bcy;&rcy;&iecy;&zcy;&ncy;&acy;&yacy; 25&khcy;100&khcy;3000&mcy;&mcy; &Gcy;&Ocy;&Scy;&Tcy;/1&scy;&ocy;&rcy;&tcy; (&iecy;&scy;&tcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&jcy;
        | &vcy;&lcy;&acy;&zhcy;&ncy;&ocy;&scy;&tcy;&icy;)
      .product-item__status.product-item__status--many.common-status
        | &Vcy; &ncy;&acy;&lcy;&icy;&chcy;&icy;&icy;
      span.product-item__cost.with-online-price
        span.product-item__cost-product
          | 75,00
          span  &#x20BD;/&shcy;&tcy;
      span.product-item__cost.product-item__online-cost
        span.product-item__cost-product
          | 73,50
          span  &#x20BD;/&shcy;&tcy;
        span.product-item__cost-label (&ocy;&ncy;&lcy;&acy;&jcy;&ncy;)