<article class="portfolio-card">
	<a href="#" class="stretched-link"></a>
	<span class="portfolio-card-bg" style="background-image: url(../images/portfolio-1.jpg);"></span>

	<div class="portfolio-card-info">
			<span class="portfolio-card-type">Дома из бруса</span>
			<h2 class="portfolio-card-title">Туристический комплекс "Волжская ривьера"</h2>
			<span class="portfolio-card-placeholder">
					Подробнее 
					<span class="icon">
							<svg>
									<use xlink:href="#arrow-client"></use>
							</svg>
					</span>
			</span>
	</div>
</article>