<div class="catalog__links-block catalog__links-block--portfolio">
    <div class="catalog__links-item">
        <a class="catalog-item__link active" href="#">
            Все
        </a>
    </div>
    <div class="catalog__links-item">
        <a class="catalog-item__link" href="#">
            Дома из бруса
        </a>
    </div>
    <div class="catalog__links-item">
        <a class="catalog-item__link" href="#">
            Беседки
        </a>
    </div>
    <div class="catalog__links-item">
        <a class="catalog-item__link" href="#">
            Бани
        </a>
    </div>
</div>