<div class="product-haracteristic-group">
  <p class="g-title mb-20">Характеристики</p>
  <div id="collapse-2" class="collapse product-haracteristic-group__collapse">
    <div class="product-haracteristic-table__row">
      <p class="product-haracteristic-table__item-name">
        <span class="product-haracteristic-table__item-name-text">Поверхность</span>
      </p>
      <p class="product-haracteristic-table__item-value">
        не шлифованная, пример длинной записи на несколько строчек
      </p>
    </div>
    <div class="product-haracteristic-table__row">
      <p class="product-haracteristic-table__item-name">
        <span class="product-haracteristic-table__item-name-text">Количество в пачке</span>
      </p>
      <p class="product-haracteristic-table__item-value">22 листа</p>
    </div>
    <div class="product-haracteristic-table__row">
      <p class="product-haracteristic-table__item-name">
        <span class="product-haracteristic-table__item-name-text">Количество в 1 м³</span>
      </p>
      <p class="product-haracteristic-table__item-value">24</p>
    </div>
  </div>
  <button data-open-dropdown-content="" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false"
    aria-controls="collapse-2"
    class="d-md-none g-text-button g-text-button_blue product-haracteristic-group__button" type="button">
    Развернуть
  </button>
  <button data-close-dropdown-content="" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false"
    aria-controls="collapse-2" class="d-md-none d-none g-text-button product-haracteristic-group__button" type="button">
    Свернуть
  </button>
</div>