<div class="product-v1" itemscope="" itemtype="http://schema.org/Product">
  <div class="product-card g-content g-content_frameless">
    <div class="product-card__navigation">
      <a href="" class="product-card__nav-prev">
        <span class="icon">
          <svg class="icon-svg">
            <use xlink:href="#product-nav-arrow"></use>
          </svg>
        </span>
        Предыдущий товар
      </a>
      <a href="" class="product-card__nav-next">

        Следующий товар
        <span class="icon">
          <svg class="icon-svg">
            <use xlink:href="#product-nav-arrow"></use>
          </svg>
        </span>
      </a>
    </div>

    <div class="product-card__head">
      <h1 class="product-card__title" itemprop="name">Товар 1</h1>
      <span class="product-card__artikul" itemprop="sku">001</span>
    </div>
    <div class="product-card__container">
      <div class="product-card__slideshow">
        <%~ include("/components/products/templates/product-slideshow/product-slideshow.html") %>
      </div>
      <div class="product-card__content">
        <div class="product-card__left">
          <div class="product-card__static-text-wrapper">
            Кастомнное html поле
          </div>
          <%~ include("/components/products/templates/product-price-group/product-card__personal-cost.html") %>
          <div class="shopping-cart-product">
            <div class="input-number input-number--lg">
              <div class="order-down"></div>
              <input type="number" min="0" step="1" value="1" id="number" required="">
              <div class="order-up"></div>
            </div>
            <a href="/cart/add/2"
              class="shopping-cart-btn shopping-cart-btn--lg add-to-cart button-theme button-theme_cart custom-icon">
              <img class="cart-icon" src="@images/icons/shopping-cart.svg">
              В корзину
            </a>
          </div>
          <div class="product-card__btns">
            <a href="" class="btn-radius btn-radius--comparison">
              <span class="icon-svg">
                <svg class="icon">
                  <use xlink:href="#compare-icon-2"></use>
                </svg>
              </span>Сравнить</a>
            <div class="share-block">
              <a class="btn-radius share-btn ">
                <span class="icon-svg">
                  <svg class="icon">
                    <use xlink:href="#share-icon"></use>
                  </svg>

                </span>Поделиться</a>

              <div class="share-block__show">
                <p>Чтобы поделиться ссылкой, нажмите на иконку вашей соцсети</p>
                <div class="share-block__list">
                  <a href="" class="share-social"><img
                      src="@images/vk.svg" alt=""></a>
                  <a href="" class="share-social"><img
                      src="@images/tw.svg" alt=""></a>
                  <a href="" class="share-social"><img
                      src="@images/ok.svg" alt=""></a>
                  <a href="" class="share-social"><img
                      src="@images/fb.svg" alt=""></a>
                </div>
              </div>
            </div>

          </div>
          <div class="product-card__rating">
            <span class="product-item__rating">
              <span class="star star--full"></span>
              <span class="star star--full"></span>
              <span class="star star--full"></span>
              <span class="star star--half"></span>
              <span class="star star--empty"></span>
            </span>

            <span class="product-card__review-link"><a rel="tab3">Отзывы (6)</a></span>
          </div>
        </div>
        <div class="product-card__right">
          <div class="product-card__discription">
            <span class="product-card__discription-title">Наличие:</span>
            <ul>
              <li>
                <span class="green-color">
                  <div class="product-item__status product-item__status--none">
                    нет в наличии
                  </div>
                </span>
              </li>
            </ul>
          </div>
          <div class="product-card__discription">
            <span class="product-card__discription-title">Оплата:</span>
            <ul>
              <li>— Картой / наличными при получении</li>
              <li>— Онлайн на сайте</li>
              <li>— Оплата в кредит</li>
              <li>— Безналом по счёту</li>
            </ul>
            <a href="" class="btn-border"><span class="icon"><svg class="icon-svg">
                  <use xlink:href="#document-icon"></use>
                </svg></span>Получить счёт</a>
          </div>
          <div class="product-card__discription">
            <ul>
              <li><strong>Доставка:</strong> точно и в срок</li>
            </ul>


            <a href="" class="btn-border"><span class="icon"><svg class="icon-svg">
                  <use xlink:href="#delivery-icon"></use>
                </svg></span>Рассчитать</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-card-secondary">
    <div class="row">
      <div class="col-lg-9">
      <div class="product-content product-content_frameless d-flex flex-column gap-60">

        <div class="d-flex flex-column gap-15 gap-md-20">
          <p class="g-title">Описание</p>
          <div class="d-flex flex-column gap-10">
          <div data-collapse="1" class="text-page">
            <p>sdifoidsfjsdifjosidfjiosdfiosdjfoisdfoijsdjfsdfsdjoif</p>
            <p>sdifoidsfjsdifjosidfjiosdfiosdjfoisdfoijsdjfsdfsdjoif</p>
            <p>sdifoidsfjsdifjosidfjiosdfiosdjfoisdfoijsdjfsdfsdjoif</p>
            <p>sdifoidsfjsdifjosidfjiosdfiosdjfoisdfoijsdjfsdfsdjoif</p>
            <p>sdifoidsfjsdifjosidfjiosdfiosdjfoisdfoijsdjfsdfsdjoif</p>
            <p>sdifoidsfjsdifjosidfjiosdfiosdjfoisdfoijsdjfsdfsdjoif</p>
        
          </div>
          <button
            class="d-md-none d-none g-text-button"
            data-collapse-open="1"
            data-collapse-hiding-open="1"
            type="button"
          >
            Раскрыть
          </button>
          <button
            class="d-md-none d-none g-text-button"
            data-collapse-close="1"
            data-collapse-hiding-close="1"
            type="button"
          >
            Закрыть
          </button>
        </div>
        </div>

        <div class="d-flex flex-column gap-15 gap-md-20">
          <p class="g-title">Характеристики</p>
          <div data-collapse="2">
            <ul class="char">
              <li>
                <span class="char-text"><span class="char-text__mask">Объем, м3</span></span
                ><span class="char-text">9,0</span>
              </li>

              <li>
                <span class="char-text"><span class="char-text__mask">toshiba</span></span
                ><span class="char-text"> 345543,0 </span>
              </li>
            </ul>
          </div>
          <button
            class="d-md-none d-none g-text-button"
            data-collapse-open="2"
            data-collapse-hiding-open="2"
            type="button"
          >
            Раскрыть
          </button>
          <button
            class="d-md-none d-none g-text-button"
            data-collapse-close="2"
            data-collapse-hiding-close="2"
            type="button"
          >
            Закрыть
          </button>
        </div>

        <div class="product-files-group d-flex flex-column gap-15 gap-md-20">
          <p class="g-title">Приложенные файлы</p>

          <div class="documents">
            <div class="document-item">
              <div class="document-item__text">
                <a class="document-item__text-link" href="#">
                  rwrwr
                </a>
              </div>
              <div class="document-item__format">jpg</div>
              <div class="document-item__size">77.9 Кб</div>
              <div class="document-item__btn d-md-block d-none">
                <a
                  href="/media/product/certificates/photo_2024-02-07_11-16-48_2.jpg"
                  class="document-item__btn-download btn"
                  download=""
                >
                  <svg
                    class="document-item__download-icon"
                    width="18"
                    height="19"
                    viewBox="0 0 18 19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14.71 8.79L13.29 7.37L10 10.66V0H8V10.66L4.71 7.37L3.29 8.79L9 14.49L14.71 8.79ZM0 17V19H18V17H0Z"
                      fill="currentColor"
                    />
                  </svg>
                  Скачать
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>
  </div>

  <div class="product-card-bottom">
    <span class="product-card-bottom__artikul">001</span>
    <div class="product-card__navigation"></div>
  </div>
</div>