<div class="product-price-group">
  <div class="product-price-group__item">
    <p class="g-text product-price-group__title">Архивная цена:</p>
    <div class="d-flex flex-column gap-10">
      <div class="product-price-group__row">
        <p class="product-price-group__price product-price-group__price_primary product-price-group__price_inactive">500
          ₽/шт</p>
        <div class="g-row">
          <p class="g-text product-price-group__percent">
            <svg width="16" height="12" viewBox="0 0 16 12" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M15.5025 0.75H10.2L12.3225 2.8725L8.475 6.72L6.0675 4.3125L0.1875 10.185L1.2525 11.25L6.0675 6.435L8.475 8.8425L13.38 3.93L15.5025 6.0525V0.75Z">
              </path>
            </svg>
            0.2%
          </p>
          <p class="g-text g-text_small product-price-group__date-text">
            c 08.01.2023
          </p>
        </div>
      </div>
      <div class="product-price-group__row">
        <p class="product-price-group__price product-price-group__price_inactive product-price-group__price_old">
          585 ₽/шт
        </p>
      </div>
    </div>
  </div>
</div>