<div class="product-card__personal-cost" itemprop="offers" itemtype="http://schema.org/Offer" itemscope="">
  <span> онлайн цена: </span>
  <meta itemprop="price" content="53,9" />
  <meta itemprop="priceCurrency" content="RUB" />

  <link itemprop="availability" href="http://schema.org/InStock" />

  <strong> 53,90 ₽/шт <!-- @include ../product-sale-badge/product-sale-badge_margin.html --></strong>

  <div class="product-card__main-cost">
    Онлайн цена:
    <strong> 55,00 ₽/шт </strong>
  </div>

  <!-- @include ../product-price-will-change/product-price-will-change.html -->
</div>