.product-item_wide
  height: auto !important
  width: auto !important
  margin: -0.5px
  padding-bottom: 60px !important
  border: 1px solid var(--color-card-border, #D9D9DE) !important
  display: flex !important

  .btn-border
    width: 100%

  .product-item__btns
    justify-content: flex-start
    gap: 7px

  .product-item__content-bottom
    position: absolute
    width: 100%
    bottom: 0
    left: 0

  .product-item__link
    height: auto

  .product-item__image
    height: auto
    img
      aspect-ratio: 220/199
      width: 100%
      display: block
      height: inherit
      object-fit: contain

@media ( max-width: 767px )
  .product-item_wide
    flex-direction: column
    padding-bottom: 60px

    &:hover
      border: 1px solid var(--color-card-border, #D9D9DE)

    .product-favorite_wide__text
      font-size: 12px

    .product-favorite_wide__icon_desktop
      display: none

    .input-number
      display: none

    .product-item__link
      flex-direction: column

    .product-item__image
      width: 100%
      height: auto

    .product-item__image
      margin: 0

    .product-item__btns
      position: relative

    .product-item__content-bottom, .product-item__btns
      max-width: 100%
      width: 100%
      right: auto
      bottom: auto

    .product-item__content-top
      width: 100%

    .product-item__content-bottom
      position: absolute
      width: 100%
      bottom: 0
