.product-item_new
  border: 1px solid var(--color-card-border, #D9D9DE)

@media (max-width: 767px)
  .product-item_new
    .product-item

      &__image
        min-width: 120px
        height: auto
        aspect-ratio: 120/130

      &__content-bottom
        width: calc(100% - 120px)
