
.product-item__parameters
  display: flex
  flex-wrap: wrap
  gap: 5px
  margin-bottom: 15px

.product-item__parameter
  border: 1px solid #D9D9DE
  border-radius: 2px
  color: #767676
  padding: 5px 8px
  font-size: 12px