.product-price-range
  display: flex
  flex-direction: column
  gap: 3px

  &__cost
    color: #A7A7AB
    font-size: 18px
    font-weight: 700
    line-height: 110%

  &__text
    color: #A7A7AB
    font-size: 14px
    font-weight: 700
    line-height: 100%
