<section class="__header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="logo">
          <a href="#"><img src="@images/logo.svg" alt="" /></a>
        </div>
      </div>
      <div class="col-lg-6 pl--0">
        <div class="custom-block">
          <button class="btn catalog-btn"><span></span> Каталог товаров</button>
          <div class="search-box general--width">
            <div id="overlay" onclick="javascript: close_all();"></div>
            <form action="">
              <input
                name="q"
                type="text"
                autocomplete="off"
                placeholder="Название магазина"
                data-search-url="/search"
                data-search-input="header-search"
                data-min-chars="3"
              />
              <button class="btn submit" data-search-button="header-search">
                <img src="@images/header-icons/search-icon.svg" alt="" />
              </button>
            </form>
            <div
              id="search-result-container"
              class="header-search-results header-search-results--sm"
              data-search-results="header-search"
              style="display: none"
            ></div>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="options-box">
          <!-- --v1--  -->
          <ul class="nav-items">
            <li><a href="#">Пункт меню</a></li>
            <li>
              <a class="active" href="#">Пункт меню 2</a>
            </li>
          </ul>
          <ul class="option-items">
            <li>
              <a href="#">
                <img src="@images/header-icons/item.svg" alt="" />
                3
              </a>
            </li>
            <li>
              <a href="#">
                <img src="@images/header-icons/cart-icon-orange.svg" alt="" />
                123 456
              </a>
            </li>
            <li>
              <a href="#">
                <img src="@images/header-icons/favorite-icon.svg" alt="" />
                359
              </a>
            </li>
            <li>
              <a href="#">
                <img src="@images/header-icons/profile-icon-black.svg" alt="" />
                <span>Выйти</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="contact-box">
          <p>
            <span class="circle"></span
            ><span class="show-number">Показать .. 10-53-28</span
            ><a href="#">+7(960) 810-53-28</a>
          </p>
          <a
            href="#"
            data-fancybox="callme-modal"
            data-src="#callme-modal"
            href="javascript:;"
            ><img src="@images/header-icons/order-call-arrow.svg" alt="" />
            Запросить звонок</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="catalog-box">
    <div class="container">
      <ul class="hover--color hover--underline link--arrow-left">
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Образец выделения активного пункта 1</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Образец выделения активного пункта 2</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Образец выделения активного пункта 3</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">В одну строку название</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Название пункта меню в 2 строки</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Пример, когда иконка слева от текста</a>
        </li>

        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Образец выделения активного пункта 1</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Образец выделения активного пункта 2</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Образец выделения активного пункта 3</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">В одну строку название</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Название пункта меню в 2 строки</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Название пункта меню в 2 строки</a>
        </li>

        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>

        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
        <li>
          <span><img src="@images/header-icons/link-arrow.svg" alt="" /></span>
          <a href="#">Категория товара или раздел сайта Три стр...</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="header--mob">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="logo">
          <a href="#"><img src="@images/logo.svg" alt="" /></a>
        </div>
      </div>
      <div class="col-5 pr--0">
        <div class="search--box">
          <div id="overlay_mob" onclick="javascript: close_all_mob();"></div>
          <!-- s-icon-left = кнопка submit было слево  -->
          <!-- s-icon-right = кнопка submit было справо  -->
          <form action="" class="s-icon-left">
            <input
              name="q"
              type="text"
              autocomplete="off"
              data-search-url="/search"
              data-search-input="header-search"
              data-min-chars="3"
            />
            <button class="btn submit" data-search-button="header-search">
              <img src="@images/header-icons/s-icon-mob.svg" alt="" />
            </button>
            <div
              class="header-search-results header-search-results--sm"
              id="search-result-mob"
              data-search-results="header-search"
              style="display: none"
            >
              <div class="search-results-inner"></div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-4 pl--0">
        <div class="burger-box">
          <a class="cart-mob" href="#">
            <img src="@images/header-icons/favorite-icon.svg" alt="" />
            <span class="cart--counter">3</span>
          </a>
          <a class="cart-mob" href="#">
            <img src="@images/header-icons/cart-icon-orange.svg" alt="" />
            <span class="cart--counter">3</span>
          </a>

          <button class="btn" id="my-button">
            <svg
              width="17"
              height="14"
              viewBox="0 0 17 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="17" height="2" rx="1" fill="#2363D1" />
              <rect y="6" width="17" height="2" rx="1" fill="#2363D1" />
              <rect y="12" width="17" height="2" rx="1" fill="#2363D1" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
