.catalog-inner-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--search-field-border-color, #333);
  border-radius: 2px;
  font-size: 14px;
  line-height: 0px;
  color: var(--header-buttons-font-color, #fff);
  cursor: pointer;
  width: 220px;
  height: 48px;
  position: relative;
  z-index: 1001;
}

.catalog-inner-btn .icon {
  margin-right: 13px;
}

.catalog-inner-btn.open .burger-catalog .burger {
  background: rgba(111, 111, 111, 0);
}

.catalog-inner-btn.open .burger-catalog .burger::after {
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  bottom: 0px;
}

.catalog-inner-btn.open .burger-catalog .burger::before {
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 0px;
}

/* СТАРЫЕ СТИЛИ КАТАЛОГА  */

.catalog-header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* background: #333333; */
  padding: 60px 0;
  z-index: 999;
  display: none;
}

.catalog-header-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  font-size: 18px;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.catalog-header-content a:before {
  content: "";
  // background: url(../images/arrow-catalog-white.svg);
  width: 9px;
  height: 16px;
  position: absolute;
  right: -15px;
  top: calc(50% - 8px);
}

/* .catalog-header-content a:hover {
        background: var(--main-elements-color, #2363D1);
    } */

/* НОВЫЕ СТИЛИ КАТАЛОГА ДЛЯ ШАПКИ ( ЕСТЬ ЕЩЕ И СТИЛИ В header-catalog.css ) */
.catalog-header-content {
  display: none;
}
.catalog-header-content .catalog-box {
  transform: translateY(0px);
  z-index: 1;
  visibility: visible;
  opacity: 1;
}

.catalog-side {
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: var(--catalog-menu-bg-color, #fff);
  border: 1px solid var(--catalog-menu-border-color, #d9d9de);
  -webkit-box-shadow: 0px 2px 25px rgba(118, 118, 118, 0.15);
  box-shadow: 0px 2px 25px rgba(118, 118, 118, 0.15);
  margin-top: -1px;
}

@media (max-width: 767px) {
  .catalog-side {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 20px;
  }
  .wide-mode-alter .catalog-side.mobile-show {
    margin: 0 0 !important;
  }
}

.catalog-side__title {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: var(--catalog-menu-font-color, #333);
  background-color: var(--catalog-menu-bg-color, #fff);
  pointer-events: none;
  line-height: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .catalog-side__title {
    font-size: 18px;
    color: var(--catalog-menu-font-color, #2363d1);
    pointer-events: all;
    cursor: pointer;
  }
}

.catalog-side__title .icon {
  margin-right: 13px;
}

.catalog-side__title .icon svg {
  width: 16px;
  color: var(--catalog-menu-burger-color, var(--catalog-menu-font-color, #333));
}

@media (max-width: 767px) {
  .catalog-side__title .icon img {
    margin-bottom: -2px;
  }
}

.catalog-side__content {
  padding: 15px 0px 16px 0;
  border-top: 1px solid #d9d9de;
}

.catalog-side__content-accordeon .custom__accordion {
  border: none;
}

@media (max-width: 767px) {
  .catalog-side__content,
  .catalog-side__content-accordeon {
    display: none;
  }
}

.catalog-side__content ul li:last-child {
  margin-bottom: 0;
}

.catalog-side__content ul li:hover .submenu {
  display: block;
}

@media (max-width: 767px) {
  .catalog-side__content ul li:hover .submenu {
    display: none;
  }
}

.catalog-side__content ul li:hover a {
  background-color: var(--catalog-menu-hover-bg-color, #f5f5f5);
}
.catalog-side__content ul li a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--catalog-menu-font-color, #333);
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 13px 40px 13px 20px;
  pointer-events: none;
}

@media (max-width: 767px) {
  .catalog-side__content ul li a {
    pointer-events: all;
  }
}

.catalog-side__content ul li a:hover,
.catalog-side__content .submenu a:hover {
  background-color: var(--catalog-menu-hover-bg-color, #f5f5f5) !important;
  color: var(
    --catalog-menu-font-hover-color,
    var(--catalog-menu-font-color, #333)
  );
}

.catalog-side__content ul li a:before {
  content: "";
  background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.1875 14.375L13.9757 7.58678L7.1875 0.798551" stroke="%232363D1" stroke-width="2" /> </svg>');
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 16px;
  top: calc(50% - 8px);
}

.catalog-side__content ul li.catalog-sale-link a {
  color: #d74853;
}

.catalog-side__content ul li.catalog-sale-link ul li a {
  color: #fff;
}

.catalog-side__content .submenu {
  display: none;
  position: absolute;
  width: 220px;
  left: 220px;
  top: 0;
  /* background: #fff; */
  background-color: var(--catalog-menu-bg-color, #fff);
  min-height: 100%;
  padding-top: 60px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.catalog-side__content .submenu li {
  /* background: #fff; */
  background-color: var(--catalog-menu-bg-color, #fff);
}

.catalog-side__content .submenu a {
  padding-right: 10px;
  pointer-events: all;
  /* background: #fff !important; */
  background-color: var(--catalog-menu-bg-color, #fff) !important;
}

/* .catalog-side__content .submenu a:hover { */
/*     background: #fff; */
/*     color: var(--main-elements-color, #2363D1); */
/* } */

.catalog-side__content .submenu a:before {
  display: none;
}

.catalog-side .btn-border {
  margin: 5px 15px 0 15px;
  width: calc(100% - 30px);
}