<footer>
  <div class="container">
    <div class="footer-content">
      <div class="footer-first-column">
        <span class="footer-contact">
          Контактные данные сайта (нужно настроить)
        </span>
        <a href="/" class="logo">
          <img src="public/images/footer-logo.svg" alt="" />
        </a>
        <div class="mobile-show">
          <div class="developer-link">
            <a href="https://nastroyker.ru/" target="_blank"
              >Разработка сайта: NASTROYKER</a
            >
          </div>
        </div>
      </div>
      <div class="footer-content__menu">
        <div class="footer-content__column footer-content__column--lg">
          <span class="footer-content__title">Каталог</span>

          <div class="footer-content__ul-content">
            <ul>
              <li class="menu-item">
                <a href="/catalog/kategoriya-tovarov-1/"
                  >Проекты домов до 150м2</a
                >
              </li>

              <li class="menu-item">
                <a href="/catalog/kategoriya-tovarov-2/"
                  >Проекты домов до 300м2</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="footer-content__column">
          <span class="footer-content__title">Покупателям</span>

          <ul>
            <li>
              <a title="О компании" href="/about/"> О компании </a>
            </li>

            <li>
              <a title="Реквизиты" href="/requisites/"> Реквизиты </a>
            </li>

            <li>
              <a title="Портфолио домов" href="/portfolio/">
                Портфолио домов
              </a>
            </li>

            <li>
              <a title="Акции и новости" href="/events/"> Акции и новости </a>
            </li>

            <li>
              <a title="Статьи" href="/useful articles/"> Статьи </a>
            </li>

            <li>
              <a title="Контакты" href="/contacts/"> Контакты </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-right">
        <span class="footer-content__title"
          >Оставайтесь на связи!<span>Новинки, скидки, предложения</span></span
        >
        <form
          id="footer-subscription-form"
          method="POST"
          action="/subscription/new/"
          class="footer-subscribe"
          onsubmit=""
        >
          <input
            type="hidden"
            name="csrfmiddlewaretoken"
            value="Lb0QTXpsAqPnwkaEqw9QMKdd2MQ2Fi7kXcqBw6wOG7i9rcxLCL7DOxguVknJk29z"
          />
          <input
            type="email"
            name="email"
            required=""
            placeholder="Адрес электронной почты"
          />

          <button type="submit" class="button-theme button-theme_primary">
            Подписаться
          </button>
        </form>

        <div class="developer-link">
          <a href="https://nastroyker.ru/" target="_blank"
            >Разработка сайта: NASTROYKER</a
          >
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-bottom__left">
        <span class="copy version">v.1.992</span>
      </div>

      <div class="footer-social">
        <span>
          <a href="#">
            <img src="public/images/instagram-icon.svg" alt="Мы в Instagram" />
          </a>
        </span>

        <span>
          <a href="#">
            <img src="public/images/twitter-icon.svg" alt="Мы в Twitter" />
          </a>
        </span>

        <span>
          <a href="#">
            <img src="public/images/youtube-icon.svg" alt="Мы на YouTube" />
          </a>
        </span>

        <span>
          <a href="#">
            <img
              src="public/images/vk-icon.svg"
              alt="Наша страница ВКонтакте"
            />
          </a>
        </span>
      </div>
    </div>
  </div>
</footer>
