.mobile-menu .language-selected
    display: flex
    align-items: center
    margin-top: 25px
    position: relative
.mobile-menu .language-selected .language-icon
    margin-right: 15px
.mobile-menu .language-selected .language-name,
.mobile-menu .language-selected .language-valuta
    color: #1C52AC
    font-size: 18px
.mobile-menu .language-selected::after
    content: ''
    background: url(../images/mobile-blue-arrow.svg)
    position: absolute
    width: 24px
    height: 24px
    right: 0
.fancybox-slide--html
    padding: 0
.mobile-language-default
    background-color: #fff
.mobile-language-default .header-language__modal_title
    text-align: center