.mobile-header
  height: 60px
  display: flex
  align-items: center
  overflow: hidden

  &__row
    display: flex
    justify-content: space-between

  &__item
    display: flex
    gap: 15px
    min-width: 59px

  &__item:has(&__phones)
    min-width: 184px

  &__phones
    display: flex
    flex-direction: column
    gap: 3px
    justify-content: center
    min-width: 108px

  &__phone
    font-size: 14px
    font-weight: 600
    line-height: 16px
    color: #000000

  &__hamburger-button
    padding: 5px
    display: flex
    flex-direction: column
    justify-content: center
    min-width: 27px
    width: 27px
    gap: 4px
    &::after, &::before
      content: ''
      display: block
      background-color: #000
      height: 2px
      width: 100%
      border-radius: 1px

  &__hamburger-line
    height: 2px
    width: 100%
    background-color: #000
    border-radius: 1px

  &__search-button
    min-width: 27px

.logo-link
  display: inline-flex
  align-items: center

  &__image
    max-width: 100%
    height: auto

@media (max-width: 575px)
  .mobile-header

    &__row
      gap: 40px
