<section class="mobile-header d-flex d-lg-none">
  <div class="container">
    <div class="mobile-header__row">
      <a class="logo-link" href="#">
        <img class="logo-link__image" src="@images/logo.svg" alt="">
      </a>
      <div class="mobile-header__item">
        <div class="mobile-header__phones">
          <a class="mobile-header__phone" href="#">+7-927-711-9393</a>
          <a class="mobile-header__phone" href="#">+7-927-711-9393</a>
        </div>
        <button data-open-search-modal class="mobile-header__search-button">
          <svg class="mobile-header__search-icon" width="17" height="17" viewBox="0 0 17 17" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1.26564 6.42777C1.26564 9.29027 3.5638 11.5925 6.37631 11.5925C9.18882 11.5925 11.487 9.29027 11.487 6.42777C11.487 3.56527 9.18882 1.26301 6.37631 1.26301C3.5638 1.26301 1.26564 3.56527 1.26564 6.42777Z"
              stroke="black" stroke-width="2.52602" />
            <line y1="-1.26301" x2="7.5559" y2="-1.26301"
              transform="matrix(0.749811 0.661652 0.655349 -0.755326 11.3359 10.001)" stroke="black"
              stroke-width="2.52602" />
          </svg>
        </button>
        <a href="#menu" id="my-button" data-open-menu class="mobile-header__hamburger-button">
          <div class="mobile-header__hamburger-line"></div>
        </a>
      </div>
    </div>
  </div>
</section>