
.product-articul
  margin: 0
  color: #BDBDBD
  font-size: 12px
  display: inline

.product-title-block
  display: flex
  justify-content: space-between
  align-items: center
  background-color: #fff
  padding: 20px 30px
  border-bottom: 1px solid #E5E5EA

  &__title
    font-size: 30px
    font-weight: 700
    line-height: 36px
    color: #000
