<div class="product-v2" itemscope="" itemtype="http://schema.org/Product">
  <div class="product-card">
    <div class="row">
      <div class="col-lg-8">
        <div class="g-content product-card__main-content">
          <div class="product-card__navigation-wrapper">
            <div class="product-card__navigation">
              <a href="/catalog/product/test1/" class="product-card__nav-prev">
                <span class="icon">
                  <svg class="icon-svg">
                    <use xlink:href="#product-nav-arrow"></use>
                  </svg>
                </span>
                Предыдущий товар
              </a>

              <a href="/catalog/product/tetert/" class="product-card__nav-next">
                Следующий товар
                <span class="icon">
                  <svg class="icon-svg">
                    <use xlink:href="#product-nav-arrow"></use>
                  </svg>
                </span>
              </a>
            </div>
          </div>
          <div class="product-card__slideshow-wrapper">
            <%~ include("/components/products/templates/product-slideshow/product-slideshow.html") %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="g-content product-card__sidebar-content">
          <div class="product-card__sidebar-top">
            <p class="product-articul">Артикул: 1231231</p>
            <div class="product-card__top-item">
              <div
                class="product-card__rating"
                itemprop="aggregateRating"
                itemscope=""
                itemtype="http://schema.org/AggregateRating"
              >
                <span class="product-item__rating">
                  <meta itemprop="bestRating" content="5" />
                  <meta itemprop="worstRating" content="1" />
                  <meta itemprop="ratingValue" content="4,0" />

                  <span class="star star--full"></span>

                  <span class="star star--full"></span>

                  <span class="star star--full"></span>

                  <span class="star star--full"></span>

                  <span class="star star--empty"></span>
                </span>

                <meta itemprop="ratingCount" content="1" />

                <span class="product-card__review-link">
                  <a rel="tab3">Отзывы (1)</a>
                </span>
              </div>
            </div>
          </div>
          <div class="product-card__sidebar-main-content">
            <h1 class="product-card__title">test2</h1>

            <div class="product-card__short-description">dsgdsgsdfgdsfgdsg</div>

            <%~ include("/components/products/templates/product-price-block/product-price-block--empty.html") %>

            <!-- <div class="product-card__static-text-wrapper">
              <p>2342424234234</p>
            </div> -->

            <div class="product-card__share-block-wrapper">
              <div class="product-card__btns ya-share-block">
                <a class="btn-radius compare-btn">
                  <span class="icon-svg">
                    <svg class="icon">
                      <use xlink:href="#shopping-compare"></use>
                    </svg>
                  </span>
                  Сравнить
                </a>
                <a class="btn-radius share-btn">
                  <span class="icon-svg">
                    <svg class="icon">
                      <use xlink:href="#share-icon"></use>
                    </svg>
                  </span>
                  Поделиться
                </a>

                <div class="share-block__show" style="display: none">
                  <p>Чтобы поделиться ссылкой, нажмите на иконку вашей соцсети</p>
                  <div class="share-block__list">
                    <a href="" class="share-social"
                      ><img src="@images/vk.svg" alt=""
                    /></a>
                    <a href="" class="share-social"
                      ><img src="@images/tw.svg" alt=""
                    /></a>
                    <a href="" class="share-social"
                      ><img src="@images/ok.svg" alt=""
                    /></a>
                    <a href="" class="share-social"
                      ><img src="@images/fb.svg" alt=""
                    /></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-card-secondary g-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="product-card-secondary__content">
          <div class="product-card__wrapper mb-30">
            <div class="d-flex flex-column gap-10">
              <p class="g-title">Описание</p>
              <div id="collapse-1" class="collapse" data-custom-collapse="1">
                <p>sdifoidsfjsdifjosidfjiosdfiosdjfoisdfoijsdjfsdfsdjoif</p>
                <p>sdifoidsfjsdifjosidfjiosdfiosdjfoisdfoijsdjfsdfsdjoif</p>
              </div>
              <button
                data-toggle="collapse"
                data-target="#collapse-1"
                aria-expanded="false"
                aria-controls="collapse-1"
                data-custom-collapse-close="1"
                class="d-md-none d-none g-text-button"
                type="button"
              >
                Свернуть
              </button>
              <button
                data-toggle="collapse"
                data-target="#collapse-1"
                aria-expanded="false"
                aria-controls="collapse-1"
                class="d-md-none g-text-button"
                data-custom-collapse-open="1"
                type="button"
              >
                Развернуть
              </button>
            </div>
          </div>
          <div class="product-card__wrapper mb-50">
            <div class="product-haracteristic-group">
              <p class="g-title mb-20">Характеристики</p>
              <div id="collapse-2" class="collapse" data-custom-collapse="2">
                <ul class="char">
                  <li>
                    <span class="char-text"><span class="char-text__mask">Объем, м3</span></span
                    ><span class="char-text">9,0</span>
                  </li>

                  <li>
                    <span class="char-text"><span class="char-text__mask">toshiba</span></span
                    ><span class="char-text"> 345543,0 </span>
                  </li>
                </ul>
              </div>
              <button
                data-toggle="collapse"
                data-target="#collapse-2"
                aria-expanded="false"
                aria-controls="collapse-2"
                class="d-md-none d-none g-text-button"
                data-custom-collapse-close="2"
                type="button"
              >
                Свернуть
              </button>
              <button
                data-toggle="collapse"
                data-target="#collapse-2"
                aria-expanded="false"
                aria-controls="collapse-2"
                class="d-md-none g-text-button"
                data-custom-collapse-open="2"
                type="button"
              >
                Развернуть
              </button>
            </div>
          </div>
          <div class="product-card__wrapper">
            <div class="product-files-group">
              <p class="g-title mb-20">Приложенные файлы</p>

              <div class="documents">
                <div class="document-item">
                  <div class="document-item__text">rwrwr</div>
                  <div class="document-item__format">jpg</div>
                  <div class="document-item__size">77.9 Кб</div>
                  <div class="document-item__download">
                    <a
                      href="/media/product/certificates/photo_2024-02-07_11-16-48_2.jpg"
                      class="document-item__download-button btn"
                      download=""
                    >
                      <svg
                        class="document-item__download-icon"
                        width="18"
                        height="19"
                        viewBox="0 0 18 19"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.71 8.79L13.29 7.37L10 10.66V0H8V10.66L4.71 7.37L3.29 8.79L9 14.49L14.71 8.79ZM0 17V19H18V17H0Z"
                          fill="currentColor"
                        />
                      </svg>
                      Скачать
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
