<div class="product-card-v2 product-card-v2_type-2" data-custom-interaction="data-custom-interaction">
  <a class="product-card-v2__link" href="/catalog/product/tovar-1/"></a>
  <div class="product-card-v2__image">
    <div class="image image_contain">
      <img src="../images/banner-content-1.png" alt="Товар 1" />
    </div>

    <div class="product-card-v2__rating"></div>

    <div class="product-card-v2__labels"></div>
  </div>

  <div class="product-card-v2__content">
    <div class="product-card-v2__title">Товар 1</div>

    <div class="product-card-v2__content-bottom">
      <div class="product-card-v2__pricing">
        <div class="product-card-v2__pricing-txt">
          Последний раз товар был продан по этой цене:
        </div>
        <div class="product-card-v2__price text-color-light">
          1&nbsp;000,00<span>₽/шт</span>
        </div>
      </div>

      <div class="product-card-v2__buttons">
        <a href="#question-main" data-product-code="001" data-product-name="Товар 1"
          class="st-button st-button_muted st-button_not-availbe not-available">
          <p class="st-button__text">
            <span class="st-button__sub-title">нет в наличии</span>
            <span class="st-button__title">Узнать о наличии</span>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>