<div class="tabs-content">
  <ul class="tabs">
    <li class="active" rel="tab1">Шины</li>
    <li rel="tab2" class="tab_last">Диски</li>
    <li rel="tab3" class="tab_last">Мото</li>
    <li rel="tab4" class="tab_last">АКБ</li>
  </ul>
  <div class="tabs-slider-mobile">
    <div class="slider-item" data-tab="tab1">
      <span class="slider-item__title">Шины</span>
      <div class="slider-item__bottom">
        <span class="slider-item__subtitle">14324 шт</span>
        <img src="@images/icons/category-grey-arrow.svg" alt="" class="slider-item__arrow">
      </div>
    </div>
    <div class="slider-item" data-tab="tab2">
      <span class="slider-item__title">Диски</span>
      <div class="slider-item__bottom">
        <span class="slider-item__subtitle">14324 шт</span>
        <img src="@images/icons/category-grey-arrow.svg" alt="" class="slider-item__arrow">
      </div>
    </div>
    <div class="slider-item" data-tab="tab3">
      <span class="slider-item__title">Мото</span>
      <div class="slider-item__bottom">
        <span class="slider-item__subtitle">14324 шт</span>
        <img src="@images/icons/category-grey-arrow.svg" alt="" class="slider-item__arrow">
      </div>
    </div>
    <div class="slider-item" data-tab="tab4">
      <span class="slider-item__title">АКБ</span>
      <div class="slider-item__bottom">
        <span class="slider-item__subtitle">14324 шт</span>
        <img src="@images/icons/category-grey-arrow.svg" alt="" class="slider-item__arrow">
      </div>
    </div>
  </div>
  <div class="tabsgroup">
    <span class="tab_drawer_heading d_active" rel="tab1">
      <span class="icon"><svg class="icon-svg">
          <use xlink:href="#tab-arrow"></use>
        </svg></span>
      Шины
    </span>
    <div id="tab1" class="tab-content">
      <div class="text-page">
        <h2>Быстрый подбор шин</h2>
        <div class="filter-choice">
          <div class="filter-parameter">
            <span class="po-parametram">По параметрам</span>
            <span id="parameter-modal-btn" class="parameter__modal-button po-parametram__modal-button">
              <img src="@images/tire-modal-btn.svg" alt="">
            </span>
            <div class="parameter-modal-content">
              <div class="row">
                <div class="col-lg-7">
                  <p class="parameter-modal-title">Типоразмер шин</p>
                  <p class="parameter-modal-text">Типоразмер указан в маркировке на боковине шины:</p>
                  <p class="parameter-modal-text">Ширина профиля шины — первое число в маркировке, например 195/50 R16 -
                    ширина 195 мм. Ширина профиля представляет собой выраженное в миллиметрах расстояние между наружными
                    сторонами боковин накачанной шины.</p>
                  <p class="parameter-modal-text">Высота профиля — второе число в маркировке шин, например 195/50 R16 -
                    высота 50%. Это отношение высоты шины к ширине, выраженное в процентах (%).</p>
                  <p class="parameter-modal-text">Монтажный диаметр — третье число в маркировке шины, например 195/50
                    R16 - диаметр обода 16'. Должен совпадать с монтажным диаметром колесного диска. Измеряется в
                    дюймах.</p>
                </div>
                <div class="col-lg-5">
                  <img src="@images/tire-modal-img.jpg" alt="" class="parameter-modal-img">
                </div>
              </div>
            </div>
            <span class="parameter__modal-button parameter__modal-button-mobile">
              <img src="@images/tire-modal-btn.svg" alt="">
            </span>
            <div class="parameter-modal-mobile po-parametram__modal-mobile">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <p class="parameter-modal-title">Типоразмер шин</p>
                    <p class="parameter-modal-text">Типоразмер указан в маркировке на боковине шины:</p>
                    <p class="parameter-modal-text">Ширина профиля шины — первое число в маркировке, например 195/50 R16
                      - ширина 195 мм. Ширина профиля представляет собой выраженное в миллиметрах расстояние между
                      наружными сторонами боковин накачанной шины.</p>
                    <p class="parameter-modal-text">Высота профиля — второе число в маркировке шин, например 195/50 R16
                      - высота 50%. Это отношение высоты шины к ширине, выраженное в процентах (%).</p>
                    <p class="parameter-modal-text">Монтажный диаметр — третье число в маркировке шины, например 195/50
                      R16 - диаметр обода 16'. Должен совпадать с монтажным диаметром колесного диска. Измеряется в
                      дюймах.</p>
                  </div>
                  <div class="col-lg-12">
                    <img src="@images/tire-modal-img.jpg" alt="" class="parameter-modal-img">
                  </div>
                  <span class="parameter-close-button po-parametram-close-button"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="filter-toggle">
            <label for="checkbox-toggle" class="toggle">
              <input data-check-box-toggle="1" id="checkbox-toggle" type="checkbox" class="toggle-input">
              <span class="custom-toggle"></span>
            </label>
          </div>
          <div class="filter-auto">
            <span class="po-auto">По автомобилю</span>
            <span id="auto-modal-btn" class="parameter__modal-button po-auto__modal-button">
              <img src="@images/tire-modal-btn.svg" alt="">
            </span>
            <div class="auto-modal-content">
              <div class="row">
                <div class="col-lg-7">
                  <p class="auto-modal-title">Типоразмер шин авто</p>
                  <p class="auto-modal-text">Типоразмер указан в маркировке на боковине шины:</p>
                  <p class="auto-modal-text">Ширина профиля шины — первое число в маркировке, например 195/50 R16 -
                    ширина 195 мм. Ширина профиля представляет собой выраженное в миллиметрах расстояние между наружными
                    сторонами боковин накачанной шины.</p>
                  <p class="auto-modal-text">Высота профиля — второе число в маркировке шин, например 195/50 R16 -
                    высота 50%. Это отношение высоты шины к ширине, выраженное в процентах (%).</p>
                  <p class="auto-modal-text">Монтажный диаметр — третье число в маркировке шины, например 195/50 R16 -
                    диаметр обода 16'. Должен совпадать с монтажным диаметром колесного диска. Измеряется в дюймах.</p>
                </div>
                <div class="col-lg-5">
                  <img src="@images/tire-modal-img.jpg" alt="" class="parameter-modal-img">
                </div>
              </div>
            </div>
            <span class="parameter__modal-button auto__modal-button-mobile">
              <img src="@images/tire-modal-btn.svg" alt="">
            </span>
            <div class="parameter-modal-mobile po-auto__modal-mobile">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <p class="parameter-modal-title">Типоразмер шин авто</p>
                    <p class="parameter-modal-text">Типоразмер указан в маркировке на боковине шины:</p>
                    <p class="parameter-modal-text">Ширина профиля шины — первое число в маркировке, например 195/50 R16
                      - ширина 195 мм. Ширина профиля представляет собой выраженное в миллиметрах расстояние между
                      наружными сторонами боковин накачанной шины.</p>
                    <p class="parameter-modal-text">Высота профиля — второе число в маркировке шин, например 195/50 R16
                      - высота 50%. Это отношение высоты шины к ширине, выраженное в процентах (%).</p>
                    <p class="parameter-modal-text">Монтажный диаметр — третье число в маркировке шины, например 195/50
                      R16 - диаметр обода 16'. Должен совпадать с монтажным диаметром колесного диска. Измеряется в
                      дюймах.</p>
                  </div>
                  <div class="col-lg-12">
                    <img src="@images/tire-modal-img.jpg" alt="" class="parameter-modal-img">
                  </div>
                  <span class="parameter-close-button po-auto-close-button"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-content">
          <form data-check-box-toggle-content-off="1" data-params-submit="test" class="parameter-block">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-12">
                <div class="parameter-list">
                  <div class="parameter-select">
                    <span class="parameter-title">Ширина:</span>
                    <select data-search-select="width" name="width" id="width">
                      <option value="">Все</option>
                      <option value="10">10 <span>2</span></option>
                      <option value="15">15 <span>2</span></option>
                      <option value="50">50 <span>2</span></option>
                      <option value="75">75 <span>2</span></option>
                      <option selected value="130">130</option>
                      <option value="170">170</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-12">
                <div class="parameter-list">
                  <div class="parameter-select">
                    <span class="parameter-title">Профиль:</span>
                    <select data-search-select="profile" name="height1 height2" id="profile">
                      <option value="">Все</option>
                      <option value="10 10">10</option>
                      <option value="15 10">15</option>
                      <option value="50 10">50</option>
                      <option value="75 10">75</option>
                      <option value="130 10">130</option>
                      <option value="170 10">170</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-12">
                <div class="parameter-list">
                  <div class="parameter-select">
                    <span class="parameter-title">Радиус:</span>
                    <div class="search-select">
                      <div data-search-select-input-container="3" class="search-select__input-container">
                        <input data-search-select-show-reset="3" class="d-none" data-search-select-input="3" name="3"  type="text" />
                        <div data-search-select-value="3" contenteditable="true" class="search-select__input form-control">Все</div>
                        <div class="search-select__icon">
                          <svg
                            width="12"
                            height="7"
                            viewBox="0 0 12 7"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M9.72606 -1.19209e-07L11.1403 1.41421L5.57036 6.98453L4.15614 5.57031L9.72606 -1.19209e-07Z"
                              fill="currentColor"
                            />
                            <path
                              d="M0 1.41421L1.41421 1.19209e-07L6.98434 5.57047L5.57036 6.98453L0 1.41421Z"
                              fill="currentColor"
                            />
                          </svg>
                        </div>
                      </div>
                      <div class="search-select__content d-none" data-search-select-content="3">
                        <div
                          class="search-select__option"
                          data-search-select-option-selected="3"
                          data-search-select-option-value=""
                          data-search-select-option-default="3" 
                          data-search-select-option="3"
                          data-delete-get-param="radius"
                        >
                          Все
                        </div>
                        <div
                          class="search-select__option"
                          data-search-select-option="3"
                          data-search-select-option-value="10"
                          data-set-get-param="radius"
                          data-set-get-param-value="10"
                        >
                          10
                        </div>
                        <div
                          class="search-select__option"
                          data-search-select-option="3"
                          data-search-select-option-value="15"
                          data-set-get-param="radius"
                          data-set-get-param-value="15"
                        >
                        15
                        </div>
                        <div
                          class="search-select__option"
                          data-search-select-option="3"
                          data-set-get-param="radius"
                          data-set-get-param-value="50"
                          data-search-select-option-value="50"
                        >
                        50
                        </div>
                        <div
                          class="search-select__option"
                          data-search-select-option="3"
                          data-set-get-param="radius"
                          data-set-get-param-value="75"
                          data-search-select-option-value="75"
                        >
                        75
                        </div>
                        <div
                          class="search-select__option"
                          data-search-select-option="3"
                          data-set-get-param="radius"
                          data-set-get-param-value="130"
                          data-search-select-option-value="130"
                        >
                        130
                        </div>
                        <div
                          class="search-select__option"
                          data-search-select-option="3"
                          data-set-get-param="radius"
                          data-set-get-param-value="170"
                          data-search-select-option-value="170"
                        >
                        170
                        </div>
                        <div
                          class="search-select__option"
                          data-search-select-option="3"
                          data-set-get-param="radius"
                          data-set-get-param-value="200"
                          data-search-select-option-value="200"
                        >
                        200
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-12">
                <div class="parameter-list">
                  <div class="parameter-select">
                    <span class="parameter-title">Сезонность:</span>
                    <div class="search-select">
                      <div data-search-select-input-container="4" class="search-select__input-container">
                        <input class="d-none" data-search-select-show-reset="4" data-search-select-input="4" name="4"  type="text" />
                        <div data-search-select-value="4" contenteditable="true" class="search-select__input form-control">Все</div>
                        <div class="search-select__icon">
                          <svg
                            width="12"
                            height="7"
                            viewBox="0 0 12 7"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M9.72606 -1.19209e-07L11.1403 1.41421L5.57036 6.98453L4.15614 5.57031L9.72606 -1.19209e-07Z"
                              fill="currentColor"
                            />
                            <path
                              d="M0 1.41421L1.41421 1.19209e-07L6.98434 5.57047L5.57036 6.98453L0 1.41421Z"
                              fill="currentColor"
                            />
                          </svg>
                        </div>
                      </div>
                      <div class="search-select__content d-none" data-search-select-content="4">
                        <div
                          class="search-select__option"
                          data-search-select-option-selected="4"
                          data-search-select-option-value=""
                          data-search-select-option-default="4" 
                          data-search-select-option="4"
                          data-delete-get-param="season"
                        >
                          Все
                        </div>
                        <div
                          class="search-select__option"
                          data-search-select-option="4"
                          data-search-select-option-value="10"
                          data-set-get-param="season"
                          data-set-get-param-value="10"
                        >
                          10
                        </div>
                        <div
                          class="search-select__option"
                          data-search-select-option="4"
                          data-search-select-option-value="15"
                          data-set-get-param="season"
                          data-set-get-param-value="15"
                        >
                        15
                        </div>
                        <div
                          class="search-select__option"
                          data-search-select-option="4"
                          data-set-get-param="season"
                          data-set-get-param-value="50"
                          data-search-select-option-value="50"
                        >
                        50
                        </div>
                        <div
                          class="search-select__option"
                          data-search-select-option="4"
                          data-set-get-param="season"
                          data-set-get-param-value="75"
                          data-search-select-option-value="75"
                        >
                        75
                        </div>
                        <div
                          class="search-select__option"
                          data-search-select-option="4"
                          data-set-get-param="season"
                          data-set-get-param-value="130"
                          data-search-select-option-value="130"
                        >
                        130
                        </div>
                        <div
                          class="search-select__option"
                          data-search-select-option="4"
                          data-set-get-param="season"
                          data-set-get-param-value="170"
                          data-search-select-option-value="170"
                        >
                        170
                        </div>
                        <div
                          class="search-select__option"
                          data-search-select-option="4"
                          data-set-get-param="season"
                          data-set-get-param-value="200"
                          data-search-select-option-value="200"
                        >
                        200
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row parameter-buttons">
              <div class="col-lg-3 col-md-3 col-12">
                <button class="button-parameter" type="submit">Подобрать</button>
              </div>
              <div class="col-lg-3 col-md-3 col-12">
                <button type="button" data-delete-get-param="width profile radius season" data-search-select-reset="1 2 3 4" class="d-none d-flex button-reset">Сбросить</button>
              </div>
            </div>
          </form>
          <form data-tires-form data-check-box-toggle-content-on="1" class="d-grid grid-columns-4 gap-10 auto-block d-none">
            <div class="search-select">
              <div data-search-select-input-container="mark" class="search-select__input-container">
                <input class="d-none" data-cars-select data-select-default="Модель" data-search-select-input="mark" name="mark"  type="text" />
                <div data-search-select-value="mark" contenteditable="true" class="search-select__input form-control">Бренды</div>
                <div class="search-select__icon">
                  <svg
                    width="12"
                    height="7"
                    viewBox="0 0 12 7"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.72606 -1.19209e-07L11.1403 1.41421L5.57036 6.98453L4.15614 5.57031L9.72606 -1.19209e-07Z"
                      fill="currentColor"
                    />
                    <path
                      d="M0 1.41421L1.41421 1.19209e-07L6.98434 5.57047L5.57036 6.98453L0 1.41421Z"
                      fill="currentColor"
                    />
                  </svg>
                </div>
              </div>
              <div class="search-select__content d-none" data-search-select-content="mark">
                <div
                  class="search-select__option"
                  data-search-select-option-selected="mark"
                  data-search-select-option-value=""
                  data-search-select-option-default="mark" 
                  data-search-select-option="mark"
                >
                  Бренды
                </div>
                <div
                  class="search-select__option"
                  data-search-select-option-value="10"
                  data-search-select-option="mark"
                >
                  test
                </div>
              </div>
            </div>
            <div class="search-select">
              <div data-search-select-input-container="model" class="search-select__input-container">
                <input class="d-none" data-models-select data-select-default="Модель" data-search-select-input="model" name="model"  type="text" />
                <div inert data-search-select-value="model" contenteditable="true" class="search-select__input form-control">Все</div>
                <div class="search-select__icon">
                  <svg
                    width="12"
                    height="7"
                    viewBox="0 0 12 7"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.72606 -1.19209e-07L11.1403 1.41421L5.57036 6.98453L4.15614 5.57031L9.72606 -1.19209e-07Z"
                      fill="currentColor"
                    />
                    <path
                      d="M0 1.41421L1.41421 1.19209e-07L6.98434 5.57047L5.57036 6.98453L0 1.41421Z"
                      fill="currentColor"
                    />
                  </svg>
                </div>
              </div>
              <div class="search-select__content d-none" data-search-select-content="model">
                <div
                  class="search-select__option"
                  data-search-select-option-selected="model"
                  data-search-select-option-value=""
                  data-search-select-option-default="model" 
                  data-search-select-option="model"
                >
                  Модель
                </div>
                <div
                  class="search-select__option"
                  data-search-select-option-value="10"
                  data-search-select-option="model"
                >
                  test
                </div>
              </div>
            </div>
            <div class="search-select">
              <div data-search-select-input-container="modification" class="search-select__input-container">
                <input class="d-none" data-modifications-select data-select-default="Модификация" data-search-select-input="modification" name="modification"  type="text" />
                <div inert data-search-select-value="modification" contenteditable="true" class="search-select__input form-control">Все</div>
                <div class="search-select__icon">
                  <svg
                    width="12"
                    height="7"
                    viewBox="0 0 12 7"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.72606 -1.19209e-07L11.1403 1.41421L5.57036 6.98453L4.15614 5.57031L9.72606 -1.19209e-07Z"
                      fill="currentColor"
                    />
                    <path
                      d="M0 1.41421L1.41421 1.19209e-07L6.98434 5.57047L5.57036 6.98453L0 1.41421Z"
                      fill="currentColor"
                    />
                  </svg>
                </div>
              </div>
              <div class="search-select__content d-none" data-search-select-content="modification">
                <div
                  class="search-select__option"
                  data-search-select-option-selected="modification"
                  data-search-select-option-value=""
                  data-search-select-option-default="modification" 
                  data-search-select-option="modification"
                >
                Модификация
                </div>
                <div
                  class="search-select__option"
                  data-search-select-option-value="10"
                  data-search-select-option="modification"
                >
                  test
                </div>
              </div>
            </div>
            <div class="search-select">
              <div data-search-select-input-container="configurations" class="search-select__input-container">
                <input class="d-none" data-configurations-select data-select-default="Комплектация" data-search-select-input="configurations" name="configurations"  type="text" />
                <div inert data-search-select-value="configurations" contenteditable="true" class="search-select__input form-control">Все</div>
                <div class="search-select__icon">
                  <svg
                    width="12"
                    height="7"
                    viewBox="0 0 12 7"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.72606 -1.19209e-07L11.1403 1.41421L5.57036 6.98453L4.15614 5.57031L9.72606 -1.19209e-07Z"
                      fill="currentColor"
                    />
                    <path
                      d="M0 1.41421L1.41421 1.19209e-07L6.98434 5.57047L5.57036 6.98453L0 1.41421Z"
                      fill="currentColor"
                    />
                  </svg>
                </div>
              </div>
              <div class="search-select__content d-none" data-search-select-content="configurations">
                <div
                  class="search-select__option"
                  data-search-select-option-selected="configurations"
                  data-search-select-option-value=""
                  data-search-select-option-default="configurations" 
                  data-search-select-option="configurations"
                >
                Комплектация
                </div>
                <div
                  class="search-select__option"
                  data-search-select-option-value="10"
                  data-search-select-option="configurations"
                >
                  test
                </div>
              </div>
            </div>
            <button disabled type="submit" class="button-parameter" data-tires-submit>Подобрать</button>
          </form>
        </div>
        <form data-tires-form class="d-grid grid-columns-4 gap-10 auto-block">
          <div class="search-select">
            <div data-search-select-input-container="mark2" class="search-select__input-container">
              <input class="d-none" data-cars-select data-select-default="Модель" data-search-select-input="mark2" name="mark"  type="text" />
              <div data-search-select-value="mark2" contenteditable="true" class="search-select__input form-control">Бренды</div>
              <div class="search-select__icon">
                <svg
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.72606 -1.19209e-07L11.1403 1.41421L5.57036 6.98453L4.15614 5.57031L9.72606 -1.19209e-07Z"
                    fill="currentColor"
                  />
                  <path
                    d="M0 1.41421L1.41421 1.19209e-07L6.98434 5.57047L5.57036 6.98453L0 1.41421Z"
                    fill="currentColor"
                  />
                </svg>
              </div>
            </div>
            <div class="search-select__content d-none" data-search-select-content="mark2">
              <div
                class="search-select__option"
                data-search-select-option-selected="mark2"
                data-search-select-option-value=""
                data-search-select-option-default="mark2" 
                data-search-select-option="mark2"
              >
                Бренды
              </div>
              <div
                class="search-select__option"
                data-search-select-option-value="10"
                data-search-select-option="mark2"
              >
                test
              </div>
            </div>
          </div>
          <div class="search-select">
            <div data-search-select-input-container="model2" class="search-select__input-container">
              <input class="d-none" data-models-select data-select-default="Модель" data-search-select-input="model2" name="model"  type="text" />
              <div inert data-search-select-value="model2" contenteditable="true" class="search-select__input form-control">Все</div>
              <div class="search-select__icon">
                <svg
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.72606 -1.19209e-07L11.1403 1.41421L5.57036 6.98453L4.15614 5.57031L9.72606 -1.19209e-07Z"
                    fill="currentColor"
                  />
                  <path
                    d="M0 1.41421L1.41421 1.19209e-07L6.98434 5.57047L5.57036 6.98453L0 1.41421Z"
                    fill="currentColor"
                  />
                </svg>
              </div>
            </div>
            <div class="search-select__content d-none" data-search-select-content="model2">
              <div
                class="search-select__option"
                data-search-select-option-selected="model2"
                data-search-select-option-value=""
                data-search-select-option-default="model2" 
                data-search-select-option="model2"
              >
                Модель
              </div>
              <div
                class="search-select__option"
                data-search-select-option-value="10"
                data-search-select-option="model2"
              >
                test
              </div>
            </div>
          </div>
          <div class="search-select">
            <div data-search-select-input-container="modification2" class="search-select__input-container">
              <input class="d-none" data-modifications-select data-select-default="Модификация" data-search-select-input="modification2" name="modification"  type="text" />
              <div inert data-search-select-value="modification2" contenteditable="true" class="search-select__input form-control">Все</div>
              <div class="search-select__icon">
                <svg
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.72606 -1.19209e-07L11.1403 1.41421L5.57036 6.98453L4.15614 5.57031L9.72606 -1.19209e-07Z"
                    fill="currentColor"
                  />
                  <path
                    d="M0 1.41421L1.41421 1.19209e-07L6.98434 5.57047L5.57036 6.98453L0 1.41421Z"
                    fill="currentColor"
                  />
                </svg>
              </div>
            </div>
            <div class="search-select__content d-none" data-search-select-content="modification2">
              <div
                class="search-select__option"
                data-search-select-option-selected="modification2"
                data-search-select-option-value=""
                data-search-select-option-default="modification2" 
                data-search-select-option="modification2"
              >
              Модификация
              </div>
              <div
                class="search-select__option"
                data-search-select-option-value="10"
                data-search-select-option="modification2"
              >
                test
              </div>
            </div>
          </div>
          <div class="search-select">
            <div data-search-select-input-container="configurations2" class="search-select__input-container">
              <input class="d-none" data-configurations-select data-select-default="Комплектация" data-search-select-input="configurations2" name="configurations"  type="text" />
              <div inert data-search-select-value="configurations2" contenteditable="true" class="search-select__input form-control">Все</div>
              <div class="search-select__icon">
                <svg
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.72606 -1.19209e-07L11.1403 1.41421L5.57036 6.98453L4.15614 5.57031L9.72606 -1.19209e-07Z"
                    fill="currentColor"
                  />
                  <path
                    d="M0 1.41421L1.41421 1.19209e-07L6.98434 5.57047L5.57036 6.98453L0 1.41421Z"
                    fill="currentColor"
                  />
                </svg>
              </div>
            </div>
            <div class="search-select__content d-none" data-search-select-content="configurations2">
              <div
                class="search-select__option"
                data-search-select-option-selected="configurations2"
                data-search-select-option-value=""
                data-search-select-option-default="configurations2" 
                data-search-select-option="configurations2"
              >
              Комплектация
              </div>
              <div
                class="search-select__option"
                data-search-select-option-value="10"
                data-search-select-option="configurations2"
              >
                test
              </div>
            </div>
          </div>
          <button disabled type="submit" class="button-parameter" data-tires-submit>Подобрать</button>
        </form>
      </div>
    </div>
  </div>
</div>