.regions-search
  width: 100%
  max-width: 450px

  &__input
    width: 100%
    transition: .3s

  &__icon
    position: absolute
    left: 15px
    transition: .3s

  &__clear-button
    position: absolute
    right: 15px
    transition: .3s