.regions-search
  width: 100%
  max-width: 450px

  &__input
    padding-left: 40px
    width: 100%
    &:focus
      padding-left: 15px
      & + *
        display: none

  &__icon
    position: absolute
    left: 15px