.cross-button
  display: inline-flex
  align-items: center
  justify-content: center
  position: relative
  width: 17px
  height: 17px
  &::after, &::before
    content: ''
    display: block
    width: 20px
    height: 2px
    position: absolute
    border-radius: 1px
    background-color: #000

  &::after
    transform: rotate(45deg)
  &::before
    transform: rotate(-45deg)
