@media(max-width: 575px)
    .filter-auto, 
    .filter-parameter
        flex-direction: column

.tab-content__container
    display: flex
    gap: 100px

@media(max-width: 850px)
    .tab-content__container
        gap: 40px

@media(max-width: 767px)
    .tab-content__container
        flex-direction: column
        gap: 30px

.tab-content-right__link
    display: flex
    gap: 20px

.tab-content-right__link img
    transform: rotate(-90deg)
.tab-content-right__text
    font-size: 16px !important
    line-height: 20px !important

.tab-content-right__link span
    color: #1C52AC
    font-size: 16px
    line-height: 20px