<div class="bg-white cart-item pt-20 pb-20 p-md-20 p-0 d-flex flex-row gap-xl-20 gap-15 justify-content-between">
  <div class="cart-item__image-wrapper">
    <img class="cart-item__image" src="@images/Rectangle 565.svg" alt="product" />
  </div>
  <div class="w-100 d-flex flex-row gap-xl-60 gap-10 justify-content-xl-between flex-column flex-xl-row pe-lg-50">
    <div class="d-flex flex-column gap-2">
      <p class="text size-12 color-gray-540">141224</p>
      <p class="text color-gray-700 cart-item__description">Фанера ФК 18х1525х1525 мм сорт 4/4 1й сорт нешлифованная</p>
    </div>
    <div class="d-flex flex-md-row align-items-md-center gap-md-30 flex-column gap-0 align-items-start">
      <p class="text size-12 size-md-16 color-gray-700 text-no-wrap">1143 ₽/уп</p>
      <div class="d-flex flex-md-row align-items-md-center gap-md-30 flex-column-reverse gap-0 align-items-start">
        <div class="input-number input-number_gray">
          <div class="cart-qty-control order-down">-</div>
          <input
            class="cart-qty-control-input"
            type="number"
            min="1"
            max="inf"
            step="1"
            value="1"
            id="number"
            required=""
          />
          <div class="cart-qty-control order-up">+</div>
        </div>
        <p class="text size-16 weight-700 text-no-wrap">1143 ₽</p>
      </div>
      <button class="cart-item__delete-button color-gray-450 hover-color-accent-400 transition" type="button">
        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13.5318 2.03277L12.4668 0.967773L6.9993 6.44277L1.5318 0.967773L0.466797 2.03277L5.9418 7.50027L0.466797 12.9678L1.5318 14.0328L6.9993 8.55777L12.4668 14.0328L13.5318 12.9678L8.0568 7.50027L13.5318 2.03277Z"
            fill="currentColor"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
