/* accordion */
.custom__accordion {
  list-style: none;
  padding: 0;
  background-color: #fff;
  width: 100%;
  border: 1px solid #d9d9de;
  border-top: none;
  border-bottom: none;
  margin-bottom: 20px;
}

.custom__accordion .inner {
  overflow: hidden;
  display: none;
}
.custom__accordion .inner .inner {
  padding-left: 50px;
  padding-right: 10px;
}
.custom__accordion .last_inner {
  padding-left: 20px;
  padding-right: 6px;
}
.custom__accordion .acc__toggle.not_toggle:hover {
  color: #2363d1;
}

.custom__accordion p {
  font-family: "Golos";
  font-size: 14px;
  line-height: 15px;
  color: #333333;
  cursor: pointer;
  padding: 10px 0;
  margin-bottom: 0;
}
.custom__accordion p a {
  color: #333333;
}
.custom__accordion p a:hover {
  color: #2363d1;
}

.custom__accordion .acc__toggle:not(.acc__toggle-inner) {
  width: 100%;
  display: block;
  background: none;
  color: #000;
  padding: 14px 35px 14px 20px;
  border: 1px solid #d9d9de;
  border-left: none;
  position: relative;
  border-right: none;
  margin-bottom: -1px;
}
.custom__accordion .acc__toggle:not(.acc__toggle-inner, .not_toggle):before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
  width: 7px;
  height: 7px;
  border: solid 2px #000;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  transition: 0.2s;
}

.custom__accordion .acc__toggle.active:not(.acc__toggle-inner):before {
  transform: rotate(135deg);
}

.custom__accordion .acc__toggle-inner {
  font-family: "Golos";
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  padding-left: 35px;
  padding-right: 6px;
  position: relative;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
}

.custom__accordion.v-arrow .acc__toggle-inner::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 18px;
  width: 7px;
  height: 7px;
  border: solid 2px #000;
  border-left: none;
  border-bottom: none;
  transform: rotate(45deg);
  transition: 0.2s;
}
.custom__accordion.v-arrow .acc__toggle-inner.active::after {
  transform: rotate(135deg);
}

.custom__accordion.v-underline .acc__toggle-inner:not(.not_toggle):before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  width: 85%;
  margin: auto;
  height: 1px;
  background-color: #d9d9de;
}

.custom__accordion .acc__toggle.active {
  font-weight: 700;
}

.custom__accordion .inner li:last-child .acc__toggle-inner:before {
  display: none;
}
