<div class="bottom-mobile-menu d-block d-lg-none">
  <div class="bottom-mobile-menu-list bottom-mobile-menu-list_plates">
    <a class="g-link bottom-mobile-menu-list__link" href="#">О компании
    </a>
    <a class="g-link bottom-mobile-menu-list__link" href="#">Портфолио
    </a>
    <a class="g-link bottom-mobile-menu-list__link" href="#">Реквизиты
    </a>
    <a class="g-link bottom-mobile-menu-list__link" href="#">Контакты
    </a>
    <a class="g-link bottom-mobile-menu-list__link" href="#">О компании
    </a>
    <a class="g-link bottom-mobile-menu-list__link" href="#">Портфолио
    </a>
    <a class="g-link bottom-mobile-menu-list__link" href="#">Реквизиты
    </a>
    <a class="g-link bottom-mobile-menu-list__link" href="#">Контакты
    </a>
    <a class="g-link bottom-mobile-menu-list__link" href="#">О компании
    </a>
    <a class="g-link bottom-mobile-menu-list__link" href="#">Портфолио
    </a>
    <a class="g-link bottom-mobile-menu-list__link" href="#">Реквизиты
    </a>
    <a class="g-link bottom-mobile-menu-list__link" href="#">Контакты
    </a>
    <a class="g-link bottom-mobile-menu-list__link" href="#">О компании
    </a>
    <a class="g-link bottom-mobile-menu-list__link" href="#">Портфолио
    </a>
    <a class="g-link bottom-mobile-menu-list__link" href="#">Реквизиты
    </a>
    <a class="g-link bottom-mobile-menu-list__link" href="#">Контакты
    </a>
  </div>

  <div class="bottom-mobile-menu__content">
    <div class="bottom-mobile-menu__row">
      <a class="bottom-mobile-menu-button bottom-mobile-menu-button_active" href="#">
        <div class="bottom-mobile-menu-button__inner">
          <div class="bottom-mobile-menu-button__icon-wrapper">
            <img class="bottom-mobile-menu-button__icon bottom-mobile-menu-button__icon_hidden"
              src="@images/home.svg" alt="">
            <img class="bottom-mobile-menu-button__icon bottom-mobile-menu-button__icon_always-active"
              src="@images/home-active.svg" alt="">
          </div>
        </div>
      </a>
      <a href="#" class="bottom-mobile-menu-button">
        <div class="bottom-mobile-menu-button__inner">
          <div class="bottom-mobile-menu-button__icon-wrapper">
            <img class="bottom-mobile-menu-button__icon"
              src="@images/search.svg" alt="">
            <img class="bottom-mobile-menu-button__icon bottom-mobile-menu-button__icon_active"
              src="@images/search-active.svg" alt="">
          </div>
        </div>
      </a>
      <a class="bottom-mobile-menu-button" href="#">
        <div class="bottom-mobile-menu-button__inner">
          <div class="bottom-mobile-menu-button__icon-wrapper">
            <span class="bottom-mobile-menu-button__counter">99</span>
            <img class="bottom-mobile-menu-button__icon"
              src="@images/cart.svg" alt="">
            <img class="bottom-mobile-menu-button__icon bottom-mobile-menu-button__icon_active"
              src="@images/cart-active.svg" alt="">
          </div>
        </div>
      </a>
      <button data-toggle-bottom-dropdown="" class="bottom-mobile-menu-button">
        <div class="bottom-mobile-menu-button__inner">
          <div class="bottom-mobile-menu-button__icon-wrapper">
            <img class="bottom-mobile-menu-button__icon"
              src="@images/other.svg" alt="">
            <img class="bottom-mobile-menu-button__icon bottom-mobile-menu-button__icon_active"
              src="@images/other-active.svg" alt="">
          </div>
        </div>
      </button>
    </div>
  </div>

</div>