<div class="product-item">
  <a href="/catalog/product/tovar-1/" class="product-item__link">
    <div class="product-item__image">
      <div class="product-card-slideshow">
        <div class="product-card-slideshow__images">
          <img data-sector-image="1" class="product-card-slideshow__image product-card-slideshow__image_active"
            src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/banner-content-1.png" alt="Товар 1" />
          <img data-sector-image="2" class="product-card-slideshow__image"
            src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/26128 1.jpg" alt="Товар 1" />
          <img data-sector-image="3" class="product-card-slideshow__image"
            src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/56dcc810efa71925168c0d36d5c3fbf7.png"
            alt="Товар 1" />
          <img data-sector-image="4" class="product-card-slideshow__image"
            src="https://luzhetskiy.github.io/stroyker-k1-html-dev/images/banner-content-1.png" alt="Товар 1" />
        </div>
        <div class="product-card-slideshow__sectors">
          <div data-sector="1" class="product-card-slideshow__sector"></div>
          <div data-sector="2" class="product-card-slideshow__sector"></div>
          <div data-sector="3" class="product-card-slideshow__sector"></div>
          <div data-sector="4" class="product-card-slideshow__sector"></div>
        </div>
        <div class="product-card-slideshow__dots">
          <div data-sector-dot="1" class="product-card-slideshow__dot product-card-slideshow__dot_active">
          </div>
          <div data-sector-dot="2" class="product-card-slideshow__dot"></div>
          <div data-sector-dot="3" class="product-card-slideshow__dot"></div>
          <div data-sector-dot="4" class="product-card-slideshow__dot"></div>
        </div>
      </div>

      <span class="product-item__flag-content">
        <span class="product-item__flag product-item__flag--hit">Хит</span>
        <span class="product-item__flag product-item__flag--sale">sale</span>
        <span class="product-item__flag product-item__flag--new">new</span>
      </span>
      <!-- @include ../product-card-sell-badge/product-card-sell-badge.html -->
    </div>

    <span class="product-item__content-top">
      <span class="product-item__head">
        <span class="product-item__art">001</span>

        <span class="product-item__rating">
          <span class="star star--full"></span>
          <span class="star star--full"></span>
          <span class="star star--full"></span>
          <span class="star star--half"></span>
          <span class="star star--empty"></span>
        </span>
      </span>
      <span class="product-item__name">Фанера влагостойкая 12x2500х1250 мм</span>

      <div class="product-item__status product-item__status--none">
        нет в наличии
      </div>

      <span class="product-item__cost">
        <span class="product-item__cost-product">89 537,50 ₽<span> ₽/шт</span></span>
        <span class="product-item__cost-old"> 99 999,99 ₽</span>
      </span>

      <span class="product-item__balance">0</span>

      <span class="product-item__line-cost">1&nbsp;000,00</span>
      <span class="product-item__line-cost"></span>
    </span>
  </a>
  <div class="product-item__content-bottom">
    <div class="product-item__btns">
      <div class="shopping-cart-product">
        <a href="#question-main" data-product-code="001" data-product-name="Товар 1"
          class="btn-border not-for-sale not-available btn-small button-theme button-theme_secondary">
          Узнать о наличии</a>
      </div>
    </div>
  </div>
</div>